[2016-09-27 22:29] designerbrent opened #1 "Extending to Support Plugins"
This is just a placeholder for the future, but I'm interested in looking at extending our ALPS Wordpress theme to make use of something like this [Church Theme Content Plugin](https://churchthemes.com/guides/developer/church-theme-content/).

[2016-10-26 18:23] tpitre opened #2 "Article & News Article post template"
**Article Pattern** - http://alps.adventist.io/public/?p=pages-article
**News Article Pattern** - http://alps.adventist.io/public/?p=pages-news-article
**Article Full Page** - http://alps.adventist.io/public/patterns/04-pages-article/04-pages-article.html
**News Article Full Page** - http://alps.adventist.io/public/patterns/04-pages-news-article/04-pages-news-article.html
**Article Live Site** - h

[2016-10-26 18:25] tpitre opened #3 "Single page template"
**Pattern** - http://alps.adventist.io/public/?p=pages-single-page
**Full Page** - http://alps.adventist.io/public/patterns/04-pages-sample-sites-single-page/04-pages-sample-sites-single-page.html

**Notes:**
- [Heading](https://cl.ly/393Q2K033d14) would use the same rules as other pages (default = WP title, override = ACF Display title)
- This page feels more structured than a standard page, so I

[2016-10-26 18:26] tpitre opened #4 "Search page template"
**Pattern** - http://alps.adventist.io/public/?p=pages-search
**Full Page** - http://alps.adventist.io/public/patterns/04-pages-sample-sites-search/04-pages-sample-sites-search.html

**Notes:**
- Sitewide: Template Additions should be available on this page. More on creating a custom Search page [here](https://codex.wordpress.org/Creating_a_Search_Page)
- This should be hooked up to the native WP

[2016-10-26 18:26] tpitre opened #5 "Longform page custom template"
**Pattern** - http://alps.adventist.io/public/?p=pages-longform
**Full Page** - http://alps.adventist.io/public/patterns/04-pages-longform/04-pages-longform.html

**Notes:**
- Featured image can be the article's hero image
- Page title can be the article heading, but if "Display title" is set, then that overrides default title
- Subtitle (not shown, but can be added) and [intro](http://d.pr/i/NcEY

[2016-11-01 12:01] tarigancana opened #6 "Advanced Custom Fields plugin"
To using this template, i think need to add Advanced Custom Fields plugin as depedency.
https://wordpress.org/plugins/advanced-custom-fields/

[2016-11-03 11:33] designerbrent commented on #6
Yup. That is a dependency and will be added to the install before the theme is finished. Currently it's in development.

[2016-11-04 16:43] #3 closed

[2016-11-04 16:43] #4 closed

[2016-11-04 16:43] #5 closed

[2016-11-09 20:34] #6 closed

[2016-11-10 20:51] tpitre opened #9 "Update reference block image style"
Make these images a standardized size. Let's go with the `horiz__4x3` ratio.

![img](http://d.pr/i/IUmp+)

[2016-11-10 21:05] tpitre opened #10 "Longform: Beige background shouldn't go all the way down page"
**ALPS Pattern:** http://alps.adventist.io/public/patterns/04-pages-longform/04-pages-longform.html
**Staging:** http://alps-wp.southleft.com/long-form/

![img](http://d.pr/i/4JF4+)

[2016-11-10 21:08] tpitre opened #11 "News: News page template update"
**ALPS Page:** http://alps.adventist.io/public/patterns/04-pages-news/04-pages-news.html
**Staging:** http://alps-wp.southleft.com/news/

This looks good as the [New Channel page](http://alps.adventist.io/public/patterns/04-pages-news-channel/04-pages-news-channel.html), but we also need a News landing page.

[2016-11-10 21:09] tpitre opened #12 "Single Page: Clear up PHP notices"
http://alps-wp.southleft.com/single-page/

[2016-11-10 21:10] tpitre opened #13 "Right rail news headlines should link"
![img](http://d.pr/i/qowb+)

[2016-11-10 21:13] tpitre opened #14 "Remove last crumb from breadcrumb"
It's a little redundant to have the title appear twice here. I'd say either remove it or make it just say "Article."

![img](http://d.pr/i/CRZy+)

[2016-11-10 21:17] tpitre opened #15 "Styling off on pagination"
![img](http://d.pr/i/1dWgQ+)

[2016-11-10 21:24] tpitre commented on #2
**Sample Article:** http://alps-wp.southleft.com/spirituality/finding-gods-rhythm/
**Sample News Article:** http://alps-wp.southleft.com/news/adventist-leaders-mark-religious-freedom-day/

[2016-11-10 21:24] #2 closed

[2016-11-10 22:49] #9 closed

[2016-11-10 22:49] #10 closed

[2016-11-10 22:49] #12 closed

[2016-11-10 22:49] #13 closed

[2016-11-10 22:49] #14 closed

[2016-11-15 16:22] tpitre opened #18 "Build theme switcher into ALPS WP theme"
Create a set of custom fields to allow editors to select their desired color combinations.

[2016-11-15 16:27] designerbrent opened #19 "Remove TopHat"
Please remove the tophat from the theme. This is something that will not be rolled out with the Wordpress theme.

[2016-11-15 20:51] tpitre opened #20 "Add the ability to upload main logo and logo text"

[2016-11-15 20:57] tpitre opened #21 "Scalable type within logo area"
![img](http://d.pr/i/QpyB+)

font-size: calc(1em + 1vw);

[2016-11-15 21:06] tpitre opened #22 "WP Errors"
[code]

[2016-11-16 15:51] #11 closed

[2016-11-16 15:51] #15 closed

[2016-11-16 15:51] #22 closed

[2016-11-16 16:26] tpitre opened #23 "Add a 30/70 grid option to Single Page"
![img](http://d.pr/i/GF9f+)

[2016-11-16 16:28] tpitre opened #24 "Search page missing top portion"
Stage - http://alps-wp.southleft.com/?s=bible

Should look like this - http://alps.adventist.io/public/patterns/04-pages-sample-sites-search/04-pages-sample-sites-search.html

[2016-11-16 16:30] tpitre opened #25 "Add a "breakout" option without parallax for Single Pages"
![img](http://d.pr/i/TPz3+)

[2016-11-16 16:39] tpitre opened #26 "Make right rail content pull in News content in reverse chronological order"
Right now they're manually curated. Let's make these populate automatically with a limit of 3.

[2016-11-16 16:47] tpitre opened #27 "Allow Pages to pull in latest Posts in the same category"
There's a feature request to allow Pages categorized with the same Post category to pull in the 2 latest posts and display them at the bottom of the page.

**NOTE:** This does not include the "News" posts, just default posts.

This plugin allows Pages to share Post categories so the two can be associated - https://wordpress.org/plugins/add-category-to-pages/

[2016-11-16 16:47] tpitre commented on #27
This would remove the manual block association that currently exists.

[2016-11-16 16:52] tpitre opened #28 "Menu system not appearing correctly when theme is tested in a fresh install of WP"
The primary menu is appearing in the footer, and the secondary menu isn't appearing at all.

To reproduce, create a new database and point your wp-config to that. Do a fresh WP installation and activate the ALPS theme.

[2016-11-16 16:55] tpitre opened #29 "Default home page should display latest posts"
Not all sites that'll be using this theme are as robust as the adventist.org site. For these sites, the default WP installation should show the home page with the latest posts (standard blog-like functionality).

To view the theme with default content, create a new database and point your wp-config to that. Do a fresh WP installation and activate the ALPS theme.

[2016-11-16 16:56] tpitre opened #30 "Bundle ALPS theme with WordPress.org"
Investigate how the theme should be distributed.

[2016-11-16 19:39] designerbrent opened #31 "Reference Block Error"
I was trying something on the staging server and saved the home page with no content selected in a reference block.

It resulted in the following error on the homepage:
`Warning: Invalid argument supplied for foreach() in /var/www/alps-wordpress/wp-content/themes/alps-wordpress/templates/block-layout.php on line 115`

![screenshot 2016-11-16 14 36 54](https://cloud.githubusercontent.com/assets/132

[2016-11-16 19:42] designerbrent opened #32 "Story Block Positioning"
Can you make the story block either always use the styles that force it to align to the bottom or give a checkbox option to align on the bottom?

Currently, if there is not enough content in the primary column, the story won't hold to the bottom.

![2016-11-16 at 2 39 pm](https://cloud.githubusercontent.com/assets/132864/20362782/c6b3f7a8-ac0a-11e6-82d4-e2e09730b592.png)

[2016-11-22 15:43] tpitre commented on #21
http://alps.adventist.io/public/?p=organisms-header-ministry-logo-alt

[2016-11-22 15:44] tpitre commented on #18
![img](http://d.pr/i/a46B+)

[2016-11-22 18:19] #20 closed

[2016-11-22 18:19] #21 closed

[2016-11-22 18:19] #23 closed

[2016-11-22 18:19] #25 closed

[2016-11-22 18:19] #26 closed

[2016-11-22 18:19] #27 closed

[2016-11-22 18:19] #28 closed

[2016-11-22 18:19] #29 closed

[2016-11-22 18:19] #31 closed

[2016-11-22 18:19] #32 closed

[2016-11-22 20:14] designerbrent commented on #18
There was no default color selected when I updated to this new version. Not sure how that works on first install, but I had to save it again to get the color to apply.

Also: Should the save button be under a heading of "Publish"?

![2016-11-22 at 3 10 pm](https://cloud.githubusercontent.com/assets/132864/20540213/4d670b04-b0c6-11e6-897c-a06e57013712.png)

[2016-11-23 15:38] #18 closed

[2016-11-23 17:00] tpitre opened #35 "New Install: Bugs & default content"
- [x] Enable default color theme
- [x] Default to the global Adventist logo (used in ALPS)
- [x] Default post layout should be full width and use [these blocks styles](http://d.pr/i/AZmN). Please include the image if one exists.

[2016-11-23 17:03] tpitre opened #36 "Investigate a way to add ACF Pro functionality without needing ACF Pro"
Distributing ACF Pro bundled with a theme may not be an option. Let's discuss what our options are if we have to remove it.

[2016-11-23 17:06] tpitre opened #37 "Enable WP Widget functionality"
Users of the ALPS WP theme would like the ability to use WP widgets to extend the functionality of their site. Let's enable a few active areas for widgets to be added and apply some default styling to them. These styles would be a part of the ALPS WP-specific theme styles, and not part of global ALPS styles.

[2016-11-30 19:43] designerbrent opened #38 "Comments Missing"
Currently, the comments are not showing on the articles. These need to be added to the theme so that administrators have this option.

[2016-11-30 19:47] designerbrent commented on #35
For the full-width default layout, please use this style:
![2016-11-30 at 2 46 pm](https://cloud.githubusercontent.com/assets/132864/20768418/e28d6552-b70b-11e6-9fb5-c485ac68c7ec.png)

https://alps.adventist.io/public/?p=molecules-media-block-row-small-to-large

[2016-11-30 20:07] tpitre commented on #38
Ok, I can enable these, but there isn't an available pattern in ALPS to assemble these. Would you like me to create one in ALPS first, or do you think these just belong to the WP theme?

[2016-11-30 20:21] designerbrent opened #39 "Breakout Block Not Showing on Default View"
Can we enable the breakout block on any view?

One method that I have used for this kind of thing in Drupal is create a block area, or widget area, that is just for the breakout block and anything in that area goes wide. If nothing is in that area, it just disappears.

[2016-11-30 20:22] designerbrent commented on #38
It's probably not a bad idea to have them in ALPS. Go ahead and add those in ALPS and then in Wordpress.

[2016-11-30 21:27] #19 closed

[2016-11-30 21:30] designerbrent commented on #38
This is dependent on adventistchurch/alps/issues/126

[2016-12-01 20:31] #35 closed

[2016-12-01 20:49] kelscahill commented on #36
This may be an option. https://piklist.com/product/piklist/ Framework seems very well written and easy to use.

[2016-12-01 21:21] tpitre commented on #36
@kelscahill This looks _very_ promising. Wanna give it a test run? Let's start with the repeater field items and see how that works. Then we try feature by feature to replace ACF Pro.

[2016-12-02 04:05] designerbrent opened #42 "Social Links Sidebar"
How do we edit the social links?

Are these a widget that can have it's location adjusted?

![2016-12-01 at 11 03 pm](https://cloud.githubusercontent.com/assets/132864/20822660/8d7d08fa-b81a-11e6-993f-2174a174b43f.png)

[2016-12-02 04:09] designerbrent opened #43 "Pager?"
The pager appears to be missing from the river of content view.

![2016-12-01 at 11 08 pm](https://cloud.githubusercontent.com/assets/132864/20822732/35ae5772-b81b-11e6-8d44-2136511073bf.png)

[2016-12-02 19:21] #37 closed

[2016-12-02 19:21] #39 closed

[2016-12-02 19:21] #43 closed

[2016-12-02 19:21] #42 closed

[2016-12-04 03:28] CameronGilroy commented on #30
I think it would be a good idea if the theme was available through wordpress.org theme library, the only problems I see are having to keep things in sync.

Found these as some answers to how to do it well [here](https://wptavern.com/wordpress-org-vs-github-for-hosting-wordpress-plugins-and-themes) (especially the last part of the article) and [here](https://wordpress.org/themes/getting-started/) w

[2016-12-05 21:16] tpitre commented on #30
@CameronGilroy Thanks for this! Yes, I'd like for this theme to be available via Wordpress.org.

I'm all for you helping out, if it's ok with @designerbrent. Thanks for offering!

[2016-12-05 21:31] designerbrent commented on #30
I'm happy to have @CameronGilroy's help on this! 👍

[2016-12-07 13:09] designerbrent commented on #36
Just wondering how this is coming along, @tpitre and @kelscahill.

[2016-12-07 13:34] designerbrent opened #44 "Rename Options Menu"
Can we rename the options menu to "ALPS Options"? That would make it more clear as to what those options apply to.

[2016-12-07 13:45] designerbrent opened #45 "Customize Footer information"
The individual installation needs to be able to customize the footer of each install. (Copyright, Address, and legal links.)

[2016-12-07 18:01] tpitre commented on #36
@designerbrent Working with it now. I'll post here with my feedback.

[2016-12-12 19:25] kelscahill commented on #36
@designerbrent @tpitre Piklist is turning out to be a great replacement for ACF. It's free, completely customizable, and has all the features of ACF Pro...and more. I have began to switch over to Piklist custom fields and have replaced about 40% of the ACF so far. Let me know if you have any questions or concerns.

[2016-12-14 16:34] kelscahill commented on #36
Status update: The only fields I have left to switch over are `Home: Row Block`. Everything else is complete. All changes are being made in the following branch: https://github.com/adventistchurch/alps-wordpress/tree/dev-piklist

[2016-12-16 11:35] designerbrent opened #47 "PikList Updates: Repeating fields not saving"
I updated my local install to the most recent version that includes the piklist plugin. It is downloaded and installed, version 0.9.9.9.

In general, I can't seem to get any of the data in those fields to save, or work, wether it is the "Sidewide: Template Additions" or the Slideshow items. I add things, but they don't show up on the front or back end.

Additionally, the repeat fields seem to be m

[2016-12-16 11:53] designerbrent opened #48 "Custom Classes on Widgets"
Related to #37, can we add custom ALPS classes to the default widgets, or even all the widgets in a region?

Possibly [something like this](http://stackoverflow.com/questions/1962741/adding-custom-class-to-every-widgets-in-wordpress-whats-your-approach).

[2016-12-16 14:19] kelscahill commented on #47
@designerbrent Can you just make sure ACF plugins are all disabled and removed? Since the field names are similar in Piklist, it conflicts and doesn't allow the fields to save.

[2016-12-16 14:24] designerbrent commented on #47
Do they just need to be disabled or uninstalled? I disabled them but not sure if there is a way to uninstall.

[2016-12-16 14:30] kelscahill commented on #47
@designerbrent I updated my comment above with more details. You should be able to just disable the plugin and be fine.

[2016-12-16 15:09] kelscahill commented on #44
The options page will no longer exist with the switch to Piklist. You can find the theme settings in `Appearance` > `Settings`

[2016-12-16 15:16] #44 closed

[2016-12-16 15:27] kelscahill commented on #48
@designerbrent Is there specific classes you have in mind? The site is currently setup to add classes like the link you posted. As each widget is added it gets a unique ID and class on the wrapper.

[2016-12-16 15:27] #36 closed

[2016-12-16 16:04] designerbrent commented on #47
Ok, so `Home Template` covers both home and channel.

However, I'm still not getting the `Sidewide: Template Additions` or `Page: Carousel` to save.

[2016-12-16 16:39] designerbrent commented on #48
Hmm.. I guess the classes I'm looking for are `.text` and `.spacing` on the basic Text widget.

![2016-12-16 at 11 34 am](https://cloud.githubusercontent.com/assets/132864/21270345/395e3436-c384-11e6-9210-37a0f9755095.png)

[2016-12-16 16:45] designerbrent opened #50 "Widget Area in Body area"
Can we add a new widget area in the main body area? The old theme had that and it allowed a bit of flexibility. It would go in the main body, but under the slideshow, above where the main text shows up.

[2016-12-16 16:48] designerbrent opened #51 "Control Sidebar News"
Can we move the news sidebar content into a widget? This would make it easier to control where it shows, and allow site admins to put things under it. Also, it would flex enough to go in the main body area. (#50)

This would allow sites to put just their news on the home page and still be able to design the rest of the front page, not just defaulting to all the most recent posts.

[2016-12-16 16:57] designerbrent commented on #45
Is it possible to put the Privacy and Legal links into a default menu that shows in that area so the titles can be customized? I'm not sure we want to include our default privacy policy and such on each site.

[2016-12-16 17:15] kelscahill commented on #50
@designerbrent The row block repeater field is still available on the `Home Template`. To see this repeater fields, just set the page template to `Home Template`. If you would like pages other than the home to have those fields, I will updated the template name/block.

![screen shot 2016-12-16 at 12 15 03 pm](https://cloud.githubusercontent.com/assets/4116362/21271535/5ab507b8-c389-11e6-9544-f2157

[2016-12-16 17:53] kelscahill commented on #47
I am looking further into the save issue.

[2016-12-16 20:18] kelscahill commented on #51
@designerbrent In the next push, the news feed will be move to an `ALPS Widget`. If you put the widget in the `Primary` section it will only show on pages with the template set as `Home Template`. The repeater block fields are also available on the `Home Template`

[2016-12-19 15:07] kelscahill commented on #45
In the next push to git, a new wordpress footer will be added. To add links to the footer, go to `Appearance` > `Menus` ...create a new menu and go to `Manage Locations`. There you will set the location of the new menu. `Primary Footer Navigation` is the dark brown bar in the footer, and `Secondary Footer Navigation` is the light brown bar in the footer.

[2016-12-19 15:28] #47 closed

[2016-12-19 15:28] #51 closed

[2016-12-19 16:28] designerbrent commented on #45
Not sure if the blame should be on ALPS or not, but when the Secondary Menu is missing, the `footer__desc` floats to the left. Ultimately, it should still stay on the left.

[2016-12-19 16:33] designerbrent commented on #50
The row block repeater is great, but it doesn't display the most recent news stories automatically, unless I'm missing something.

In an earlier version with the ACF Pro plugin, I remember seeing a way to display arbitrary stories. Is that coming back in the Piklist, @kelscahill?

[2016-12-19 16:41] designerbrent opened #53 "Footer Address Field"
Thanks for making the footer copyright and address fields editable.

I'm wondering how hard it would be to make the address field marked up with Schema markup, even if we stretch it out in one line, using spans and the `itemprop` attributes here: https://schema.org/LocalBusiness

We want this to promote good SEO practices and having this in place would be helpful, I think.

[2016-12-19 16:55] designerbrent opened #54 "Nav Bug: Sub Items not styled correctly"
It looks like the subnav items are not style correctly. The `li` should have a class of `primary-nav__subnav__link` not `primary-nav__link`.

![2016-12-19 at 11 53 am](https://cloud.githubusercontent.com/assets/132864/21321227/fa25b414-c5e1-11e6-9b8d-bf0ef68e22db.png)

[2016-12-19 17:01] designerbrent commented on #50
Sorry. I totally missed what happened with that checkin. I now see that you added the widget. Thanks!

Still interested if the arbitrary story selector is coming back.

[2016-12-19 17:11] designerbrent opened #55 ""News" catagory"
I like how creating a `News` category automatically adjusts the news templates. I'm concerned that if we don't make that category selectable, we will have problems for non-English sites. How would this work for Russian, for example? Would they need an English `News` category, as well as a localized version?

[2016-12-19 17:19] designerbrent opened #56 "Carousel: Right Text"
Can we get a checkbox to add a right aligned text box to the carousel?

Example: https://alps.adventist.io/public/?p=molecules-slide-with-right-text

[2016-12-19 17:31] designerbrent opened #57 "News Block: Pager or "more news" link"
Can we add a pager or "more news" button at the bottom of the news block?

![2016-12-19 at 12 29 pm](https://cloud.githubusercontent.com/assets/132864/21322438/016f0496-c5e7-11e6-8d3c-8c0ae534fbb7.png)

[2016-12-21 06:34] itsbm opened #58 "Broken https - mixed content"
External references in lib/setup.php are pointing to 'http://cdn.adventist.io/
Should change to '//cdn.adventist.io  to avoid mixed content

[2016-12-21 22:24] designerbrent opened #60 "2 column carousel broken"
This afternoon we switched the shift layout to using flex and it seems to have broken the 2 column carousel. This is an ALPS issue first, but there may be some elements that need fixing in the Wordpress theme once we solve it upstream.

Tracking here: adventistchurch/alps/issues/138

[2016-12-21 22:42] #60 closed

[2016-12-21 23:14] designerbrent commented on #54
This is still not fixed in the current release with PR #59. (unless WP is caching something.)

![2016-12-21 at 6 13 pm](https://cloud.githubusercontent.com/assets/132864/21409628/4891dc5e-c7a9-11e6-9ebb-069f9672a982.png)

[2016-12-21 23:17] designerbrent commented on #56
This needs to be on a per-item basis, not for the whole thing. One can be right, the other left.

[2016-12-22 14:30] designerbrent commented on #58
This should be fixed in the most recent update.

[2016-12-22 14:30] #58 closed

[2016-12-22 15:13] designerbrent commented on #45
Fixed in #59

[2016-12-22 15:13] #45 closed

[2016-12-22 15:25] designerbrent opened #61 ""Warning" in block-layout-front.php"
Not sure when this was introduced, but when I turn on WP debug mode, I'm seeing the following warning:

`Warning: Invalid argument supplied for foreach() in /Users/hardingeb/Sites/alps/alps-wordpress/wp-content/themes/alps-wordpress/templates/block-layout-front.php on line 25`

The warning only shows up when there are no blocks set for that page.

Additionally I noticed that when I (accidentally)

[2016-12-22 15:28] designerbrent opened #62 "Undefined Index..."
With debug mode turned on (like #61), there are `Notices` displayed near the footer:

`Notice
: Undefined index: footer_copyright in
/Users/hardingeb/Sites/alps/alps-wordpress/wp-content/themes/alps-wordpress/templates/footer.php
on line
3

Notice
: Undefined index: footer_address in
/Users/hardingeb/Sites/alps/alps-wordpress/wp-content/themes/alps-wordpress/templates/footer.php
on line
4

Notice

[2016-12-22 15:39] kelscahill commented on #61
@designerbrent Both #62 and #61 were issues that were fixed in the past. The site may be cached or you might want to try another pull from GIT to make sure you have all the updated code.

[2016-12-22 15:56] designerbrent opened #63 "Meaning of "Sitewide: Template Additions""
I'm wanting to clarify the meaning behind the **Sitewide: Template Additions** block. When first saw it, I thought it meant that these are things that affected every page on the site. Upon further testing and use of them, I realized that these are things that affect that article, and how it is referenced throughout the site (on page, blocks, etc).

I'm wondering if we should rename this to somethi

[2016-12-22 16:22] designerbrent commented on #61
@kelscahill On the carousel, [this function checks if the slideshow is turned on](https://github.com/adventistchurch/alps-wordpress/blob/master/templates/page-header-carousel.php#L5) but it doesn't check if there is slide content or not. The problem I had was that I turned on a slideshow, but didn't add content.

[2016-12-22 16:36] designerbrent commented on #61
@kelscahill The block argument can be fixed by wrapping [everything after line 2](https://github.com/adventistchurch/alps-wordpress/blob/master/templates/block-layout-front.php#L3) in the block-layout-front.php with an if statement:

`if ($content_block != "false") {`

(I'm working off the most recent code from the GitHub.)

[2016-12-22 18:30] #61 closed

[2016-12-22 18:39] kelscahill commented on #57
A new field is created for the `News Feed` widget. You can enter a button link and text.

[2016-12-22 18:41] kelscahill commented on #54
@designerbrent The change had to be made in the alps-theme.js. You may need to run `gulp build` to recompile the js on you local machine.

[2016-12-22 18:42] kelscahill commented on #53
New fields were created on the `settings` page, so each part of the address can be wrapped in schema data.

[2016-12-22 18:43] kelscahill commented on #50
The relationship field is added back in. Edit the homepage, then scroll down to the `Home: Block Row` and select either `Freeform` or `Relationship`.

[2016-12-22 18:44] #48 closed

[2016-12-22 18:44] #50 closed

[2016-12-22 18:44] #53 closed

[2016-12-22 18:44] #54 closed

[2016-12-22 18:44] #57 closed

[2016-12-22 20:39] designerbrent opened #66 "News: Consistent Image Size"
Is it possible to make the thumbnail images a consistent size?

![2016-12-22 at 3 36 pm](https://cloud.githubusercontent.com/assets/132864/21439572/d0e55a0a-c85c-11e6-9f66-be999fe7307c.png)

[2016-12-22 20:42] designerbrent opened #67 "Char Set Issue"
I'm testing this with a Russian site and ran into an issue with the charset on the news preview. It's not happening on every preview, but some of them have the little strange ` � ` character. When you load the full URL, the page looks fine.

How are those texts getting truncated?

![2016-12-22 at 3 36 pm](https://cloud.githubusercontent.com/assets/132864/21439626/0b4e7b18-c85d-11e6-8bbc-df2bd2d848

[2016-12-22 20:44] designerbrent opened #68 "Translating Phrases in WP"
When I worked in Drupal, there was a function `t()` that you could wrap all your text in and it would become translatable. Does Wordpress have something like that? I noticed a few of these works, like Category, All, and Read More are not translated.

![2016-12-22 at 3 42 pm](https://cloud.githubusercontent.com/assets/132864/21439669/58605098-c85d-11e6-8899-96656b0d1633.png)

[2016-12-22 20:47] tpitre commented on #68
Yup. WP has `translate($word)`

[2016-12-23 15:27] kelscahill commented on #67
We used the html entity `&hellip;`. We would be able to switch from the html entity to typing out `...`, if you would like to see if that fixes it. Let me know.

[2016-12-23 16:34] kelscahill commented on #66
We do have all the images to resize to a 4:3 ratio, however, if the image asset uploaded is not big enough to crop to the new dimensions, it will pull in the original asset as we can not size up images. So, just check the original file size and make sure its larger than 500x375px.

[2016-12-27 16:13] #56 closed

[2016-12-27 16:13] #62 closed

[2016-12-29 21:13] designerbrent commented on #63
Is it possible to make the title be `Post` or `Page` based on wether it is a post or page?

[2017-01-02 19:57] designerbrent opened #69 "News: Define Category Name"
Can we have a custom setting to define the "News" category? To make it more flexible, it would be helpful to define a category on a per-site basis.

[2017-01-02 20:03] designerbrent opened #70 "Additional Regions for Flexibility"
Would it be possible to add 2 additional regions (that aren't dependent on a template) to the main region?

This would help add some flexibility to what can be done.

Thoughts, @tpitre / @kelscahill?

![2017-01-02 at 3 00 pm](https://cloud.githubusercontent.com/assets/132864/21595512/a122e8f2-d0fc-11e6-9663-a4648658623b.png)

[2017-01-03 14:17] kelscahill commented on #63
@designerbrent unfortunately that is not possible. Would you like us to remove `Page/Post` instead?

[2017-01-03 14:27] designerbrent commented on #63
Yes, let's just remove that `Page/Post` part.

[2017-01-03 15:58] kelscahill commented on #69
@designerbrent I added a dropdown to select the category for the Post Feed widget.

[2017-01-03 16:39] #69 closed

[2017-01-06 18:56] kelscahill commented on #55
This issue should now be resolve with #69. You can define the category in the widget. The category list will be populated as you add new categories.

[2017-01-06 18:57] kelscahill commented on #70
@designerbrent what content are you thinking for each of those new regions? Would a WYSIWYG editor field suffice?

[2017-01-06 18:58] #55 closed

[2017-01-06 19:21] tpitre commented on #70
@kelscahill I meant to pass this info along to you. They're looking for two widget areas here so they can place various WP widgets.

[2017-01-09 14:51] #63 closed

[2017-01-09 14:54] #68 closed

[2017-01-09 17:09] #70 closed

[2017-01-09 22:09] #66 closed

[2017-01-09 22:13] kelscahill commented on #67
![screen shot 2017-01-09 at 5 11 02 pm](https://cloud.githubusercontent.com/assets/4116362/21785747/cef591ac-d68e-11e6-8e93-53bf88d8a309.png)

@designerbrent do you have a link to the Russian site? I can't seem to recreate that issue when I translate the page to Russian.

[2017-01-09 22:14] kelscahill commented on #24
@tpitre did we decide on removing the filter from the search or keeping it?

[2017-01-09 22:25] tpitre commented on #24
@kelscahill It'd be nice to keep it. Would it be a big life to add at least the category links in there?

[2017-01-12 15:54] kelscahill commented on #67
@designerbrent I believe this may be a copy and paste issue. I was able to recreate the char set when I copied in content from the Russian site. When you paste in content it includes html formatting from where it's copied. Just go to the text tab and make sure all html is removed and let me know if this resolves the issue.

[2017-01-12 16:06] kelscahill commented on #24
@tpitre I did some more research and testing for this issue and it's a bigger lift than expected. Seems like it will take a lot of logic or ajax to get the filter working properly. It seems above my knowledge and capabilities. I did look into plugins, but to couldn't find one that functions the way we would need it too.

[2017-01-12 18:36] tpitre commented on #24
@kelscahill Ok, let's hold off for now and focus your time on the remaining tickets. We can circle back to this at the end and discuss with @designerbrent how to handle.

[2017-01-16 12:39] designerbrent commented on #24
This is not a do-or-die feature for me. If there is no easy way to get facets in Wordpress, then I'm ok with dropping this.

[2017-01-17 22:16] designerbrent opened #74 "Footer link: "Official website of the...""
At the top of the footer, we need to tweak the wording of that goes with the logo. Currently it reads "Adventist.org is the Official website of the Seventh-day Adventist world church • View Regions". What I would like to see is something like this:

[2017-01-18 20:10] #24 closed

[2017-01-23 14:58] #38 closed

[2017-01-23 14:58] #74 closed

[2017-01-24 15:48] designerbrent opened #76 "Single Template Issues"
The single template seems to have a few issues. I've created 2 screenshots, 1 to show what I entered, and what to show the output. It appears that it is not creating paragraph breaks (or allowing the paragraph breaks to show) on the output.

Additionally, the opening text is showing up in the caption box of images. If you put a caption in an image, it replaces the opening text. However, I would ex

[2017-01-24 19:30] #76 closed

[2017-02-01 15:44] designerbrent opened #78 "Integration with internal deployment system"
We need to add in some hooks to the AdventistDeploy system we are using for the existing theme. The existing them hooks are in the [update_theme.php file here](https://github.com/adventistchurch/alps-wordpress/blob/1.x/lib/update_theme.php).

[2017-02-01 15:44] designerbrent commented on #30
This is a duplicate of #78

[2017-02-01 15:44] #30 closed

[2017-02-01 18:08] itsbm commented on #76
Image captions are not formatted and displayed in the block layout, instead the caption shortcode is displayed on the page.

[2017-02-01 18:11] itsbm opened #79 "Image captions in single page block layout"
Remaining bug from issues in #76 Image captions are not formatted and displayed in the block layout, instead the caption shortcode is displayed on the page.

[2017-02-01 19:22] tpitre commented on #79
@itsbm Thanks for brining this to our attention. Can you please provide a screenshot of the bug you're seeing?

[2017-02-01 19:35] itsbm commented on #79
![screenshot 23](https://cloud.githubusercontent.com/assets/24691686/22522973/86f42328-e872-11e6-8624-2f62779dac7f.png)

[2017-02-02 14:55] kelscahill commented on #79
@itsbm I am unable to recreate this issue. You are experiencing this issue with the `Single Template`, correct? Also, I recommend trying to clear your cache.

[2017-02-02 14:58] kelscahill commented on #78
@tpitre do you know what the api url would be?
[code]

[2017-02-02 15:12] tpitre commented on #78
@designerbrent Have you seen this - http://wp-updates.com/? [This video](http://wp-updates.com/documentation) shows how to set it up. Looks pretty simple.

[2017-02-02 16:32] itsbm commented on #79
To create the issue, create a page with template 'single template' add content block 'grid' two columns. Block type 'body'. Then add an image with caption to the block.
Sorry, I don't have a public link right now, but could set it up if you can't recreate it with this additional info.

![screenshot 25](https://cloud.githubusercontent.com/assets/24691686/22558239/d5841f34-e921-11e6-8c1b-d7624d0cf9b

[2017-02-02 16:33] itsbm commented on #79
![screenshot 26](https://cloud.githubusercontent.com/assets/24691686/22558362/415290f6-e922-11e6-87cf-920fd85f75df.png)

[2017-02-02 17:16] designerbrent commented on #78
@kelscahill The url is https://www.adventistdeploy.org/update.php

@tpitre That looks really handy. It's very similar to what we have running now, though hosted and a little easier to integrate.

[2017-02-02 17:28] tpitre commented on #78
@designerbrent Any chance you'd like to use the WP Updates service? I'm just being conscience of available hours and this feels like it has the potential to get a little involved. If you don't mid the additional hours, we'd be happy to continue to look into the custom deployment option.

[2017-02-03 15:55] kelscahill commented on #79
@itsbm It's breaking because the capability to add an image to the body is disabled, since the each row of the template has the option to upload an image to a grid column. It seems like your WYSIWYG toolbar for the body section is not correct. Do you mind providing me with your browser version and operating system to see if I can reproduce the same WYSIWYG toolbar?

You should actually be seeing t

[2017-02-06 21:20] designerbrent commented on #78
After talking with you, @tpitre, we decided to go ahead and try the WP Updates service. I'll email you the code needed for integration.

[2017-02-07 18:36] #78 closed

[2017-02-08 14:50] designerbrent opened #81 "Content Block Images Don't Display..."
The images on the Content Block freeform fields don't display if the button URL field is blank.

[2017-02-08 21:53] #79 closed

[2017-02-08 21:54] #81 closed

[2017-03-02 20:51] designerbrent opened #83 "Option to Hide page/post Author"
It would be helpful to have the option to hide the page/post author on a page.

[2017-03-02 20:53] johnrbeckett commented on #83
I'd like also to see a site-wide setting for this. Any of our sites that aren't bloggy would appreciate just turning the whole author thing off.

[2017-03-02 21:14] designerbrent commented on #83
Maybe have options on a site-wide basis and per post?

[2017-03-07 16:10] JoeWagner75 opened #84 "Menu sub-items for mobile devices"
Is it possible to change the behavior of the "burger menu" on mobile devices so that the sub-items of the menu are listed too?
Compare the experience of alps-wp.southleft.com with adventist.org on a phone.

Thank you!

[2017-03-10 12:26] designerbrent opened #85 "Single Page 100% grid layout"
On the single page template, we need the ability to add page element with a 100% width in the Structured Page Content.

[2017-03-22 15:34] designerbrent opened #86 "Display Errors in Internet Explorer 11"
We came across a couple bugs on a site using the ALPS for Wordpress while viewing on Internet Explorer 11.

Here are the screenshots:
![2017-03-22 at 11 12 am ie 11 windows 7](https://cloud.githubusercontent.com/assets/132864/24205943/33ce4226-0ef3-11e7-8450-8f96222835a3.png)

![2017-03-22 at 7 59 am - ie 11 windows 10](https://cloud.githubusercontent.com/assets/132864/24205949/3734dede-0ef3-11e7-

[2017-03-22 19:47] #84 closed

[2017-03-22 19:47] #85 closed

[2017-03-22 19:47] #86 closed

[2017-03-24 11:52] designerbrent opened #90 "Inline images not keeping the right aspect ratio"
I'm not sure if this should go into [ALPS](https://github.com/adventistchurch/alps) or in here:

Images inserted into a page are not getting displayed in the correct aspect ratio when they are portrait aspect ratio and floated left or right.

Here is an example page I created: http://alps-wp.southleft.com/beliefs/living/

[2017-03-27 09:06] #90 closed

[2017-03-27 16:01] designerbrent commented on #84
Thank you for bring this to our attention, @JoeWagner75. This bug has been fixed and once you update, in Wordpress, the bug should be fixed.

[2017-04-16 11:41] calipposcout opened #94 "Syntax error in live-preview"
After uploading the recent ZIP-File on my Wordpress 4.7.3 trying to live-preview shows this error:

`
Parse error: syntax error, unexpected '[' in /var/www/web652/html/wordpress/wp-content/themes/alps-wordpress-master/functions.php on line 12`

[2017-04-18 14:56] kelscahill commented on #94
@calipposcout I upgraded to Wordpress 4.7.3, entered `Live Preview`, and the site displayed as expected. Here is a GIF to what I am seeing http://d.pr/i/ZD1e/5n4PoNjq Could you provide me more information on the steps your are taking to see that error?

[2017-04-18 18:59] JoeWagner75 opened #97 "Problem with quotes"
Hello,

at the moment we have some issues when working with quotes. At the end of a paragraph, followed by an empty line, two "" are generated. These two "" overlap, as you can see in the attached images.
![website](https://cloud.githubusercontent.com/assets/6640772/25148009/c18c41bc-2479-11e7-9ebb-06feb648ff08.png)
![editor](https://cloud.githubusercontent.com/assets/6640772/25148031/cc1c0644-247

[2017-04-19 10:17] designerbrent commented on #97
I'm seeing similar issues when you have a short sentence. It looks like the reason is that `blockquote p` is set to `display: inline` in ALPS. [See this line](https://github.com/adventistchurch/alps/blob/4c35e61219b70c90dd3233e49ea32cd942e4be18/source/css/_base.text.scss#L35)

Is there a reason for this, @tpitre?

This issue really belongs in [the ALPS issues](https://github.com/adventistchurch/al

[2017-04-19 14:29] tpitre commented on #97
@designerbrent I think we can safely remove that `display: inline` property (and possibly adjust margins).

The `display: inline` would be for more stylized blockquotes. [Here's an explanation](https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/) of that technique, and the reason for the inline `p`.

[2017-04-21 15:53] joshuajosh59 opened #98 "Homepage Error"
When trying to make a new Homepage i get this error below
Warning: Invalid argument supplied for foreach() in /home/herita10/public_html/wp-content/themes/alps-wordpress/templates/block-layout-front.php on line 27

[2017-04-26 23:57] designerbrent opened #99 "Error on Customization Screen"
I'm getting a similar issue to #94, with Wordpress 4.7.4 and Alps for Wordpress v2.0.3, and PikList 0.9.9.12

The error is:
`customize.php?return=%2Fwp-admin%2Findex.php:3208 Uncaught SyntaxError: Unexpected token <`

![2017-04-26 at 4 51 pm](https://cloud.githubusercontent.com/assets/132864/25462008/00807492-2aa1-11e7-885b-ded551a1bdc3.png)

[2017-04-27 23:25] designerbrent commented on #67
Reopening this issue as it still remains. A possible fix, however, will be forth coming.

[2017-04-28 12:28] kelscahill commented on #99
@designerbrent The customize screen is working on my local version. I did a quick search and it could be a conflict with one of your plugins. Could you try disabling all the plugins installed and see if the issue resolves?

[2017-04-28 12:54] designerbrent commented on #99
I've tried disabling all the plugins I can. The only one left is the piklist plugin that won't disable, and I've still had no luck. Maybe we just need to reinstall the DB. I'll work at it from this end and see what we can do.

[2017-04-28 13:23] kelscahill commented on #99
If you would like, you can try exporting you DB and I'll upload it to my local to see if I can recreate the error.

[2017-04-28 15:59] #67 closed

[2017-05-01 15:58] designerbrent commented on #99
I've resolved the error. It was a local problem.

[2017-05-01 15:58] #99 closed

[2017-05-02 17:18] designerbrent opened #101 "Featured Image Caption"
The captions for featured images aren't showing up on the page. It should look like this:
![2017-05-02 at 1 17 pm](https://cloud.githubusercontent.com/assets/132864/25630047/ba696340-2f39-11e7-88d5-a20386bd3c1c.png)

[2017-05-04 11:46] designerbrent opened #102 "Home template row block"
The `Home Template` row block feature currently only supports relationships with `Post` content types. Can we make this support `Page` content types as well?

[2017-05-08 20:35] Salem874 commented on #1
Any chance of this? Particularly support for the "Church Theme Content Plugin" framework as suggested by @designerbrent ?

Would like this, there seems to be a whole host of useful plugins that require Church Theme support.

[2017-05-08 21:19] designerbrent commented on #1
This is still on the list, @Salem874. Just need to get a few other things done first! Thanks for bumping this up!

[2017-05-11 05:47] #98 closed

[2017-05-14 15:04] itsbm commented on #1
Good! Eager to see it implemented!

[2017-05-26 00:04] itsbm opened #103 "Simple single column template"
Can we add another page template that is single column and simple so that a pagebuilder can be used to manage the body content layout?  I have created one based on the default template and just removed the sidebar and breakout block.

[2017-05-30 01:26] designerbrent commented on #103
We are open to that. Would you like to create a pull request based on the work you have done?

[2017-06-11 15:26] JoeWagner75 opened #105 "Menu sub-items missing again"
Hello,

after the last WordPress-Update this bug (same effect as #84) is active again : in the mobile view the sub menus do not show up. The current version we use is 4.8.

Thanks for your great work for ALPS!

[2017-06-12 15:43] designerbrent commented on #105
It looks like it has crept back. Sorry about that. We'll address that soon.

[2017-06-15 19:56] Salem874 opened #106 "Ability to replace existing logo vector (SVG) graphics with own vectors (SVG) (and revert to defaults)"
ALPS currently has a default set of SVG logo graphics in /wp-content/themes/alps-wordpress/dist/images/ this uses the standard logos.

I'd like to replace these with a similar SVG which references our church's naming/branding.

1) Currently, youre only able to replace these with "bitmap" based images (ie jpg, png etc...not vector). I'd like to continue using vector based SVGs (I've already got the

[2017-06-15 20:31] designerbrent commented on #106
Hi @Salem874: You absolutely can edit this without editing the theme. You will find it on the theme custom settings page: `wp-admin/themes.php?page=custom_settings` Once there, it gives the options for uploading the 2 logos, square and horizontal. Those logos definitely can be uploaded as SVGs.

What do you mean by resetting to the theme's defaults?

[2017-06-16 15:01] 96yannic commented on #97
Hi together,

unfortunately we still have some problems with the quotation style. While now paragraphs are shown, it's still are just paragraphs but no empty lines hot it should be compared with the html code. Also there were put quotation marks on the beginning and the end of each paragraph which makes it not usable for text with paragraphs at the moment. You can see the this on the screenshots b

[2017-06-16 15:09] 96yannic opened #107 "Header background image not shown on news template"
Hi together,

on the news template header background pictures are not shown also they were set like in all other pages. I'm not sure if it's a bug because it also says that this function is not available on all pages, but if it's not I really can not understand this current practice because the site really would look much better this way. It would be great if you could change this.

All the best,

[2017-06-18 14:38] designerbrent commented on #105
This should be fixed in the next release. The change is committed to master and a new release will be rolled soon.

[2017-06-18 14:38] #105 closed

[2017-06-18 20:38] itsbm opened #109 "Icon shortcode?"
Are the various alps icons available for insertion in this theme? If so, please update the documentation.

[2017-06-19 15:25] tpitre commented on #97
@kelscahill Would you mind taking a look into this?

[2017-06-19 17:13] eikrej opened #110 "Main Menu Dropdown Non-functional After Update"
Hi.. just updated the ALPS theme recently.. And immediately, the dropdown of the main menu is no longer functional.  Please check.  Thank you.

[2017-06-19 17:43] designerbrent commented on #110
Hmm... that is strange. On my dev version just before the release it works. We'll take a closer look.

[2017-06-19 18:03] eikrej commented on #110
I see.  Well, anything you need to track this down.  Thanks.

[2017-06-19 18:05] kelscahill commented on #110
@eikrej I'm looking into this issue now and can't see to replicate it. Could you provide me with your browser/operating system that you're experiencing this issue? Do you also happen to have a staging url? Maybe it could be something in the database that's different from mine.

[2017-06-19 18:11] designerbrent commented on #110
@kelscahill: I had it working correctly on my test site localhost before I created the tagged release. However, when I ran the update on this site, https://identity.adventist.org/, the menus now behave as @eikrej noted. On the mobile/narrow view, they dropdown indicators show, but don't function.

[2017-06-19 18:22] kelscahill commented on #110
@designerbrent I tested https://identity.adventist.org and they seem to work for me. Maybe it's cached? http://d.pr/i/ZdyhWP/2vueWQCU

[2017-06-19 18:45] eikrej commented on #110
@kelscahill Am using Chrome/Windows 7 OS.  >> [http://picpaste.com/yanhee-BVliXjc3.JPG](url) The carrot  dropdown seems to be no longer there.

[2017-06-19 18:56] kelscahill commented on #110
Still no luck in replicating this issue @eikrej . Maybe you supply me a copy of your database?

[2017-06-19 18:58] kelscahill commented on #83
Closing this issue since it's resolved. There is a custom field added to the sidebar that allows you to hide the author. http://d.pr/i/zbYwfR/2uWGFmQd

[2017-06-19 18:58] #83 closed

[2017-06-19 19:26] designerbrent commented on #110
@eikrej Give it another try. I was having similar issues and @kelscahill's comment about the cache made me realize that I was having other issues with the CDN cache. I reset some things and cleared the cache and it looks like it's working for me...

[2017-06-19 19:49] eikrej commented on #110
Oh yeah.  I was looking at some other things to check it but failed to initially do one basic thing - clear one's browser's cache.. Now it's working well.  Thanks guys.  False alarm ^__^

[2017-06-19 20:17] #110 closed

[2017-06-22 03:50] designerbrent opened #111 "Improved Internationalization Support"
While the theme easily supports using it in another language, it is currently lacking when it comes to using it in more the 1 language. This is a placeholder issue to store thoughts and issues related to internationalization.

- [x] Support for Switching languages
- [x] Support for switching the logo
- [ ] Research best  plugins for i18n support
- [x] Support for translating single page type

A fe

[2017-06-22 03:53] designerbrent opened #112 "Support for Wide Logo"
We need the ability to support the [new wide logo](https://alps.adventist.io/?p=organisms-header-division-logo).

I would say with a checkbox that possibly hides the square upload box.

[2017-06-27 23:52] AMMSSIT opened #113 "Child Theme"
Newbie to php. Could I have some assistance with creating a child theme for alps-wordpress please? I've been googling to no avail as to how to enqueue styles when they seem to be in an array and when there are multiple styles, like how Sage's is.

[2017-06-28 01:31] #103 closed

[2017-06-29 19:58] designerbrent opened #114 "Image Insert conflicts with ALPS"
Can we control the way images get inserted in the WYSIWYG blocks? Currently it conflicts with ALPS, causing images with sizing set to distort to forced proportions.

It would be helpful if it would support the [molecule figure with caption](https://alps.adventist.io/?p=molecules-figure-with-caption) markup as well.

[2017-07-05 18:47] designerbrent commented on #97
This change has been committed to ALPS with github/alps#195 and should be resolved. Please feel free to reopen this issue if it isn't fixed.

[2017-07-05 18:47] #97 closed

[2017-07-12 13:36] tpitre commented on #113
Hi, @AMMSSIT. I can help with this question. Can you tell me specifically what you're trying to do? Are you trying to load styles just for certain pages within the child theme?

[2017-07-12 14:30] AMMSSIT commented on #113
Hi Terrance,

Thanks for your reply.  My issue has actually morphed since then.  It’s no longer an issue with the child theme, it appears as though the ALPS Wordpress theme itself has a few PHP bugs.  So it’s unable to function properly - I can’t access it through the admin dashboard.  I have attached the PHP errors here in a file.  Please let me know if you can assist with this.

Thanks,

Kristyn

[2017-07-12 14:32] tpitre commented on #113
Ok, thanks. @AMMSSIT It looks like since this was a reply via email the attachment didn't come though.

[2017-07-12 14:34] AMMSSIT commented on #113
Ok, I’ll put the bugs in the body of the email:

Notice:  Undefined index: primary_navigation in /var/www/adventistmediaministries.com/wp-content/themes/alps-wordpress/patterns/components/primary-navigation.php<http://adventistmediaministries.com/wp-content/themes/alps-wordpress/patterns/components/primary-navigation.php> on line 6

Notice:  Trying to get property of non-object in /var/www/adventi

[2017-07-12 14:37] tpitre commented on #113
Ah, those are real PHP bugs. Can you please tell me the steps you took to produce this error?

[2017-07-12 14:52] AMMSSIT commented on #113
Sure.  I attempted to manually create a child theme for ALPS, but could not get it working.  So then I tried a plugin instead called Child Theme Configurator.  When the plugin attempted to create a child theme for ALPS, it logged those PHP bugs and was unable to create the child theme.

Kristyn Dolinsky
Adventist Media Ministries IT Dept
Digital Content Specialist
(805) 955-7763
kdolinsky@adventis

[2017-07-27 13:24] designerbrent opened #115 "Add tag output to post and page types"
Once [this issue](adventistchurch/alps/issues/212) gets further resolved, we need to make the tags surface on the front-end for Wordpress.

adventistchurch/alps#212

[2017-07-27 13:29] designerbrent opened #116 "Calendar support"
Once the patterns for [events and calendaring](https://github.com/adventistchurch/alps/issues/213) make it into ALPS, we need to add support for something like the [The Events Calendar](https://theeventscalendar.com/product/wordpress-events-calendar/) into this theme.

adventistchurch/alps#213

[2017-07-28 20:27] designerbrent commented on #113
hi @AMMSSIT: would you be able to try the replacing the file `patterns/components/primary-navigation.php` with the [contents in this version](https://github.com/adventistchurch/alps-wordpress/blob/b41b1e79cc9056d927ea4d2ed7d1a3383c763013/patterns/components/primary-navigation.php)? We are hoping to get this resolved for you but it would be helpful to have you test it as well.

[2017-08-03 20:05] ThePixelPixie opened #118 "Need more color scheme options"
Ideally, if you want to keep the set color schemes, just add an "Other" option. If that's selected, a color selector will appear. This way designers can choose the exact colors that are required for their group/organization. 7 color choices across such a large organization just aren't enough.

Doing the same for the secondary color would be awesome.

[2017-08-03 20:09] ThePixelPixie opened #119 "Carousel Slide Title issue"
I have a situation where the size of the Title font is far too large for the text I need in there. I can work around it by simply using the subtitle and description boxes, but NONE of them show up if I don't have anything in Title. So I'm guessing it was written with the block being conditional upon having something in the Title area. I added a space to get around that, but then the background col

[2017-08-03 20:25] ThePixelPixie opened #120 "Additional Homepage layout options needed"
Thought I could get around this by choosing the simple full-width template, but on the homepage I don't want the title to show (sure, I could write CSS to not display it, but that shouldn't have to be necessary). I need an option to have no sidebar on the homepage. Should be a pretty simple conditional to put in, or just create a separate full-width homepage template.

EDIT: It seems that the page

[2017-08-03 20:53] ThePixelPixie opened #121 "Tertiary Nav?"
Was just testing various things in the theme to get familiar with the layout, but I'm not seeing the tertiary nav anywhere. Where is it supposed to be? Or does it actually exist anywhere?

[2017-08-03 22:12] ThePixelPixie opened #122 "Why the builder?"
I'm really flummoxed as to why a builder (Piklist) is even being used for this template. There's nothing complex about it, but it's mucking with the code. Way too much extraenous code is being generated. The whole thing would be much easier to manage with Advanced Custom Fields, and using the Bootstrap framework. I'd be happy to build it out like that.

[2017-08-09 00:30] AMMSSIT commented on #113
Hi Brent,

Sorry it’s taken me a while to get back to you.  I had a time-sensitive project to finish.  I’ve just input the new code and the child theme can be successfully created now.

Thanks for the fix.

Kristyn Dolinsky
Adventist Media Ministries IT Dept
Digital Content Specialist
(805) 955-7763
kdolinsky@adventistmediacenter.com<mailto:kdolinsky@adventistmediacenter.com>

On Jul 28, 2017, at

[2017-08-14 10:27] otieno52 opened #123 "Alps post widget"
How can posts be displayed horizontally or in a grid format using alps post widget?

[2017-08-17 16:03] designerbrent commented on #122
The ALPS for Wordpress is build to support the ALPS framework. All the code used their is custom and done to support the ALPS codebase. Piklist is actually not used as a builder, per se, but provides the same functionality as Advanced Custom Fields PRO but without the need to license it for each install.

[2017-08-17 16:04] #122 closed

[2017-08-17 16:13] designerbrent commented on #118
Since ALPS for Wordpress is based directly on [ALPS](adventistchurch/alps), the color schemes directly reflect what is setup in that system. Additionally, those are the 7 color schemes that have been adopted by the global church in the [Identity Guideline System](https://identity.adventist.org). While we are open to adding more, at this point, we won't be adding an "Other" option in the theme.

[2017-08-17 16:13] #118 closed

[2017-08-17 18:15] designerbrent opened #124 "Favicon Support"
I'd like to add some default favicon's to the theme. I can create one for each color that we can include with the theme and then set it based on the color theme.

[2017-08-22 14:15] ThePixelPixie opened #125 "Too limited with colors"
If the template could be re-done to allow choosing custom colors it would be massively beneficial. The few color schemes provided just aren't going to work for the sites I'm working on. I've worked around it, but it's hacky. Why not provide a color-chooser instead of a theme chooser?

[2017-08-22 21:37] designerbrent opened #126 "Update the default logo"
The default logos need to be updated to use the following SVGs:

 - Horizontal: `https://github.com/adventistchurch/alps/blob/bede3bb26dc243eb2faf96d6a80e625eab71c70f/source/images/adventist-logo-h-en.svg`
 - Vertical:  `https://github.com/adventistchurch/alps/blob/bede3bb26dc243eb2faf96d6a80e625eab71c70f/source/images/adventist-logo-m.svg`

[2017-08-24 21:04] designerbrent opened #127 "Updates to the CDN URL"
We need to switch out the CDN URL from `cdn.adventist.io` to `cdn.adventist.org`.

Both will continue to work, but we want to ensure that all future development will be done in the most up-to-date way.

[2017-08-25 04:52] ThePixelPixie opened #128 "Page title should NOT appear on homepage"
This might be a bug? Not sure. But I've never had a homepage where I wanted the "Home" title to appear anywhere ON the page.

[2017-08-28 18:57] designerbrent opened #129 "Limiting subcontent that shows on landing pages"
At the bottom of pages, it shows all the sub pages. But it’s also showing the sub-sub pages. This needs to be controlled by the editor so it can either show all sub pages, all sub pages up to a certain depth, or have the ability to select content from a select box.

[2017-08-28 18:58] designerbrent commented on #128
This should be set so that if it is blank, it does not display.

[2017-08-28 19:00] ThePixelPixie commented on #128
I think you're misunderstanding. The Title of the page is not optional. It cannot be left blank.

[2017-08-28 19:10] designerbrent commented on #128
I guess I didn't make myself clear. This is a bug and I've assigned it to be fixed in the next version. That was my comment to the developer.

Thanks for pointing this out.

[2017-08-28 19:10] ThePixelPixie commented on #128
Let me further clarify: Every page or post HAS to have a title. But the template does not need to display it. There is no way to save a page or a post without a title. It would not make sense to do so.

[2017-08-28 19:12] ThePixelPixie commented on #128
Ahhh...my bad. Sorry.

[2017-08-28 19:18] ThePixelPixie commented on #124
Favicon for WordPress is now handled through the "Customize" area on base installs. It's probably easier to simply include those various colored icons in the media area when the theme is installed and allow the user to pick. On the other hand, I'm advocating for less-limited color choices in the first place. It may be possible, however, to use an .svg for the favicon and create a conditional in th

[2017-09-05 15:29] kelscahill commented on #121
@ThePixelPixie the tertiary navigation appears on the `News Template`. Once you set the `tertiary navigation` in the`Appearance` > `Menus`, it will then appear on any page with the template set to `News Template`. I did notice the dropdown was broken and I have implemented a fix.
![screen shot 2017-09-05 at 11 26 41 am](https://user-images.githubusercontent.com/4116362/30069011-81166d66-922d-11e7-

[2017-09-06 13:55] kelscahill commented on #124
@designerbrent Could you supply the favicon that you would like for all the theme colors? The way I plan to set this up is if a `Site Icon` is set in the customize settings it will override the default favicon based on the primary theme color selected. Unfortunately, svg favicons are not highly supported (http://caniuse.com/#feat=link-icon-svg), so I will need to create a `PNG` for each theme colo

[2017-09-06 14:38] kelscahill commented on #124
This is the favicon I created in the various theme colors. Just let me know if it should be updated.
![favicon--ming](https://user-images.githubusercontent.com/4116362/30117853-74913a54-92ef-11e7-9071-ab47865ebe8e.png)

[2017-09-06 15:37] Salem874 commented on #124
@kelscahill, could one not have a script dynamically create a PNG from the SVG file for scenario's like this? or is it that it's not worth the amount of work involved?

[2017-09-06 19:36] kelscahill commented on #114
I added a fix to prevent the images from getting distorted in the ALPs pattern lab. Pull request: https://github.com/adventistchurch/alps/pull/217

To adjust the max width and height of thumbnails, it needs to be set in the WP settings. Go to `settings` > `media`

[2017-09-07 15:04] kelscahill commented on #129
I created a new template called `Landing Page Template`. When this template is applied to a page, custom fields for related pages will appear at the bottom. You can select to show all top level child pages only, or show all child and grandchild pages, or select custom pages to show.

Please note: If the `Landing Page Template` is not set the top level pages will still show only top level child pag

[2017-09-07 15:21] kelscahill commented on #124
@Salem874 That would be very complex considering we have each of the theme colors defined in the css. So for the case it's easier to just save each favicon based on the primary theme color. That would be a good option if we had a `color picker` for the primary theme color.

[2017-09-11 03:20] ThePixelPixie opened #131 "Need Ecommerce Support"
Preferably WooCommerce, which means corresponding templates.

[2017-09-11 03:21] ThePixelPixie opened #132 "Video & WYSIWIG text"
Need the ability to add video and WYSIWIG text to the homepage header area.

[2017-09-13 18:58] ThePixelPixie opened #133 "Child page thumbnails"
These should be done using a custom image size created in the functions file, OR just with the thumbnail size that WP creates (150 x 150 by default). By using the full-size image, you're going to have different shapes, and not always circles. The border radius sometimes ends up being an oval instead of a circle when you use inconsistent image sizes here.

[2017-09-13 20:19] designerbrent opened #134 "WPML language chooser support"
I have been working with WPML.org to ensure that ALPS is compatible with their translation system. I just found out that back in May they certified it. With that working, the one last step we need to do is make sure the language switcher gets styled correctly.

You can see a demo of it working [on the WPML.org site.](http://alps.compatibility.wpml.org/sr/single-page-template/). On the site, I have

[2017-09-14 08:58] Salem874 commented on #1
Excellent, thanks @designerbrent!

I guess there's no timeframe for this (i do know these can also slip, so understand if you dont want to/cant predict.

[2017-09-18 13:33] kelscahill commented on #134
@designerbrent Are you able to provide the developer copy so I can test and style the menu?

[2017-09-18 13:47] designerbrent commented on #134
I just sent it via email, @kelscahill. Please do the work in a separate PR.

[2017-09-19 19:51] designerbrent commented on #102
Fixed by #130 and available in tag v2.0.6

[2017-09-19 19:51] #102 closed

[2017-09-19 19:52] designerbrent commented on #126
Fixed by #130 and available in tag v2.0.6

[2017-09-19 19:52] #126 closed

[2017-09-19 19:52] designerbrent commented on #112
Fixed by #130 and available in tag v2.0.6

[2017-09-19 19:52] #112 closed

[2017-09-19 19:52] designerbrent commented on #127
Fixed by #130 and available in tag v2.0.6

[2017-09-19 19:52] #127 closed

[2017-09-19 19:53] designerbrent commented on #128
Please give this a try. It is fixed by #130 and available in tag v2.0.6. If it doesn't work as expected, please reopen the ticket.

[2017-09-19 19:53] #128 closed

[2017-09-19 19:53] designerbrent commented on #119
Fixed by #130 and available in tag v2.0.6.

[2017-09-19 19:53] #119 closed

[2017-09-19 19:53] designerbrent commented on #121
Fixed by #130 and available in tag v2.0.6

[2017-09-19 19:53] #121 closed

[2017-09-19 19:53] designerbrent commented on #124
Fixed by #130 and available in tag v2.0.6

[2017-09-19 19:53] #124 closed

[2017-09-19 19:53] designerbrent commented on #129
Fixed by #130 and available in tag v2.0.6

[2017-09-19 19:53] #129 closed

[2017-09-22 08:02] iostar opened #135 "Control the excerpt_length"
On the frontpage template, the length of the „Content Block Freeform” is limited by excerpt_length. It would be nice to display the entire paragraph that is written there.

[2017-09-22 08:11] iostar commented on #83
instead of hiding the author, you can add a function in functions.php called guest author.
I am the only author of the articles, but the articles are from all the conference authors, so I write the custom field with their name.
I am actually using this from this page:
http://www.wpbeginner.com/wp-tutorials/how-to-rewrite-guest-author-name-with-custom-fields-in-wordpress/
Hope that helps.

[2017-09-22 08:13] iostar commented on #113
Will the child theme be available to the public?
It would be nice to not loose all the customizations made in the main theme.

[2017-09-22 10:34] Allandas opened #136 "Home Template not showing slider/carousal"
![image](https://user-images.githubusercontent.com/32194948/30740599-4a9aea34-9faf-11e7-8ef3-46ffc611d4ec.png)

![image](https://user-images.githubusercontent.com/32194948/30740676-8e29e610-9faf-11e7-8d8a-1e3a7c82e95b.png)

I am unable to create a carousal when I select a page as a static home page. Please refer to the images.

Regards,

Allan

[2017-09-25 20:54] designerbrent commented on #136
Hi Allan,

In order to add a carousel, please ensure that "Carousel" boxes are showing on the screen and the "Home Template" is selected (as your screenshot shows. Then you should see the "Carousel" box below the body area for you to edit and configure.

![2017-09-25 at 4 48 pm](https://user-images.githubusercontent.com/132864/30830415-03af2cc4-a212-11e7-8ae1-7ef04a6ee0f0.png)

If this doesn't sol

[2017-09-25 21:06] designerbrent commented on #123
At the moment, that is not something that can be done. However, what you can do is use the `Home Template` and achieve the same thing using the `Home: Row Block`.

[2017-09-25 21:06] #123 closed

[2017-09-26 03:20] Allandas commented on #136
Hi Designerbrent,

I cant find the checkbox under screen options, is there something else I must do?
![image](https://user-images.githubusercontent.com/32194948/30840941-a5d23ac0-a297-11e7-921d-77cbc7821a12.png)

[2017-09-26 03:25] Allandas opened #137 "Home Template not showing slider/carousal #136 -> not resolved"
Hi,

The solution that was given in the previous issue does not resolve my problem.

![image](https://user-images.githubusercontent.com/32194948/30841118-6295dde2-a298-11e7-95ed-ee5f2c32f88d.png)

I cannot find the checkbox.

[2017-09-26 12:28] designerbrent commented on #136
Hi Allandas: It looks like you need to install the `Piklist` plugin. Right under the "Edit Page" title, it has an orange bar that is prompting you to install it. Just click the "Begin installing plugin" and follow the steps. Let me know if that resolves the problem.

`Piklist` is a required plugin that adds the functionality needed to make the carousel, and a lot of other things, work well.

[2017-09-26 12:29] designerbrent commented on #137
This is a duplicate of #136.

[2017-09-26 12:29] #137 closed

[2017-09-26 12:34] Allandas commented on #136
It works now, thanks a lot.

[2017-09-26 12:59] designerbrent commented on #136
Glad that worked!

[2017-09-26 12:59] #136 closed

[2017-09-26 20:45] designerbrent commented on #132
@ThePixelPixie: Could you give me a little more on this. Even a comp might help. Are you thinking video background? Or video in the full slideshow? Or video with a color/image background?

How do you see the WYSIWYG text working? Are you mainly thinking of bold, italics and links?

[2017-09-26 20:49] #106 closed

[2017-09-26 20:52] designerbrent opened #138 "Internationalized Logos"
We need the ability to have 1 logo set per language. So if the site is in English and German, the visitors are presented with the localized logo for that language.

I'm note sure exactly what options WPML would give us for that, but at the same time, I would rather not be too tied to a particular language plugin.

[2017-09-28 16:19] kelscahill commented on #134
@designerbrent I added the plugin, but it is giving me inconsistent results. The menu does not populate in the `primary navigation` and when in the `secondary navigation` it added the langauge but not part of the active language as a dropdown. Could this be because it's the developer version or would there be a development key to register?
![screen shot 2017-09-28 at 12 15 28 pm](https://user-imag

[2017-09-29 16:44] kelscahill commented on #138
@designerbrent I am doing some research to find the best solution for this request. I would like to try the steps outlined in this post: https://wpml.org/forums/topic/different-logo-for-each-language/ However, I am limited access because of the development version. Is there a development site key?

[2017-10-02 11:55] designerbrent commented on #134
You should have that now by email.

[2017-10-02 17:06] Salem874 commented on #106
@designerbrent - apologies for the delayed reply.

By "resetting the themes defaults" I mean resetting/going back to the default logos.

Click on the "tick" symbol on the top right of the "logo" changes the symbol it a minus/negative sign, which would make me think this will remove the icon. Saving the settings though does nothing

[2017-10-02 20:43] kelscahill commented on #138
Since we have different logo vartiations for each breakpoint the WPML Translation String plugin will not work. Another solution would be to do a conditional that would like like this:

[code]

The only problem with this would be, the logos would have to be uploaded with in the exact format defined (i.e `.png`, `.jpg`) and they would have to have a specific file name. For example, the wide desktop

[2017-10-03 19:04] #134 closed

[2017-10-04 17:19] iostar opened #140 "Custom Fields are hidden"
When trying to add some custom fields on an article, the Screen options are not displaying the Custom Fields to be checked, so, the box is hidden. This happens only when the ALPS theme is activated on the website. I suppose this is because this theme is using piklist (which uses custom fields by default). Sugestion: can Custom Fields be incorporated in Template adition?

![custom fields](https://u

[2017-10-04 18:24] designerbrent opened #141 "Extra Blank Space with no page title or content"
There is a large extra blank space when someone doesn't include a page title or body content on the home page. If you look at the picture below, you will see large gap under the carousel and before the news grid block starts. (highlighted)

![2017-10-04 at 2 19 pm](https://user-images.githubusercontent.com/132864/31192519-6dc43d62-a90f-11e7-804c-990520b4cd3f.png)

The block that is extra is:

[cod

[2017-10-04 22:10] Salem874 opened #142 "Add "slide" images on "Home page""
Not sure this is classed as a bug, more like a possible user problem.

I seem to be unable to figure out how to get a "slide" image as shown on your [templates page](http://alps.adventist.io/?p=templates-home). Is there any guidance? I'm sure i saw info somewheere but i cant find it now.

[2017-10-04 22:14] Salem874 opened #143 "ALPS theme not customisable"
Should the theme be customisable?

Unfortunately when going to WordPress Admin CP > Appearance > Customise (/wp-admin/customize.php?url=...), i get no options?

I initually looked here when looking into [how to make a customisable "home" page (with "slider")](https://github.com/adventistchurch/alps-wordpress/issues/142) that shown a more static set of "snippets" rather than blog posts (again, see

[2017-10-05 10:50] designerbrent commented on #142
The slides are available when you use the `Home Template`. On the edit page, look for the box titled "Page Attributes" and then select the "Template" `Home Template`.

![2017-10-05 at 6 47 am](https://user-images.githubusercontent.com/132864/31223733-41769d60-a999-11e7-8078-527cb69330c0.png)

Once you select that, save the page, and it will add some new features to the page, including the `Carouse

[2017-10-05 18:18] designerbrent commented on #138
Hmm, that feels a little too brittle to either have to put the logos in before hand or have to put them with the exact file name. Is there a way of building a conditional form on the settings page that only shows if WPML (or another i18n plugin) is installed?

@kelscahill

[2017-10-05 20:47] Salem874 commented on #142
Um..., ok got it.

Should the carousel creation appear on the same "Page edit" page, or is this elsewhere?, additionally, where?how is it added to the page (or is it automatic?

I didnt think i'd not find this, i'm starting to wonder if i'd accidently broken something, especially as i cannot define which page to use as Home page (see my other ticket, #143)

[2017-10-05 20:52] Salem874 commented on #126
It seems the main "square" logo no longer includes the church "name", just the symbol (logo)?

Any chance we can utilise a SVG where we can also added the local Church/Dept name as per the new guidelines?

This is what i'd originally had in mind. While i did create an SVG, including it in the page did not display as desired (text font, and sizing didnt match what they looked like embedded vs viewe

[2017-10-06 14:45] kelscahill commented on #138
@designerbrent I think I found a good solution for this.  If the WPML plugin is activated, a logo field in `Appearance` >`Settings` will populate for each language. Then, I have a conditional to display the current language logo. This does rely on the WPML plugin though.

https://github.com/adventistchurch/alps-wordpress/commit/8cc25242d4ec719963815fda6e90c2f196f9efc3

Reference Docs: https://wpml

[2017-10-06 14:46] kelscahill commented on #120
Is this issue good to be closed @designerbrent ?

[2017-10-07 20:16] nikiblu opened #146 "Piklist not working with Customizer"
In order to get all ALPS functions working I had to install Piklist. This plugin works fine, I can now change all the new settings. Unfortunately this causes my LiveView (when I open the Customizer) to only show a blank page, stating "Customizer loading..." but there never appears the LiveView.

When I delete Piklist the LifeView is working again, but I don't have the design settings anymore.
I al

[2017-10-25 15:26] designerbrent commented on #142
@Salem874 So the Carousel creation information should appear on the Edit page, as long as you have selected the `Home` template. (and assuming you have the `piklist` module installed.

As for setting the home page, we'll have to figure out the problem with the `customize` screen error, but until then, you can customize that here: `/wp-admin/options-reading.php`

[2017-10-25 19:28] kelscahill commented on #146
Seems like other people have experienced this issue. It links the the Piklist widgets and I have a comment out to the developers for a possible fix. https://piklist.com/support/topic/widgets-breaking-customizer/#post-8420

[2017-11-02 14:47] designerbrent opened #150 "Sorting Nested Pages"
When nested pages, something like the attached image, is used, how are they sorted? They don't seem to be sorted by date or alpha. When they get displayed at the bottom of a page template, they don't seem to have any reason to the sorting either.

In the short term, @kelscahill or @tpitre, could you give me some guidance on how they are sorted?

![2017-11-02 at 10 45 am](https://user-images.github

[2017-11-02 16:14] designerbrent opened #151 "Override [caption] shortcode"
The image caption code is not in line with the code in ALPS. We need to create a custom override for the `[caption]` shortcode to replace it with the [figure with caption](https://alps.adventist.io/patterns/01-molecules-media-figure-with-caption/01-molecules-media-figure-with-caption.html) ALPS pattern.

- [Caption Shortcode on Wordpress Codex](https://codex.wordpress.org/Caption_Shortcode)
- [Exa

[2017-11-02 16:39] kelscahill commented on #150
@designerbrent They are being sorted by `menu_order`. To adjust the order, select `quick edit` on a page and adjust the `order` field.
![screen shot 2017-11-02 at 12 37 26 pm](https://user-images.githubusercontent.com/4116362/32338361-e0c8ea2a-bfca-11e7-9cea-e957f33a0fd6.png)

[2017-11-02 20:15] designerbrent commented on #150
Excellent. This worked perfect. Thanks!

[2017-11-02 20:15] #150 closed

[2017-11-04 19:55] vjccruz commented on #111
I tried translate the theme to Portuguese, but only work when I changed the function translate() to __(TEXT_TO_TRANSLATE, 'sage').

I use Loco for generate the po and mo files for portuguese language.

I hope this information helps you.

Best regards,
Vasco Cruz

[2017-11-29 13:41] designerbrent opened #153 "Color settings not working"
In the current version of the Wordpress theme, the `Theme Colors` settings are not holding and default to Tree Frog and Cool, making impossible to change from the defaults.

[2017-11-29 22:32] #153 closed

[2017-11-29 22:52] #151 closed

[2018-01-09 14:08] designerbrent opened #155 "Categories in Header"
On a post page, [for example this one for the Education blog](https://educators.adventist.org/2017/12/english-article-78/), the post is categorized in a couple categories, including by "Theme" as well as "Division". This post is set with the following categories:
![2018-01-09 at 9 05 am](https://user-images.githubusercontent.com/132864/34724567-44896310-f51c-11e7-9136-c84229c64467.png)

However, w

[2018-01-10 11:20] designerbrent opened #157 "Feature Image missing Caption"
The Feature image on a post is missing the caption. Let's make sure the caption shows up on the feature images using the `Figure with Caption` pattern: https://alps.adventist.io/v2/?p=molecules-figure-with-caption

[2018-01-10 11:49] #155 closed

[2018-01-10 21:03] #157 closed

[2018-01-11 21:55] designerbrent opened #159 "Landing page block bug in IE11"
We are developing a site and noticed that the blocks at the bottom of the landing page template that display the sub pages are not working well on IE11. Can we get a fix for this?

![win10_ie_11 0](https://user-images.githubusercontent.com/132864/34849277-f0bbf43e-f6ef-11e7-8a3d-594198ffb144.jpg)

[2018-01-14 15:42] #159 closed

[2018-01-14 15:43] #138 closed

[2018-01-25 01:40] designerbrent opened #161 "Featured Image Caption error when blank"
The featured image caption shows the text from the first paragraph when the featured image caption is blank. If the caption is blank, it should not have a caption on the image.

[2018-01-25 20:18] #161 closed

[2018-04-10 07:23] wbarack opened #163 "Home Slider"
**I have noticed a very undesirable behavior with the home-page slider. Only one image displays from the carousel. Upon investigation I found even ALPS's own template page is exhibiting this hitch http://alps.adventist.io/v2/?p=pages-home Kindly offer a lasting solution.**

[2018-04-10 09:06] designerbrent commented on #163
The carousel is only intended to display one image at a time, before moving to the next image in the set. Is it behaving differently for you?

[2018-04-10 09:39] wbarack commented on #163
Kindly open the link to get the full detail of what I am saying. Images are simply not loading even for the ALPS demo! I am experiencing the exact same scenario.
https://drive.google.com/open?id=1hRNnmePXMbhkAWpHvlnQTe5bWM6ONDjx

[2018-04-10 10:12] designerbrent commented on #163
Thanks for the screenshot. That is very helpful in understanding your question. Clearly that images are supposed to be loading, as you can see from the attached screenshot below. Do you have anything blocking offsite images from loading? The images are getting loading off of Unsplash.it. [Here is a sample image.](https://picsum.photos/1300/500/)

![2018-04-10 at 6 12 am](https://user-images.github

[2018-04-10 10:57] designerbrent commented on #163
Sounds good. Feel free to reach out again if there is something we can do.

[2018-04-10 10:57] #163 closed

[2018-04-11 19:02] designerbrent opened #164 "Image rendering through Piklist broken"
Images uploaded through custom Piklist fields in the theme don't render the image.

Running `WordPress 4.9.5`, `ALPS 2.1.4`, and `Piklist 0.9.9.15`.

**To reproduce:** Go to the theme settings page and upload a new logo. The logo uploads fine, it shows like it is set for the site but when the page renders, the image is not there.

Rolling back to `Piklist 0.9.9.13` seems to make it work.

The imag

[2018-04-12 16:31] #164 closed

[2018-04-12 18:06] designerbrent opened #166 "Setting for News Category"
Currently, the News template is hardcoded to pull items from category 14. Sometimes that is the news category is that number, sometimes it is hard to get anything on that number.

Let's create a dropdown on the appearance settings page that lists all the categories available and the user can select the categories that will be displayed on the news template page.

[2018-04-13 18:55] #166 closed

[2018-04-25 12:50] 96yannic opened #168 "Hidden pictures on Home template"
It seems, that there is a bug, so that pictures are not visible on the Home template. Also we've set one picture as background in the carousel and some small ones as icons in the row block, these pictures don't appear by viewing the side in frontend.

[2018-04-27 10:09] designerbrent commented on #168
Could you tell me what version of the theme you are using? There have been issues between the PikList plugin the ALPS for Wordpress theme. Please make sure you have updated to the most recent version of PikList 0.9.9.17 and ALPS for Wordpress 2.1.7.

Once you have done that, edit your page and save it again and it should resolve the problem.

Do you have a URL I could look at to see the problem?

[2018-04-27 10:12] #142 closed

[2018-04-27 10:12] #141 closed

[2018-04-27 10:14] designerbrent commented on #125
The next version of the theme will have more theme colors, but will still not offer custom colors as that is outside the scope of the plans for this framework.

[2018-04-27 10:14] #125 closed

[2018-04-27 10:18] designerbrent commented on #107
I think this should be working now. If it continues to be a problem, please re-open this ticket and include information about the version of the theme and piklist plugin you are using.

[2018-04-27 10:18] #107 closed

[2018-04-27 10:24] #143 closed

[2018-04-27 10:26] designerbrent commented on #131
This is probably something we are not going to do right away, though if you would like to create them for integration, we would be happy to include them.

[2018-04-27 10:26] #131 closed

[2018-04-27 10:30] #120 closed

[2018-04-28 18:07] 96yannic commented on #168
Thanks for your reply. Do you think that there will be another solution for this problem instead of installing an old version of this plugin?

[2018-04-30 22:49] designerbrent commented on #168
yes,  there will be a fix coming from Piklist, I'm just not sure of the timing yet. We chased this bug earlier, releasing a fix for ALPS for Wordpress and then a fix to fix their fix. While could release a fix to ALPS for Wordpress today, we would just have to undo it when Piklist gets fixed. The easiest thing will be, unfortunately, to use an older version of the plugin for now.

[2018-05-01 04:58] 96yannic commented on #168
Thanks again for your answer. Then we will handle it the way you‘ve said and hope for a update through Piklist soon.

[2018-05-01 04:58] #168 closed

[2018-05-01 13:24] adamglowacki opened #170 "Parse error in functions.php"
I got a WordPress installation (v4.9.5) from a hosting company (home.pl) and uploaded the ALPS theme (downloaded from: **https://www.adventist.io/wp-content/uploads/2018/04/alps-wordpress-2.1.6.zip**). I can see the theme on the list in admin console. But when I try a live demo, I can see:

[2018-05-01 14:18] designerbrent commented on #170
I'm currently not able to reproduce this error in testing. I'll admit that I am testing one version newer, but nothing changed in the version I am running, 2.1.7, would affect that.

- What version of PHP is running?
- I assume it is Apache?
- Does the same thing happen with other themes?

[2018-05-01 18:43] adamglowacki commented on #170
Thank you for the response and a hint. When I checked the PHP version I discovered it was very old - v5.2. That's before the new array syntax was introduced. When I changed it to v7.2, it started working!

It didn't happen with a few other themes that I checked.

Thank you for help!

[2018-05-01 18:43] #170 closed

[2018-05-10 17:21] tpitre opened #171 "ALPS v.3 Theme Setup Tasks"
- [x] Branch off of `master` and create new "v3" master. All PRs will be to this branch.
- [x] Clone `alps-wordpress` theme and call it `alps-v3`
- [x] Update Sage base files (node modules, composer, etc)
- [x] Migrate database from staging for v2 content
- [x] Start building out pattern fields

[2018-05-24 19:01] iostar opened #173 "News page without videos or photos column"
I love that you could add in settings the name of the blog category.
Can be possible to specify another category or to add another 4 blog posts instead videos and photos?
![captura de ecran 4](https://user-images.githubusercontent.com/32191208/40505794-08d2c45a-5f9e-11e8-9d2f-23a5e622ea45.jpeg)

[2018-06-01 11:01] designerbrent commented on #173
Hmm.. that an interesting request. I'm open to it, but it may be a bit before we can do it. We are currently working to update the theme to ALPS version 3. I am, of course, always open to reviewing code!

[2018-06-26 22:37] designerbrent opened #175 "Home Row Block not working"
On the home template, the `Home: Row Block` allows you to select any number of posts with a `Content Block Relationship`. You can then choose the posts to show with a multi-select.

Using the current version of Wordpress, ALPS for Wordpress and Piklist `0.11.4`, the selector isn't working. You can select any number of posts, but none of them show on the page.

[2018-06-28 14:44] #175 closed

[2018-07-17 00:24] ccharacter opened #180 "Custom Post Type - Archive"
I need to change the default archive behavior for a custom post type; normally, if my custom post type is "school," the school archive page would be archive-school.php, which would be saved in my child theme's root folder. However, this doesn't seem to work--nor does any combination of file edits I have attempted so far (including most files in the theme root and in /templates). Any assistance wou

[2018-07-17 15:56] ccharacter opened #181 "404 page"
Most themes provide a customizable 404 page--it would be really nice if ALPS did.

[2018-07-17 18:01] ccharacter opened #182 "Blockquote styling"
Does not match that shown on the Pattern Lab, no matter what I do or where I try to use it.
http://alps.adventist.io/v2/?p=atoms-blockquote

[2018-07-17 18:58] kelscahill commented on #180
@ccharacter To get the custom post type archives working, you will need to update the permalink structure. Go to `Settings`>`Permalinks` and change it to `Post name`. Let me know if that fixes your issue.

[2018-07-17 20:01] ccharacter commented on #180
Apparently you misunderstood my question. After updating the permalink structure (which I have done multiple times in the course of setup), the archive page works. I need to edit its template so that I can *CHANGE* the way it works.

[2018-07-17 20:10] kelscahill commented on #180
Sorry for the misunderstanding. I tested and was able to create a template for the custom post type archive just fine. The file should be labeled `archive-schools.php`. I would just make sure in your functions.php that the registered post type name is the same (`schools`). Also make sure the setting `has_archive` is set to true. Here is an example of my code:

[code]

[2018-07-17 20:19] ccharacter commented on #180
@kelscahill Where should archive-schools.php live--in the theme root, or in /templates? I have tried both options already and failed miserably so far. Is there a default file upon which all archives are based, which I could use as a starting point? (That was my original question. . . )

I do not need a tutorial on how to create and manipulate CPTs. I just need to know how this theme works with the

[2018-07-17 20:24] kelscahill commented on #180
The `archive-schools.php` should live in the theme root folder. `archive.php` would be the default file if the `archive-schools.php` does not exist. If the `archive.php` does not exist, then it defaults to `index.php`.

https://developer.wordpress.org/files/2014/10/wp-hierarchy.png

[2018-07-17 20:59] ccharacter commented on #180
Okay, that works. Apparently I had not tried the correct sequence/combination before. (And I expected to find a file with more than the four lines present in index.php. . .)

On a similar note: under normal WordPress circumstances, I can edit code outside the loop by creating a php page for it. For example, www.mysite.com/test-page/ would be affected by .../themename/page-test-page.php. (With page

[2018-07-18 11:45] kelscahill commented on #180
The ALPS theme uses the default Wordpress file structure, so using a `page-$slug.php` file should work as expected. The file will need to be located in the theme root folder as well.

[2018-07-18 15:01] ccharacter commented on #180
So it seems that the trick I was missing was using the default page template. The normal steps will work *IF* the page as defined within the Dashboard/Editor uses the default template.  Presumably, it would also work for another page template if I were to copy the relevant code from that template into page-$slug.php and modify it.

Thank you very much for your help--I really appreciate being able

[2018-07-18 15:01] #180 closed

[2018-07-18 15:42] ccharacter commented on #181
Per @designerbrent 's request, the [Unisco theme](https://snapthemes.io/products/unisco-education-wordpress-theme/) is one of many that come out-of-the-box with a 404-not-found page.

[2018-08-08 13:23] meljoie opened #184 "problem with preview"
Parse error: syntax error, unexpected '[' in /home/www/nemmadventist.org/wp-content/themes/alps-wordpress/functions.php on line 12

[2018-08-14 12:32] kelscahill commented on #184
@meljoie would you be able to provide more information and a screenshot of the error location? Is the error happening on the initial install of the theme or a certain page? I am having trouble recreating this error, so any additional information you could provide will be very helpful. Thanks!

[2018-08-27 19:08] designerbrent commented on #182
@ccharacter Could you provide a screenshot of what you are getting?

[2018-08-27 19:10] designerbrent commented on #146
I think this issue has resolved itself. Please feel free to open it if it comes back in future versions.

[2018-08-27 19:10] #146 closed

[2018-08-27 19:13] designerbrent opened #185 "Gutenburg Blocks rename"
The `Gutenburg blocks` module should be renamed to `ALPS Gutenburg Blocks`.

[2018-08-27 19:39] designerbrent opened #186 "Add a default Adventist wordmark"
Please add [this logo as the default wordmark logo](https://github.com/adventistchurch/alps/blob/v3.x/source/images/logos/en/adventist-en-text--black.svg).

[2018-08-27 19:44] designerbrent opened #187 "Copyright date"
Can the copyright date be set to default to the current year automatically?

[2018-08-27 19:47] designerbrent opened #188 "Default installed plugins"
We need to make sure that the following plugins get installed on first enabling this theme:

- Gutenburg
- Piklist
- ALPS Gutenburg Blocks

Optional/Recommended:
- Yoast SEO (I know we were using this before to prioritize the main categories.

[2018-08-27 19:52] designerbrent opened #189 "Default Menus"
Can we create default menus, even if they don't have items in them? I would like to have the following:

- Primary Menu (set to top and menu drawer)
- Secondary Menu (set to top and menu drawer)
- Social Media Menu (set to footer)

[2018-08-27 19:53] designerbrent opened #190 "`Menu` Icon missing"
The `menu` icon is missing from the header.

[2018-08-28 21:16] designerbrent opened #191 "Custom Fields not showing in Gutenberg editor"
Currently, the custom fields are not editable in the Gutenberg editor.

![screencapture-109-199-108-161-secc-wp-admin-post-php-2018-08-21-11_54_09](https://user-images.githubusercontent.com/132864/44751246-a8248b00-aae5-11e8-87f0-69835bcc0169.png)

[2018-08-28 21:17] designerbrent commented on #191
Per @kelscahill's email:

[2018-08-28 21:18] designerbrent commented on #191
@kelscahill Do you have an issue number that we can following this with Piklist?

[2018-08-29 13:59] ccharacter commented on #187
Yeah--static dates are not an option. Had to disable this feature and use my own dynamic code.

[2018-08-29 14:00] ccharacter commented on #133
Still a problem. I had to set my own style to control the size, and disabled the rounding function because it was obnoxious.

[2018-08-29 14:04] ccharacter opened #192 "Mobile menus - change breakpoint"
So the primary menu works fine, converting to "hamburger" menu below 768px width. BUT I have a client who is exceedingly picky about ALL POSSIBLE MOBILE VIEWS, including landscape--which is often >768. I need to change the breakpoint for the menu. All the normal Bootstrap scripts/settings are not working because of the way ALPS handles the menu code. Help?

Also, the tertiary menu gets positioned

[2018-08-30 11:52] designerbrent commented on #133
@kelscahill Let's add a setting for the circle vs square child page thumbnail.

![2018-08-30 at 7 51 am](https://user-images.githubusercontent.com/132864/44849881-82a09a00-ac29-11e8-9025-b43e0eb1205c.png)

This should be added to the 3.x branch and the 2.x branch.

[2018-08-30 13:45] designerbrent commented on #192
On the first item, I want to refer as a question to @kelscahill and see what options we have for adjusting the breakpoint. Would that belong here or should that come from some options that need to be put into ALPS core?

@ccharacter Please remember that this is NOT Bootstrap. ALPS is it's own thing and does not seek to copy what Bootstrap does.

On your tertiary menu, (and really many of the other

[2018-08-30 15:26] ccharacter commented on #192
What is your preferred mode to continue the conversation directly, @designerbrent ? For some reason, I'm having trouble getting into Slack right now.

[2018-09-05 18:22] designerbrent opened #193 "Accordion Block missing"
The accordion block is now showing up in the dropdown to add as a block.

[2018-09-05 18:30] designerbrent opened #194 "Sabbath Column Menu not working"
When I create a blank install, create a primary menu, and add items to it, the menu drawer does not show up or the "menu" icon in the secondary menu.

[2018-09-05 18:35] designerbrent commented on #194
Once a menu is created and assigned to the secondary navigation, the `Menu` and `Search` items show up.

[2018-09-05 18:38] designerbrent commented on #194
Also, the Sabbath column does not open the menu drawer.

[2018-09-05 18:45] designerbrent opened #195 "Site branding statement"
I don't see anywhere to edit the site branding statement. It should be in the settings area.

The `Global Branding Statement`, at this point, won't be editable but should be translatable.

![2018-09-05 at 2 32 pm](https://user-images.githubusercontent.com/132864/45113908-a5471d00-b119-11e8-8dd5-259f77d48da3.png)

[2018-09-05 18:59] designerbrent opened #196 "Distribution of the Theme and Plugins"
We need to create a streamlined method of creating a new distribution for the `theme` and `plugin`.

For version 2.x, when we created a new version, these are the steps I go through to create a new version of `alps-wordpress`:

1. Update CHANGELOG.txt with detailed change details and version number.
2. Update style.css with new version number
3. Create release and tag.https://github.com/adventistc

[2018-09-05 19:08] designerbrent opened #197 "Learn More links in the menu drawer"
We need to have the `Learn More` menu links editable in the menu drawer. Probably should be a preinstalled menu with the following links:

- [Adventist.org](https://adventist.org)
- [ADRA](https://www.adra.org)
- [Adventist World Radio](https://www.awr.org)
- [Hope Channel](https://www.hopetv.org/)

[2018-09-06 11:30] kelscahill commented on #197
@designerbrent would it be okay to hard code these into the menu or will people need to update/change those links?

[2018-09-06 12:38] kelscahill commented on #191
Here is the issue number: https://github.com/piklist/piklist/issues/106

[2018-09-06 13:11] kelscahill commented on #190
This might be linked to https://github.com/adventistchurch/alps-wordpress/issues/194 @designerbrent  when the menu icon is missing, does the text `menu` appear?

[2018-09-06 19:00] kelscahill commented on #188
Noting that I will need to zip up the final folder of `gutenberg-blocks` and copy it to `alps-v3/app/plugins' when all the block issues are fixed.

[2018-09-06 19:21] #171 closed, assigned to kelscahill

[2018-09-10 14:43] kelscahill opened #198 "Gutenberg Blocks"
- [ ] Fix 2 Column Images Gutenberg Block
- [ ] Fix Gallery Gutenberg Block

[2018-09-10 15:27] kelscahill commented on #198
@designerbrent All the issues labeled `dev: review` are ready to be reviewed and closed. The latest code is pushed up to branch `v3`. I have created this ticket to log any Gutenberg block issues till Worpdress 5.0 rolls out with Gutenberg.

[2018-09-12 14:36] designerbrent commented on #185
Please make sure the plugin is fully renamed:

- [ ] Plugin name in the interface
- [ ] Plugin folder name

[2018-09-12 14:59] designerbrent commented on #187
Looks good.

[2018-09-12 14:59] #187 closed

[2018-09-12 15:09] designerbrent opened #199 "Rename tertiary_navigation/Tertiary Navigation"
Let's rename the `Tertiary Navigation` / `tertiary_navigation` to `Learn More Navigation` / `learn_more_navigation` for the navigation in the drawer.

[2018-09-12 15:10] designerbrent commented on #197
This is fairly good, but we need to rename the menu name outlined in #199.

[2018-09-12 15:20] designerbrent commented on #194
Clicking the Sabbath column doesn't do anything. It should open the menu.

[2018-09-12 15:27] designerbrent opened #200 "Sabbath column blank on first install"
On the initial install, the column is blank, no logo, no color.

It should have the white Adventist logo as well as the theme base color.

![2018-09-12 at 10 49 am](https://user-images.githubusercontent.com/132864/45435446-97941900-b67e-11e8-8772-f24d724e81fb.png)

[2018-09-12 15:35] #193 closed

[2018-09-12 15:38] designerbrent opened #201 "Gutenberg Block: Quote Block"
When using the Blockquote block, the citation is truncated to the first character when saving the page.

[2018-09-12 15:49] designerbrent opened #202 "Gutenberg Block: Video"
The video embed block doesn't seem to be working. I paste in a youtube video URL and no video loads.

[2018-09-12 16:04] designerbrent opened #203 "Gutenberg Blocks: Disable Dropcap"
Can we put a way to disable the dropcap on a page? For some pages that have short first paragraphs, it is awkward.

[2018-09-12 18:32] designerbrent opened #204 "Hero Display"
The hero images don't fully use the options that are available. The [options are outlined here](https://alps.adventist.io/v3/?p=pages-grid-7-col-heading-block-layout). The *Hero Types* should be:

- [x] 7-col full-width / full-screen
- [x] 6-col full-width / full-screen
- [x] 7-col full-width / half-screen
- [x] 6-col full-width / half-screen

Additionally, these changes be made:
- [x] Half-screen

[2018-09-12 18:41] designerbrent opened #205 "Featured Image"
Currently, setting a featured image doesn't do anything. It needs to at least be available as a thumbnail on the parent page, but it should also show in the hero image slot: https://alps.adventist.io/v3/?p=pages-article

Similar to the `heros` but with the text and image separated as 2/3 image with 1/3 text.

This is related to #204

[2018-09-12 18:48] designerbrent opened #206 "Widget areas"
@kelscahill How do the widgets work? I see two widget areas: `Primary` and `Posts`. From what I can see, `Primary` shows on pages, where does `Posts` show?

How does the `Related posts` area work? I can't get anything to show there.

[2018-09-12 18:50] designerbrent opened #207 "Post Feed ALPS 3 widgets"
The `Post Feed` widget in the `ALPS v3 Wordpress Widgets` doesn't seem to work. I can see heading, but no content.

[2018-09-18 15:37] kelscahill commented on #202
I am using the default Gutenberg Video block and it seems to be a known issue in the Gutenberg community. You can reference the issue here: https://github.com/WordPress/gutenberg/issues/8423 Would you like me to disable the block till this issue gets resolved?

[2018-09-18 16:57] designerbrent commented on #202
Yes, let's disable that for now. Let's just make sure the styling works before we disable it. That way when we learn it is working, we can re-enable it and it will be ready to go.

[2018-09-19 17:37] kelscahill commented on #205
@designerbrent For basic pages I used this featured image style here: https://alps.adventist.io/v3/?p=pages-basic-page-with-image It looks as if the hero image area you posted above (https://alps.adventist.io/v3/?p=pages-article) is dedicated to posts. Are you okay with the original basic page treatment? I added a `Featured Image Layout` field to change the posts hero form 1/3 to 1/2 if a featured

[2018-09-19 17:41] kelscahill commented on #202
Noting that I disabled the video for now.

[2018-09-21 12:28] designerbrent commented on #199
Looks good.

[2018-09-21 12:28] #199 closed

[2018-09-21 12:33] designerbrent commented on #207
Working.

[2018-09-21 12:33] #207 closed

[2018-09-26 15:48] ccharacter opened #208 "Footer Description editor"
Referring to Appearance->Settings->Footer Description

Can we *PLEASE* have a full toolbar here, or at least an option for styles and source view? Since I'm using SVG versions of the SDA logo, this little editor doesn't cut it. Not WYSIWYG by any stretch; have to use my imagination. Wouldn't trust the client with editing this. . .

Don't know if the screenshot will show up or not, but that big all

[2018-09-26 15:50] ccharacter commented on #208
Also, since the text is white on a dark background, it doesn't show up at all in the editor--which apparently is showing at least inline styles. . .
![image](https://user-images.githubusercontent.com/8517197/46092144-3f7f0b80-c182-11e8-94bb-41897196a65d.png)

[2018-09-26 17:51] ccharacter commented on #208
Never mind--I hard-coded the SVG and other necessary styling into the footer. Now it's easy enough to edit the text portion of this, though I would still wish for a source view--not least because the client is likely to do something silly like paste in from Word.

[2018-09-26 17:51] #208 closed

[2018-09-26 18:20] ccharacter opened #209 "Breadcrumb hierarchy for third-level pages"
So it looks like the wp_breadcrumbs function breaks down when a page is a grandchild of a first-level page.

As the screenshot below should show, the slug says one thing, and the breadcrumbs another. It appears to be a logical flaw of some sort. (Would've discovered this sooner, but the client just told me this morning that they wanted breadcrumbs. . . )
![image](https://user-images.githubusercont

[2018-09-26 21:56] designerbrent opened #210 ""Scroll" button on hero image doesn't work"
In the full height hero image, ,the `Scroll` button should actually scroll down but now it doesn't do anything.

[2018-09-26 21:58] designerbrent commented on #209
What catagories are applied to this article?

[2018-09-26 22:05] ccharacter commented on #209
No categories--it is simply a hierarchical page. Home->Resources->Articles->Article Title.

[2018-09-26 23:26] designerbrent opened #211 "Apostrophe in Titles"
When an apostrophe `'` is used in a titled, it gets shows the HTML encode version of the letter, as seen below:
![2018-09-26 at 7 24 pm](https://user-images.githubusercontent.com/132864/46114723-e5059f80-c1c1-11e8-9900-1b38e95370eb.png)
![2018-09-26 at 7 25 pm](https://user-images.githubusercontent.com/132864/46114727-ed5dda80-c1c1-11e8-912a-8a50dc593e84.png)
![2018-09-26 at 7 25 pm](https://user-

[2018-09-26 23:29] designerbrent opened #212 "Search url"
When searching, it defaults to the base url, `www.example.com`. Fine, but if the site is being developed in a subdirectory, it doesn't work because the url redirects to `www.example.com/?s=term` instead of `www.example.com/wordpress/?s=term`.

[2018-09-26 23:36] designerbrent opened #213 "Missing Gutenberg blocks"
Even after installing the `ALPS Gutenberg Blocks` plugin, I only see 3 blocks:
![2018-09-26 at 7 35 pm](https://user-images.githubusercontent.com/132864/46115051-60b41c00-c1c3-11e8-98e6-0b1679f67715.png)

None of the "standard" ALPS blocks are showing.

[2018-09-28 10:06] designerbrent commented on #205
@kelscahill Yes, if the page has an image, let's add the feature image like the post examples above.

[2018-09-28 20:28] designerbrent opened #214 "Additional Widget Areas"
We need to have some additional widget areas as follows:
- Top of page
- Bottom of page

[2018-10-03 17:01] designerbrent commented on #191
No activity yet on Piklist's part, but it looks like WP is getting closer to the 5.0 release: https://wptavern.com/matt-mullenweg-announces-5-0-release-plan-estimates-release-candidate-to-ship-in-november

[2018-10-03 17:16] designerbrent opened #215 "News Layout"
How would I got about creating a page like the [News page](https://alps.adventist.io/v3/?p=pages-news)? Are there Gutenberg blocks for that?

[2018-10-03 17:24] designerbrent opened #216 "Grid content page"
Can we get a setting for the content listing pages to alternate between the stacked view (current) and a grid view like the [feedblock in the sidebar here](https://alps.adventist.io/v3/?p=pages-channel-main)?

[2018-10-09 12:27] kelscahill commented on #212
@designerbrent can you confirm that the url in the Wordpress settings is set to `www.example.com/wordpress`? I'm thinking that is where the magic happens with the search url. ![Screen Shot 2018-10-09 at 8.25.28 AM.png](https://images.zenhubusercontent.com/572d0b5abf93871ccd9aa28f/18f7601e-dedd-4c46-8965-539334fe3228)

[2018-10-09 12:36] kelscahill commented on #215
To build a news page, you will need to set the page template to 'Posts Template'. Then custom fields specific to the template will appear (just us the classic editor for now).

Also, in regards to you question on #206, this is where the sidebar `Posts` appears. If you add a widget to the `Posts` sidebar, it will appear to the right of the `Post Feed: List`.

![Screen Shot 2018-10-09 at 8.30.40 AM.

[2018-10-09 12:39] kelscahill commented on #206
The `Posts` sidebar only appears on page templates set to `Posts Template`. If you add a widget to the `Posts` sidebar, it will appear to the right of the `Post Feed: List` on the page.

`Related posts` is a default Wordpress widget. It should appear a bulleted list of recent posts.

![Screen Shot 2018-10-09 at 8.39.09 AM.png](https://images.zenhubusercontent.com/572d0b5abf93871ccd9aa28f/7618247b-

[2018-10-09 13:12] kelscahill commented on #206
There was actually a bug with the `ALPS Wordpress v3 Widget: Post Feed`. Will be fixed in the next PR.

[2018-10-09 14:02] kelscahill commented on #133
@designerbrent I can't recall where this issue stands. Currently no pattern exists in the v3 theme for images on child page feed (see screenshot). Should we create a new style in v3 pattern lab for page feed with an image or just make the update in v2?

![Screen Shot 2018-10-09 at 10.01.19 AM.png](https://images.zenhubusercontent.com/572d0b5abf93871ccd9aa28f/e9f26e58-f580-455b-8b9c-5828336a19e1)

[2018-10-09 14:08] kelscahill commented on #210
Noting that I had to make updates in the `v3 Pattern Lab` theme. Once pattern lab is redeployed to the cdn and the `v3 Wordpress Theme` PR is merged, this should then work.

[2018-10-09 14:53] kelscahill commented on #202
There is still a bug with the default Gutenberg video block, however, the `embed` block now works with YouTube video urls. This block will be enabled in the next PR.

[2018-10-09 18:01] #198 closed

[2018-10-16 19:34] designerbrent opened #220 "IE 11 / Windows 10 bugs"
There is a bug we have found recently on the WP theme that I thought we had dealt with earlier but seems to be back.

There are generally two errors:
- [ ] Overflowing Images
- [x] Overflowing Text

You can see it on these two pages:

https://executivecommittee.adventist.org/
![bs_win10_ie_11 0](https://user-images.githubusercontent.com/132864/47042040-4e8d2400-d158-11e8-8b7e-9a1329f3c7c1.jpg)

ht

[2018-10-17 19:53] designerbrent commented on #210
I merged the changes for ALPS deployed them. However, it doesn't seem to do anything in the PL templates that I tried. Could you take another look at this @kelscahill and let me know what I'm missing?

[2018-10-17 20:15] designerbrent commented on #202
Looks good.

[2018-10-17 20:16] kelscahill commented on #220
I created a PR, but wasn't sure what branch production is on. Commit 2e90860 has the fix.

[2018-10-17 20:52] designerbrent commented on #206
On the `ALPS Wordpress v3 Widget: Post Feed`, can you please rename the setting option "Grid" description to the following: `Check to show the image and description side-by-side.`

[2018-10-17 20:52] #211 closed

[2018-10-17 20:52] #185 closed

[2018-10-17 20:53] #201 closed

[2018-10-17 21:34] #213 closed

[2018-10-17 21:36] #214 closed

[2018-10-17 21:46] designerbrent commented on #203
This doesn't appear to be working for me.

[2018-10-17 22:06] designerbrent commented on #216
I think this will require a new template. I want it to be a grid of the media elements like this: https://alps.adventist.io/v3/?p=pages-grid-7-col-media-block-colors

Probably will mean it will be 2 grid columns wide for each one.

[2018-10-17 22:15] designerbrent commented on #216
This ties to this post: https://github.com/adventistchurch/alps/issues/358

[2018-10-17 22:40] designerbrent commented on #220
@kelscahill Production for V2 is currently on `master`, however there are a lot of changes on the PR. Is it possible to reduce the number of changes in the PR to just what is needed for this change?

[2018-10-19 12:53] kelscahill commented on #206
Renamed. Commit reference: 4837487

[2018-10-19 13:00] kelscahill commented on #186
Ready for review.

[2018-10-19 13:41] kelscahill commented on #203
hmm, I tested and it is working for me. Pages don't have dropcaps, so I moved the custom field to the side for posts only. Are you trying it on a post that has a dropcap visible?

[2018-10-19 13:43] kelscahill commented on #210
Seems to be working for me. Maybe it was cached? https://d.pr/free/i/thfXD4

[2018-10-19 14:09] kelscahill commented on #212
I tested this and put all the files in a sub directory. By default Wordpress wants to look at the main root folder. Could you point your localhost to the `wordpress2` folder? @tpitre are you able to provide any insight on this too?

[2018-10-19 15:53] tpitre commented on #212
If you went to install WP in a subdirectory, there are some special settings that have to be made in the `.htaccess` file to tell WP how to route pages. Something like this:

[code]

The problem with this is that we keep the `.htaccess` file in git, so this would be a change you'd make locally, but can't commit.

[2018-10-22 20:14] designerbrent commented on #210
That must be it, be cause it works fine now.

[2018-10-22 21:09] designerbrent commented on #203
@kelscahill I see the updates you made to move the option to the sidebar, but I'm not seeing any change on the front end. Could there be a cache somewhere that I need to clear?

[2018-10-22 21:13] designerbrent opened #224 "Errors in Gallery"
With both the Gallery and Image (2-up) blocks, I'm getting errors after returning to the edit screen. When I add it, it looks fine on the back end. When you save the page and view it, it looks fine. However, when I view the edit page after, it gives me the following notice:
![2018-10-22 at 5.08 PM.png](https://images.zenhubusercontent.com/5bae84fa4899b55b23789476/30446904-2f0b-4df1-9cb5-3d662c9352

[2018-10-22 21:16] designerbrent commented on #206
Looks good.

[2018-10-22 21:16] #206 closed

[2018-10-22 21:18] #210 closed

[2018-10-22 22:14] #194 closed

[2018-10-22 22:14] designerbrent commented on #186
Done.

[2018-10-22 22:14] #186 closed

[2018-10-22 22:15] designerbrent commented on #200
Fixed

[2018-10-22 22:15] #200 closed

[2018-10-22 22:19] designerbrent opened #225 "Menus and Theme Settings not set on initial install"
On a fresh install on the theme, the `Learn More` menu in the drawer and the extra description blocks that show below the logo in the drawer don't show up. As soon as the theme settings page gets saved, the description blocks show, and as soon as the `Learn More` menu gets saved, the elements show up in the drawer.

Can we make those items show on the initial install of the theme?

 ![2018-10-22 a

[2018-10-22 22:19] #204 closed

[2018-10-22 22:34] designerbrent opened #226 "Images (2 up) placed wrong"
The `Images (2-up)` option is not place correctly. It needs to be bumped to the left one column.

![2018-10-22 at 6.28 PM.png](https://images.zenhubusercontent.com/5bae84fa4899b55b23789476/5a692765-9316-4cfe-90f8-0555821f786b)

[2018-10-22 22:36] designerbrent commented on #212
I have that exact thing set up in my `.htaccess` file, but I still have problems with the search.

[code]

[2018-10-22 22:53] designerbrent commented on #133
Can the image be cropped square in making the thumbnail? These ovals don't look good.

![2018-10-22 at 6 51 pm](https://user-images.githubusercontent.com/132864/47323878-a7aef900-d62b-11e8-9d68-44320d325875.png)

[2018-10-22 22:55] designerbrent commented on #220
The homepage is resolved, but the post Feature Image overflow in IE 11 is not.
![2018-10-22 at 6 54 pm](https://user-images.githubusercontent.com/132864/47323960-f9578380-d62b-11e8-95cc-22d8fc0a318c.png)

[2018-10-23 15:19] kelscahill commented on #133
Should be fixed in this PR: https://github.com/adventistchurch/alps-wordpress/pull/222

[2018-10-23 15:29] kelscahill commented on #205
New fields were added for the related pages. This is ready for testing once ALPS PL is pushed to the CDN and you have ALPS-v3 PR merged in. ![Screen Shot 2018-10-23 at 11.28.09 AM.png](https://images.zenhubusercontent.com/572d0b5abf93871ccd9aa28f/9b17724e-2df8-484f-b207-bfaba09602cc)

[2018-10-23 18:54] kelscahill commented on #220
hmm. Another instance where it appears to be working for me locally. Are you testing this locally or do you have a staging url for me to test on?
![Screen-Shot-2018-10-23-at-2.51.30-PM.jpg](https://images.zenhubusercontent.com/572d0b5abf93871ccd9aa28f/0111584b-5473-47fe-a8db-2b1a28502ff3)

[2018-10-23 22:29] designerbrent commented on #220
This is strange. I wonder if I'm not pulling down the right code. However, I looked for the changes you added and I see everything there. You are testing Windows 10, IE 11, right?

[2018-10-24 13:59] kelscahill commented on #220
Yes, I tested on Windows 10, IE 11. Maybe inspect the code and make sure the class `.text` has a max-width of 100%.

[2018-10-25 14:21] #202 closed

[2018-10-26 09:54] #226 closed

[2018-10-26 10:30] designerbrent opened #227 "Child page thumbnails for V3"
This is an issue related to #133 but for ALPS V3.

I've been working through the 3 options related to this:

- Display related pages side-by-side
- Display the related pages 3up at largest breakpoint
- Show the feature image for the related pages

There is a summary of what needs to be fixed, and what is currently working:

**Display related pages side-by-side**
- [x] Displays side-by-side.
- [x]

[2018-10-26 10:52] designerbrent commented on #216
This work great on the parent/child pages, but it should apply to the category pages as well.

We need to be able to set the options so that on category pages and the default homepage a site will be able to set:
- [ ] Display related pages side-by-side
- [ ] Display the related pages 3up at largest breakpoint
- [ ] Show the feature image for the related pages

[2018-10-26 11:13] designerbrent commented on #203
@kelscahill After more testing, I found that when I went into the `Classic Editor`, the dropcap setting works, but when I edit using the `Gutenberg Editor`, the dropcap setting doesn't work.

Is this a limitation of PikList?

[2018-10-26 14:53] kelscahill commented on #203
Ah, yes the custom fields need to be edited in the classic editor because of this issue: https://github.com/adventistchurch/alps-wordpress/issues/191

[2018-10-26 15:40] designerbrent commented on #212
I tried adding the search block to a widget area. It worked. The `action` for the form tag is `http://alpswp3.test:8888/wordpress2/`, but when I look at the action on the search block in the drawer, it is `/`.

[2018-10-26 16:02] designerbrent commented on #220
Ok. Let's do this. Once the changes requested in #222 are done, I'll commit this in. I think something is off with my install.

[2018-10-29 12:10] kelscahill commented on #191
@tshelburne That is fine. At least we are able to save fields in the `classic editor`

[2018-10-29 19:58] kelscahill commented on #227
These changes are merged into branch `v3`. Just note, we ended up removing `composer` for the repo's root, because it was causing to many errors and files were getting lost.

[2018-10-29 22:40] designerbrent commented on #224
This is great. Thanks @tshelburne and @kelscahill.

[2018-10-29 22:40] #224 closed

[2018-10-29 22:45] designerbrent commented on #227
The option "Select to display the related pages 3up at the largest breakpoint." Doesn't seem to be working. It doesn't make any change when I select the 3up version.

![2018-10-29 at 6 42 pm](https://user-images.githubusercontent.com/132864/47684843-aee58200-dbaa-11e8-96cf-caa60d49ebb3.png)

[2018-10-29 22:47] designerbrent commented on #227
When it is in the 2up version, the columns should be moved to the right by one column.

![2018-10-29 at 6 42 pm](https://user-images.githubusercontent.com/132864/47684923-0683ed80-dbab-11e8-9f53-f5a9d750b176.png)

[2018-10-29 22:49] designerbrent commented on #216
This has the same issues as #227 with the grid placement and the 3up columns not working.

[2018-10-29 22:50] designerbrent commented on #205
This works now.

[2018-10-29 22:50] #205 closed

[2018-10-30 09:42] designerbrent commented on #220
Changes merged in #222

[2018-10-30 09:42] #220 closed

[2018-10-30 10:08] designerbrent commented on #220
I'm reopening this as the error with the feature image is still there. You can [see it in action here](https://executivecommittee.adventist.org/2018/10/14/2018-annual-council-presentations/).

![bs_win10_ie_11 0](https://user-images.githubusercontent.com/132864/47710806-154dbd00-dc0a-11e8-86e8-69449b2625d9.jpg)

[2018-10-30 13:03] kelscahill commented on #227
@designerbrent I think you may be cached again or need to pull from `v3` again. I've tested and everything seems to be working as expected. I have attached some screenshots. Let me know if you have any luck in testing.
![Screen Shot 2018-10-30 at 8.59.56 AM.png](https://images.zenhubusercontent.com/572d0b5abf93871ccd9aa28f/dec2d44f-17e8-4ea1-aacf-be5ae8c4d42c)
![Screen Shot 2018-10-30 at 9.01.42 A

[2018-10-31 11:21] designerbrent commented on #227
Not sure why I keep having these issues, but after deleting the `.cache-loader` folder before running `yarn build` again, it finally works.

[2018-10-31 11:21] #227 closed

[2018-11-01 00:44] designerbrent commented on #216
Ok, I think I found the issue I had with this and the other: The 3 column ONLY works if you have the sidebar disabled. I missed that, but I see you have a note there.

[2018-11-01 00:44] #216 closed

[2018-11-01 00:45] designerbrent commented on #133
This is now included in version 2.1.0.

[2018-11-01 00:45] #133 closed

[2018-11-01 13:38] designerbrent opened #231 "Add Footer Region"
We need a new footer region that applies to **ALL** templates that is right above the footer region that will work on any page or post.

![2018-11-01 at 9.26 AM.png](https://images.zenhubusercontent.com/5bae84fa4899b55b23789476/49edf0ba-18bd-46f5-9e2b-af6b0c3a616b)

[2018-11-01 13:50] kelscahill commented on #216
Now that you say that, I didn't even consider if the sidebar did not have any widgets. I fixed the conditional for the 3up grid to work if the sidebar is hidden or if the sidebar does not have any widgets. Pushed to `v3`.

[2018-11-01 14:19] kelscahill commented on #231
@designerbrent what will this region be used for? Should it be added as a region for widgets or a section in `Settings` that people can enter text in WYSWIG textarea.

[2018-11-01 15:16] designerbrent commented on #231
This would be an open region for widgets to add the option of a little more flexibility to the theme.

- Brent

[2018-11-01 18:12] designerbrent commented on #225
@kelscahill @tpitre Is there any way that we can make these menus and settings show up on initial install? Right now the settings that are preset and the menus that are preset don't show up until you go to the menu page and hit save or the settings page and hit save.

[2018-11-01 19:57] designerbrent opened #232 "Add WP Updates code to the functions file"
Here are the steps to take:

1. Download the [WPUpdatesThemeUpdater_2426](https://app.zenhub.com/files/65756346/48f027c2-c528-44e4-b8c0-2bacb99df41e/download) class to your theme's root folder.
2. Open up your theme's `functions.php` file and insert the following code at the bottom:
``
    require_once('wp-updates-theme.php');
    new WPUpdatesThemeUpdater_2426( 'http://wp-updates.com/api/2/theme'

[2018-11-02 17:54] kelscahill commented on #215
@designerbrent is there anything more you need from this issue or is it good to close?

[2018-11-05 00:37] designerbrent commented on #215
@kelscahill I finally figure out that you had packed a lot into that page! This is great. I missed it with the issues with Piklist.

There are really only 2 things that I see either missing or potentially problematic

**Right Headline Section**
Headline section on the right is missing. Is there an easy way to pull those in?

![2018-11-04 at 7 29 pm](https://user-images.githubusercontent.com/132864

[2018-11-05 14:21] kelscahill commented on #215
*Right Headline Section*
This section uses the `Posts Sidebar` in `Appearance > Widgets` and you can add a `ALPS v3 Wordpress Widget > Post Feed`. I built it this way to have the default Wordpress functionality if users don't want to completely customize the page with the custom fields. If you would like this section broken off into custom fields like the others, let me know.

*Hero Setting and Fu

[2018-11-05 15:13] kelscahill commented on #212
@designerbrent is this good to close based on this PR? https://github.com/adventistchurch/alps-wordpress/pull/234

[2018-11-05 16:46] designerbrent commented on #231
Looks good.

[2018-11-05 16:46] #231 closed

[2018-11-05 16:53] designerbrent commented on #212
Yes. Good to go.

[2018-11-05 16:53] #212 closed

[2018-11-05 16:54] designerbrent commented on #232
Looks good.

[2018-11-05 16:54] #232 closed

[2018-11-05 17:04] designerbrent commented on #215
@kelscahill Ok. This is fine for now. In the future, it we may circle back to the autocomplete issue. From reading, it appears it can be added with some extra coding: https://piklist.com/support/topic/autocomplete-select-field/

For now, though, I'll close this issue.

[2018-11-05 17:04] #215 closed

[2018-11-05 17:09] designerbrent opened #236 "Gutenberg Blockquote box Quote marks"
The final quote marks on the blockquote block are getting placed to low. On closer inspection, it appears that the reason this is happening is because there is a `<br />` placed at the end of the content.

![2018-11-05 at 12.06 PM.png](https://images.zenhubusercontent.com/5bae84fa4899b55b23789476/babc48b6-f58b-47e1-85ee-b9441e29ef36)

[2018-11-06 14:40] kelscahill commented on #236
A fix is pushed up to `v3`. Just be sure to clear you cache when you pull in because it was a css update.

[2018-11-06 16:19] designerbrent commented on #236
thanks,

[2018-11-06 16:19] #236 closed

[2018-11-06 20:21] milkotodorov opened #237 "Version 3 Release"
Hello, are there already any timeframe in which the V3 will be released?

[2018-11-06 20:42] designerbrent commented on #237
Hoping sooner. Depends on how much testing response we can get.

[2018-11-06 20:43] milkotodorov commented on #237
Thank you!

[2018-11-06 20:43] #237 closed

[2018-11-07 17:55] tpitre commented on #196
Hmm, that's a lot of steps. I'm looking into ways we can automate a good portion of this.

[2018-11-07 20:36] Salem874 commented on #237
Sooner than Q1? sure it wont make a 2018 release? Unless you mean sooner than the end of Q1

[2018-11-08 00:36] designerbrent commented on #237
The desire is to get it down before the end of 2018.

[2018-11-08 11:14] designerbrent commented on #196
I realize that many of those things we can NOT hit with this. However if we can get the zipping and naming steps, that would be great. Also step 2 of incrementing the version number in. If we had a way to run a Grunt/Gulp/? command that includes that version number that would set the style.css file, bundle it all up, and check the zip into a CDN branch, that would be tremendously helpful.

Many of

[2018-11-08 15:00] tpitre commented on #196
Yeah, I think so too. I think we can combine #1 and #3 using an automated tool like [this](https://github.com/github-changelog-generator/github-changelog-generator) or [this](https://www.npmjs.com/package/auto-changelog). The good thing is, we're not the only ones experiencing this cumbersome method of documenting changes.

I think the least important one is the `style.css` version. I think that c

[2018-11-08 15:54] kelscahill commented on #225
I was able add a hook to save the menus on theme install, but was unable to do the same for the `Appearance > Settings` page. For the settings I added a Wordpress notice that appears on theme switch to tell the user to save the settings for the default footer information.

'On theme activation, go to Appearance > Settings and save the settings to display the footer default information.'

[2018-11-09 07:38] designerbrent commented on #196
I tried out the download there with the release. I need the download file to be able to be uploaded right into Wordpress. This file is not structured in a way to do that.

Is there a way we can package JUST what is needed for the theme to upload into Wordpress?

[2018-11-09 14:43] tpitre commented on #196
Yeah, I think that's probably the more important piece. Getting the steps bundled into an automated process might be easier once we've got some releases/tags to work with. I'm finding it difficult to test automating the changelog without having a history of v3 releases.

I'll work with @kelscahill today to restructure the repo so only what's downloaded in the zip is what needs to be uploaded to WP

[2018-11-11 17:09] designerbrent commented on #196
@tpitre Unfortunately, WP won’t let this zip be uploaded as it requires a `style.css` and an `index.php` in the root of the zip.

[2018-11-12 18:19] milkotodorov opened #238 "Release package for V3 not complete"
Uploading the alps-wordpress-3.0.0-alpha.zip throws an error:
`The package could not be installed. The theme is missing the style.css stylesheet.`
Is the package complete? From which branch one can compile it?

[2018-11-12 21:21] designerbrent commented on #238
Thanks for your comments. This is a duplicate of #196.

[2018-11-12 21:21] #238 closed

[2018-11-13 20:34] kelscahill commented on #196
@designerbrent the theme install issue is now fixed. I moved all files out of the `resources` folder. You should now be able to zip up the theme and upload the folder in Wordpress. Pushed changes to `v3`

[2018-11-14 09:49] designerbrent commented on #196
This working much better, @kelscahill. Thanks.

@tpitre Where are things with the `changelog` files that you talked about generating as well as zipping and pushing a tagged version? I'm looking at the Kernl.us project and that may solve the issue of the builds.

[2018-11-14 10:48] designerbrent opened #239 "Review i18n strings"
We need to review the code to ensure times have all the text properly coded to make them available as translatable strings.

[2018-11-14 13:34] tpitre commented on #196
@designerbrent I paused on digging any further into the generation of the changelogs because the automated changelog results that were being returned weren't correct since there's no backlog of releases for v3. I can revisit this once we've tagged and released a few alpha versions, if necessary.

However, I did look into Kernl and I _think_ it might do the majority of the stuff you need it to do.

[2018-11-15 20:54] designerbrent opened #241 "Updates to the Kernl deploy keys"
The new Kernl deploy UUID is: `5be537a15ecd012001496112`.

[2018-11-15 21:44] tpitre opened #243 "Install and activate required theme plugins"
We need a way to fetch the Piklist and ALPS Gutenberg plugins once the alps-v3 theme is installed. ALPS Gutenberg will be fetched from its location on Kernl (coming soon) and Piklist will be fetched from its public repo.

[2018-11-15 21:46] tpitre opened #244 "Look into using Krenl webhooks to automate releases and tags"
Kernl has a tie-in with git webhooks. We can potentially use this to trigger a release and tag.

[2018-11-16 11:13] designerbrent commented on #196
I'm going to call this good. Kernl is now setup to pull on pushes into the `V3` branch.

Please be sure to log any changes via a PR with the commit message in the merge as well as the `changelog.json` file and update the version number in the `kernl.version` file.  (@kelscahill @tpitre)

[2018-11-16 11:13] #196 closed

[2018-11-16 12:34] milkotodorov opened #245 "v3.0.5 pre-release is V2.2.1"
It seems that this is the V2.2.1 in the package...
Do you have any documentation how do you pack the whole ZIP after you build the theme with yarn?

[2018-11-16 13:02] designerbrent commented on #245
Hmm. I’m guessing this is correct but I forgot to change the version number in the `style.css` file.

[2018-11-16 14:46] designerbrent commented on #245
Ok, I found the issue. It was tagged against the wrong branch. It's corrected now with `V3.0.6-alpha`.

[2018-11-16 14:46] #245 closed

[2018-11-16 20:57] kelscahill commented on #241
@designerbrent As I was testing the theme install with the plugins from GIT directories, I noticed an issue in the functions.php file. The theme would error because of this code:
[code]
I don't see the `theme_update_check.php` file in the root directory. Do you have that file somewhere? If I comment out that line, the theme uploads fine and both ALPS Gutenberg Blocks & Piklist install from their r

[2018-11-16 20:58] tpitre commented on #241
@kelscahill I do. Here it is. - https://cl.ly/512fbeb51b36

[2018-11-16 20:59] kelscahill commented on #241
Perfect, thanks!

[2018-11-19 10:45] milkotodorov opened #246 "theme_update_check.php is missing"
Hello,

the following error occurs in preview/set as active:

[code]

The file theme_update_check.php is not packed into the ZIP archive. Copying it manually works.
How do you produce the ZIP file? Manually? Or you use a script?

[2018-11-20 11:16] #246 closed

[2018-11-20 11:42] designerbrent commented on #246
This is addressed with `3.0.8-alpha`, a change which you will need to manually download to make this work. [You can download it here.](https://kernl.us/api/v1/archive/5bf3f02192b31b2d6abfa502)

[2018-11-20 12:34] milkotodorov commented on #246
How do you produce the ZIP file? Do you have a script for that?

[2018-11-20 12:36] designerbrent commented on #246
It gets packaged by the service Kernl.us from the git repo.

Is it working for you?

[2018-11-22 21:36] Salem874 opened #247 "v3 Homepage"
I'm trying to work out how to build a home page for v3 as shown on your showcase page like this: https://alps.adventist.io/v3/?p=templates-home

Is there any info, or a sample page that can be used as a starting point? This is one thing thats kept us from fully rolling out ALPS for WordPress (even version 2)

I know this isnt really an "issue", but not quite sure where else would be best to ask.

[2018-11-23 13:50] designerbrent commented on #246
Kernl.us and Github are the way they are packaged. They are not automated locally at this point.

[2018-11-23 14:05] designerbrent commented on #247
A great question. You certainly can build that page with it. Let me see if I can create a quick video of how to build a page like that next week.

I can say now, with Piklist not being updated, it will take a mix between the Classic and Gutenberg modes.

[2018-11-25 17:17] dbieling commented on #225
A little note not to that specific issue, but as general to the menu-section.
The Learn-More-Menu, is shown in the overlay-menu as "Learn-More", and there are no options, to translate this item into other languages. Maybe, there can be an option to rename it, and as a feature request, to give every menu such a heading. (In my case, it would be good, to give a name to the secondary menu as well...

[2018-11-25 18:17] dbieling commented on #213
I still encounter this issue on alpha 6? Is there a solution?

[2018-11-25 22:23] cdbieling commented on #247
I am trying to figure out, how to adjust the Date of the standard post header. There is shown in my case the category, and the date. As date, there is January 1, 1970.
But could not find any field, where to put in the correct date.
But there are fields for Display Title and Kicker. Opend Issue: #248

[2018-11-26 00:39] designerbrent commented on #247
@dbieling Could you please open this as a separate issue? It really doesn't have anything to do with the homepage.

[2018-11-26 00:41] designerbrent commented on #225
@dbieling Thanks for your comment. Please open these as new issues in the future as it's not related to this issue.

[2018-11-26 08:42] dbieling opened #248 "Form field for Date in header / feature header"
I am trying to figure out, how to adjust the Date of the standard post header. There is shown in my case the category, and the date. As date, there is January 1, 1970.
But could not find any field, where to put in the correct date.
But there are fields for Display Title and Kicker

What did I do?
Created a standard post, added a Post-Image. added Kicker, and title.

What happend:
Post was created,

[2018-11-26 08:46] dbieling opened #249 "Translation of 'Learn more' - menu entry title"
The Learn-More-Menu, is shown in the overlay-menu as "Learn-More", and there are no options, to translate this item into other languages. Maybe, there can be an option to rename it, and

As a feature request:
to give every menu such a heading. (In my case, it would be good, to give a name to the secondary menu as well... (It will ease the exploring of such a huge menu structure)

I hope, there wil

[2018-11-28 12:18] skakadu007 opened #250 "Pagination"
Hello. ALPS v3. For some reason, no pagination, when the open category posts. For example, https://adventist.org/category/news

[2018-11-28 12:35] skakadu007 commented on #250
When manually writing page 2, then everything works.
For example, https://adventist.org/category/news/page/4/
But there is no pagination.
![image](https://user-images.githubusercontent.com/20244420/49152176-b1a6d480-f31a-11e8-8223-a9b6aafe679b.png)

[2018-11-28 16:06] skakadu007 opened #251 "posts sidebar error"
I can not add widgets to the posts sidebar. That is, they are not displayed on the post. But for some reason are displayed on the category page. Here are some screenshots.

![image](https://user-images.githubusercontent.com/20244420/49164610-22a8b500-f338-11e8-8433-bd3a996e60d8.png)

![image](https://user-images.githubusercontent.com/20244420/49164629-2a685980-f338-11e8-8d7a-666e005de146.png)

![i

[2018-11-28 16:49] skakadu007 opened #252 "localization"
Are you planning to create a localization file? (.pot)

[2018-11-28 20:35] adamglowacki opened #253 "Disable AddThis buttons"
Under the title of every "regular post" there appears a bunch of buttons that lead to AddThis.com. Is there an easy way to disable them? If not, I can live with that. But in my opinion they are not particularly aesthetic.

[2018-11-28 21:20] Salem874 commented on #247
Thanks, that'll be great if you could do some kind of demo or documentation to guide in this....

Actually, is there place where documentation can be found?

[2018-11-29 18:22] skakadu007 opened #254 "v3 page top sidebar"
Some issues with the sidebar. It is not in the place where it should be.

![image](https://user-images.githubusercontent.com/20244420/49242490-8fdd4880-f413-11e8-8c23-ca0cdd564125.png)

[2018-11-29 19:12] designerbrent commented on #254
Do you have a URL where I could look at that?
- Brent

[2018-11-30 11:48] designerbrent commented on #254
Could you send me a screenshot of the widgets page?

[2018-11-30 13:46] skakadu007 commented on #254
![image](https://user-images.githubusercontent.com/20244420/49292835-067f5200-f4b7-11e8-8442-4fcdadb3ab3f.png)

[2018-11-30 13:56] skakadu007 commented on #254
But I use the children's theme. If you switch to the parent theme, then the widget name appears.

![image](https://user-images.githubusercontent.com/20244420/49293248-295e3600-f4b8-11e8-8d30-37e6f11c7553.png)

But this does not solve the bug with the location of the widget

![image](https://user-images.githubusercontent.com/20244420/49293254-31b67100-f4b8-11e8-8cef-efbd3dd8cc93.png)

[2018-12-03 23:47] dbieling opened #256 "v3 - Section: Page Header with Sabbath | wrong arrangement"
If I am using the 5grid layout of a Page Header within a Page, it shows the first grid blank, but the 2-7 grid, it places the Page header. Usually, the 7th grid, should be blank for the sabbath-column.

It works for mobile and tablet size, but for desktop and large size, it does not work.

To have a look:
https://rebrand.ly/alpsv3-header-issue

A screenshot:
![Screenshot](https://user-images.githu

[2018-12-06 20:09] dbieling commented on #256
Choosing "Post-Template" fixes the wrong-column-order issue. However, for Standard-Template, the problem remains.

[2018-12-06 20:48] dbieling opened #257 "v3 - Related page option for parent-site"
I created a site with 4 Child-sites. Used Template for the parent-Site:  Default .

**1.Issue:**
Choosing: The Option: The related site-format: none;
=> Does not hide the related sites. There are no options to hide the related sites.

**2.Issue:**
The content of the related site-content ist on every childpage the same.
Page-title is correct, but description is always same.

[2018-12-06 20:50] dbieling commented on #257
![related-page-format-none](https://user-images.githubusercontent.com/19514133/49611123-e3660e00-f9a0-11e8-9a4a-4dc367c71fd8.png)

[2018-12-09 11:54] designerbrent commented on #253
Let's remove the "Add This" buttons. Site's should be able to add them back in with a plugin.

[2018-12-11 10:33] designerbrent opened #258 "New site does not show Gutenberg blocks"
We created two new sites with the ALPS 3.0.8-alpha ([download](https://kernl.us/api/v1/archive/5bf3f02192b31b2d6abfa502)) and Wordpress 5.x.

The ALPS Gutenberg Blocks plugin gets installed and enabled, but NO blocks show up. Only the basic image, headings, embed and spacer.

![2018-12-11 at 5 32 am](https://user-images.githubusercontent.com/132864/49794700-35db5d80-fd06-11e8-92dc-30c0b0f306cc.png

[2018-12-11 11:19] designerbrent commented on #257
Even when the setting for "Related Pages Format" is set to "None" (Classic or Gutenberg) the related pages do show.

![2018-12-11 at 6 15 am](https://user-images.githubusercontent.com/132864/49797160-a2f1f180-fd0c-11e8-914e-b1ec404d7c10.png)

[2018-12-11 11:28] designerbrent commented on #256
I can't seem to reproduce this error. Is this a Page or a Post? Could you give me a screenshot of the Edit page?

[2018-12-11 11:31] designerbrent commented on #254
Regarding the issue of where that block shows, it is showing in the correct place. The `Page Top` region is not the top of the sidebar, but the top of the main region.

[2018-12-11 11:31] designerbrent commented on #254
@skakadu007 Regarding your issue of the widget names not appearing, what child theme are you using?

[2018-12-11 11:38] designerbrent commented on #249
The `Learn More` title should be translate able. This is a bug.

@kelscahill Can you make it display the name of the menu? Otherwise this should be wrapped in the `_e` function like `_e("Learn More", "sage")`

[2018-12-11 11:39] cdbieling commented on #256
`
<p><header class="c-page-header c-page-header__feature">
    <div class="c-page-header__content">
                <div class="c-media-block c-block c-block__inline c-media-block__inine c-block__hero c-block--reversed c-media-block--reversed l-grid--7-col l-grid-wrap l-grid-wrap--6-of-7">
          <div class="c-media-block__image c-block__image l-grid-item l-grid-item--m--3-col u-padding--zero--

[2018-12-11 11:40] cdbieling commented on #256
Can you access the code from above? I posted it as Code, but it displays as html?  Otherwise I will link a textfile
Here is the Textfile:

[textfile](https://cloud.dbieling.de/index.php/s/44C2QE7k4jkJAjH)

![bildschirmfoto 2018-12-11 um 12 45 01](https://user-images.githubusercontent.com/19514133/49798530-c2a40c80-fd42-11e8-9b7f-974a22255f22.png)

[2018-12-11 11:43] designerbrent commented on #249
@dbieling The Dropdown menus work for the primary menu.. What beyond that are you needing?
![2018-12-11 at 6 41 am](https://user-images.githubusercontent.com/132864/49798257-dda95900-fd0f-11e8-8107-c53dc52bfbcb.png)

Can you put your feature request into a new ticket?

[2018-12-11 11:49] designerbrent opened #259 "Missing Gutenberg block: Button"
We need a block to add a simple button with the ALPS sizing and fill options.

[2018-12-11 11:53] cdbieling commented on #248
![bildschirmfoto 2018-12-11 um 12 52 38](https://user-images.githubusercontent.com/19514133/49799907-722eae00-fd46-11e8-9bf1-f2f6d7c6abbb.png)

[2018-12-11 11:55] cdbieling commented on #249
![bildschirmfoto 2018-12-11 um 12 54 56](https://user-images.githubusercontent.com/19514133/49798986-08150980-fd44-11e8-994d-dce8a5cee602.png)

[2018-12-11 12:09] cdbieling opened #260 "v.3 - Feature Request: Overlay Menu with Headline"
As a feature request:
In the overlay Menu - give every menu such a heading-option as the "Learn More" Menu.
In my case, it would be good, to give a name to the secondary menu as well... (It will ease the exploring of such a huge menu structure

![bildschirmfoto 2018-12-11 um 12 54 56](https://user-images.githubusercontent.com/19514133/49799718-e9177700-fd45-11e8-815c-88d708c09752.png)

[2018-12-11 12:18] cdbieling commented on #257
Should I open with the second issues a new ticket?
(Sorry, I am always afraid, to open a lot of new tickets...) Will work on that

[2018-12-11 12:25] cdbieling opened #261 "v.3 Feature Request: Secondary Navigation with Dropdown-Function"
ALPS V.2 had the dropdown-function even in the secondary menu.
![bildschirmfoto 2018-12-11 um 13 20 16](https://user-images.githubusercontent.com/19514133/49800549-08af9f00-fd48-11e8-896a-e77a68e1a7c7.png)

In the Current version, there could be, maybe some little pixels more of space between the main menu and secondary?
![bildschirmfoto 2018-12-11 um 13 23 48](https://user-images.githubuserconten

[2018-12-11 12:27] cdbieling commented on #249
Opened for the Secondary Menu #261
Opened for the Feature Request: #260

[2018-12-11 16:25] kelscahill commented on #253
@designerbrent there is no instance of AddThis built into the ALPS v.3 theme. Are users seeing this if they install a certain plugin?

[2018-12-11 18:47] kelscahill commented on #258
There was an `wp-editor` error in the console for `RichText`. I added the dependency to the `ALPS Gutenberg Blocks` repo. To fix this issue, you will need to reinstall the plugin. https://github.com/adventistchurch/alps-gutenberg-blocks

[2018-12-12 22:56] designerbrent opened #266 "Errors on ALPS-Wordpress"
In setting up a site using WPML, we ran into an issue where the site won't load. In digging into the log files, we found the following errors:

[code]

[2018-12-13 10:29] designerbrent opened #267 "Required Plugins: Gutenberg"
Do we need to keep requiring the `Gutenberg` plugin for installations on Wordpress 5.x? We should put in a version check to ensure that we aren't installing unnecessary plugins.

[2018-12-13 10:33] #241 closed

[2018-12-13 10:34] #258 closed, assigned to tpitre, kelscahill

[2018-12-13 15:36] kelscahill commented on #266
@designerbrent would you be able to provide me with the development WPML plugin? It looks as if replacing and icon slug somehow. This icon `[patterns.00-atoms.icons.icon-English]` is not anywhere in the original templates, so it's reading that.

The only thing I could think of if the `title attribute` to a nav item in `Secondary Naviagtion` is set to `English`. I have updated the readme to explain

[2018-12-13 15:46] kelscahill commented on #267
I was wondering how you would like to handle this for 5.0. If a user has Wordpress 5.0 they don't need the Gutenberg plugin, however, they won't be able to switch to Classic Editor to update Piklist fields (till Piklist is fully supported with Gutenberg). In 5.0 there is a plugin to add for the classic editor. Not sure the best approach to handle for the Wordpress version.

cc: @tpitre

[2018-12-13 15:50] tpitre commented on #267
@kelscahill You might want to check the WP version and conditionally load it. Else, load the classic editor plugin.

[code]

[2018-12-13 18:07] designerbrent commented on #266
@kelscahill I've sent you a copy of the plugin. If it would be easier, I can get you access to the site in question and you can see the log files. Let me know.

[2018-12-13 20:28] cdbieling commented on #248
I found out, that this date is the **publish date** from wordpress.
However, I think, because we are church-sites, and not blog-sites, it would make a lot of sense, if we could replace the publish-date with the actual event date.
I think it would make a lot of confusion, if we make advertisement for events, with the important date in the kicker, but the date has no meaning, and the really importan

[2018-12-13 20:48] kelscahill commented on #266
@designerbrent I did have to fix some things to get the translations to work with the WPML plugin. The changes are here: e6d5249 Let me know if this fixes the issue. If not, if you could get me access to the site, that would be great.

[2018-12-14 12:46] #249 closed

[2018-12-14 12:53] #259 closed, assigned to tpitre, kelscahill

[2018-12-14 13:28] kelscahill commented on #266
@designerbrent the problem with the site that had the error was the WPML plugin was adding a menu to the secondary navigation. See screenshot. I have a conditional built into the theme to automatically populate this menu based on the languages set, so that menu is not necessary. It must populate `Title attributes` by default and conflicts with the `Secondary Navigation`. So, this doesn't happen ag

[2018-12-14 13:52] designerbrent commented on #266
@kelscahill Yes, for now let's remove that. I like having the ability to have the icons, but not at the expense of breaking something like WPML.

[2018-12-14 15:42] designerbrent opened #270 "Update the default Site Branding Statement"
Please update the default "Site Branding Statement" to the following:

[2018-12-16 02:00] #267 closed, assigned to tpitre, kelscahill

[2018-12-16 02:01] #250 closed

[2018-12-16 02:03] #239 closed

[2018-12-16 02:04] designerbrent commented on #252
We need to review the code to ensure times have all the text properly coded to make them available as translatable strings.

[2018-12-16 02:51] designerbrent commented on #248
So it sounds like you are using the posts page to create events? It really would be better suited to use a full events calendar. While many church sites currently don't post blogs are articles, we want to encourage more of that happening. Additionally, this theme is used for more then just churches.

In early 2019, we plan to add support for some events calendars. Likely it will come in form of [T

[2018-12-16 02:59] designerbrent commented on #253
@adamglowacki I know we have Add This on the main ALPS, but @kelscahill is correct: We don't have it build into the Wordpress theme. Do you have a screenshot or URL I can see?

[2018-12-16 03:03] #270 closed, assigned to tpitre, kelscahill

[2018-12-16 03:04] designerbrent commented on #256
Did you paste this HTML into the editor @dbieling? It should create the header automatically when you add an image to the page.

[2018-12-16 11:22] designerbrent opened #273 "Page Templates"
Under `Page Attributes` on a `Page` edit screen, there is a dropdown with the following options:

- Default template
- Default Template
- Posts Template

What is the difference between `Default template` and `Default Template`?

[2018-12-16 20:02] adamglowacki commented on #253
https://www.zborsosnowiec.pl/2018/11/28/biblia-i-jej-przeslanie/
Maybe it was removed in v3? I am using my own branch based on v2: https://github.com/adamglowacki/alps-wordpress/tree/pl2
As far as I know I have not installed any additional plugin - only Piklist and Yoast CEO because these were required by the theme. Nonetheless I am quite a newbie when it comes to Wordpress so I can't be fully tru

[2018-12-17 00:49] designerbrent opened #274 "More Gutenberg block types"
Looking through the latest version of `Twenty Nineteen`, I'm wondering, if these are defaults, if we could add them to ALPS:

- Code
- Custom HTML
- File
- Audio
- Recent Posts
- List
- Video: is this stable enough to add back in?
  - YouTube
  - Vimeo
- Embeds, generally
- Short code
- Archives
- Categories
- Latest Comments
- Classic
- Table

[2018-12-17 01:15] designerbrent opened #275 "Adding better i18n support"
As part of the i18n work, we need to load the theme text domain function `load_theme_textdomain` for it to take advantage of the translated text.

The documentation is here: https://codex.wordpress.org/Function_Reference/load_plugin_textdomain and https://codex.wordpress.org/Function_Reference/load_theme_textdomain

And you can see an example in the `Twenty Nineteen` theme.

Please add it in as pa

[2018-12-17 10:58] designerbrent commented on #253
Ok, so this is a `v2` thing. Yes, the Add This has been removed in `v3`.

@kelscahill Let's create an option to include this in the settings page for ALPS on `v2` that defaults to `on`, giving site admins the option to turn the tracking (and function) off.

[2018-12-17 11:32] adamglowacki commented on #253
Is it worth your effort? If v3 is about to supersede v2 in the future and I
am the only one "complaining" about it now, maybe it's better to just leave
it as it is? As I have written in the first post - it's not a big problem
for me. Just a (small) issue with aesthetics. I can live with that :-)

pon., 17 gru 2018 o 11:58 Brent Hardinge <notifications@github.com>
napisał(a):

[2018-12-17 11:45] designerbrent commented on #251
@kelscahill when / where does the `Posts Sidebar` show up?

[2018-12-17 17:43] kelscahill commented on #266
Sounds good. I removed the ability to add icons to the secondary nav via the `attribute title`. This should fix the issue with the WPML plugin as well.

[2018-12-17 17:56] kelscahill commented on #274
@designerbrent those are the defaults for Gutenberg, however I disabled them in the V3 theme because the V3 Pattern Lab did not have styles for them. Since this is a custom theme we would have to build custom styles for each block or they would look un-styled if enabled. Are those blocks something you would be interested in?

cc'ing @tpitre. Not sure if this would need it's own scope.

[2018-12-17 18:32] kelscahill commented on #275
@designerbrent Let me know if this is all that you need. https://github.com/adventistchurch/alps-wordpress/commit/2c0c49c68f5fbf786201d44181491635d862f645

[2018-12-17 18:37] kelscahill commented on #251
@designerbrent the `Posts Sidebar` appears on pages set to `Posts Template` in `Page Attributes` and not actually posts. The single/article posts currently do not have a sidebar for widgets, just a hardcoded sidebar block for `Related Stories`

[2018-12-17 18:46] designerbrent commented on #251
@kelscahill Can we rename the `Posts Sidebar` to `Posts Template Sidebar` to hopefully alleviate the confusion?

[2018-12-17 19:00] kelscahill commented on #251
Yep. I renamed the sidebar and pushed the change to branch `v3`

[2018-12-17 19:07] designerbrent commented on #274
I've gone ahead and added the following blocks as-is:

[code]
The others I'm interested in doing but we can wait. Let's get the theme out there to start with.

[2018-12-17 19:07] designerbrent commented on #274
(The ones I added I just pushed straight into `v3`.)

[2018-12-17 19:08] #274 closed, assigned to tpitre, kelscahill

[2018-12-17 19:10] #273 closed, assigned to tpitre, kelscahill

[2018-12-17 19:11] #251 closed

[2018-12-17 19:15] designerbrent opened #277 "Addtional Gutenberg block types"
Add additional Gutenberg block types:

- [x] Short code
- [x] Table
- [ ] Code
- [ ] File
- [ ] Audio
- [ ] Recent Posts
- [ ] Archives
- [ ] Categories
- [ ] Latest Comments
- [ ] Classic

[2018-12-17 21:05] skakadu007 commented on #254
![image](https://user-images.githubusercontent.com/20244420/50115298-9f4ff480-024f-11e9-8e17-9206b7d27e20.png)

I think that should be so. Here is the block to the right

https://alps.adventist.io/v3/?p=pages-home

[2018-12-17 21:07] skakadu007 commented on #254
I did the child theme myself. So far, nothing has changed, only one file style.css

[2018-12-18 22:26] designerbrent commented on #275
Thanks

[2018-12-18 22:26] #275 closed, assigned to tpitre, kelscahill

[2018-12-18 22:48] designerbrent commented on #252
The `.pot` file is not merged in. I'd love to have someone look over it for any missing strings, but I think I got most of them.

[2018-12-18 22:48] #252 closed

[2018-12-18 22:50] #257 closed

[2018-12-18 23:04] skakadu007 commented on #254
I'm sorry, it really works for the of the page sidebar

[2018-12-18 23:09] cdbieling commented on #256
Yeah, but I pasted the HTML into the editor, to have control over the section. To adjust for example the date manually. Is it wrong, to think this way?

[2018-12-18 23:12] designerbrent commented on #256
Yes, that portion of the page should be control outside of the editor. It pull from the post metadata.

[2018-12-18 23:12] #256 closed

[2018-12-18 23:26] cdbieling commented on #248
Thanks for that comment. I understand your point.
But sometimes, an easy accessible archive of events  (in form from posts with search-function) is from users greatly appreciated. At least, i can see that from the last 4 years of homepage statistics.
So I am not sure, if this problem from #256 will be solved. But if it would, a manually added html-section could be misused for that purpose.
You clo

[2018-12-19 21:11] designerbrent opened #279 "Fatal error"
I'm getting a fatal error when I update to the newest version, 3.0.10-beta:

[2018-12-19 22:36] designerbrent commented on #248
I see what you are trying to do and I think it will be great, but what you need is a proper events plugin to do that.

[2018-12-19 22:38] designerbrent commented on #256
This issue won't be fixed because the theme is not designed to post a second page header on a page. If you want to post something like this, you will need to use a media block, or something similar that can fit within the width of the content container.

[2018-12-19 22:39] designerbrent commented on #254
Great. I'll close this now, but feel free to reopen if it is not resolved.

[2018-12-19 22:39] #254 closed

[2018-12-19 22:41] cdbieling commented on #248
Thanks so much for your advise!

[2018-12-20 16:59] #279 closed, assigned to designerbrent

[2018-12-25 13:26] designerbrent opened #282 "Paragraphs not behaving correctly"
For comparison on this issue, please see the demo page that Gutenberg creates. On that page, by default, hitting enter on a paragraph creates a new paragraph block as you would expect. (You will note that the icon in the left corner of the block has a dropdown.)
![2018-12-25 at 7 29 am](https://user-images.githubusercontent.com/132864/50422251-e6715300-0816-11e9-81fe-e13267496b17.png)

However, on

[2019-01-02 13:51] milkotodorov opened #284 "Menu sub-items missing"
Hello,

In ALPS V3 the menu sub-items are not being shown correctly - sometimes they are missing totally, sometimes some of them only. Would you please provide a fix?

Regards,
Milko

[2019-01-02 21:54] #282 closed, assigned to tpitre, kelscahill

[2019-01-03 17:05] designerbrent commented on #284
@milkotodorov Do you have an example site with the problem? I'm having a hard time reproducing this without more detail.

Is this on Primary Menu items?

[2019-01-03 20:40] designerbrent commented on #266
@kelscahill I think I may have misunderstood something. I'm testing this again and realized that your menu is [still getting added](https://github.com/adventistchurch/alps-wordpress/blob/v3/views/patterns/01-molecules/navigation/secondary-navigation.blade.php#L16).

This means that the WPML meeting isn't getting added. You can [see it in action at dev.privacy.adventist.org.](https://dev.privacy.ad

[2019-01-03 21:25] designerbrent opened #285 "New Block: Latest Posts"
We need to create a recent posts block that can be inserted on to pages and posts in the block editor.

I have looked at the `Latest Posts` block that ships with core and something close to that would work, but it probably should be extended some.
![2019-01-03 at 12 34 pm](https://user-images.githubusercontent.com/132864/50662319-e6d6c000-0f73-11e9-826d-4ac7262fce62.png)

I'm thinking that it coul

[2019-01-07 18:13] kelscahill commented on #266
@designerbrent I disabled the hard coded language switcher and enabled the custom WPML language menu that users create. Let me know if it is working locally fine.

[2019-01-10 20:00] tpitre commented on #285
After discussing with @designerbrent, this is what the first release of this custom block will feature:

**Content customizations:**
- Option to choose "Latest posts" or "Latest posts within this category"
- Max amount of posts. Default should be 4, but not to exceed 12

**Visual customizations:**
- Right or left orientation. See here for both versions - https://alps.adventist.io/v3/?p=pages-news

[2019-01-10 20:19] designerbrent commented on #285
The only thing I would add is that there should be a customization that we can fall back to a more limited list, with the following options:

- Option to show/hide images
- Option to show/hide categories
- Options to show/hide date

![2019-01-10 at 3 17 pm](https://user-images.githubusercontent.com/132864/50994690-ef3a7800-14ea-11e9-8122-1931a0442b74.png)

[2019-01-15 13:47] kelscahill commented on #266
@designerbrent this issue is ready for review now that the ALPS PL is merged.

[2019-01-17 10:21] designerbrent commented on #261
This was fixed in #286.

[2019-01-17 10:21] #261 closed, assigned to nobody

[2019-01-17 10:22] designerbrent commented on #266
This should be fixed now.

[2019-01-17 10:22] #266 closed, assigned to tpitre, kelscahill

[2019-01-17 10:23] #225 closed

[2019-01-21 07:26] cdbieling opened #287 "Molecule "Slide With Right Text" does not work in Page"
If I want to paste in the Component Molecule: "Slide with Right Text" into page, it does not work.
It looks like this:

<img width="1383" alt="scrrenshot" src="https://user-images.githubusercontent.com/19514133/51458622-1f3d1300-1d56-11e9-8cf3-38a61b7c7507.png">
--------
but it should look like this:
<img width="1166" alt="bildschirmfoto 2019-01-21 um 07 58 28" src="https://user-images.githubuserc

[2019-02-10 11:33] cdbieling opened #288 "HTML-Code from "Media Block Inline" does not work in Page"
Now I tried (after #287 issue) to include another pattern into the wordpress-page.

I copied the html code (next to twig-button) and inserted it, into the classic editor, the block editor, but however, the result is different. After insertion, wordpress includes an <p>-element between the text and the image.

**looks like that**
![bildschirmfoto 2019-02-10 um 12 26 33](https://user-images.githubus

[2019-02-10 11:35] dbieling commented on #288
It would be really fantastic, if you could give a short manual, how to use the patterns. I searched allover, but could not find specific hints
i found that introduction into ALPS, and if I got it right, it was designed, that users could use the html-code. But apparently, they can't integrate into wordpress-sites seamlessly.
https://www.adventist.io/2016/07/presenting-the-adventist-living-pattern-s

[2019-02-10 11:49] Salem874 commented on #247
Hi @designerbrent,

any update on this? We're literally unable to launch (using either v2 or v3) as we're unsure how to get a decent "front" page setup for our church website...

any guidance would be appreciated.

[2019-02-10 11:52] cdbieling commented on #247
thanks @Salem874! I am not the only one, struggeling. View minutes ago, I reinforced that question in #288, too

[2019-02-10 12:28] dbieling commented on #288
Wordpress seems, to add so additional elements to it:

`  <article class="c-article l-grid-item l-grid-item--l--4-col  post-1467 page type-page status-publish hentry odd">
    <div class="c-article__body">
      <div class="text u-spacing">`

[2019-02-12 21:13] kelscahill commented on #285
Created PR for the block development at: https://github.com/adventistchurch/alps-gutenberg-blocks/pull/2

[2019-02-14 18:49] cdbieling opened #290 "Organisms "TESTIMONIES" with Sabbath-Column"
Is there any option, that Testimonies work on 5-grid-layout (with Sabbath-Column)?
As of now, it works on 6-grid-layout only. If class `l-grid-wrap--5-of-7` is used, it shows 6 columns that are clinched together, so that it fits in 5-column.

So, how do I show 5-original-grid-size-columns with testimonies.
I figured out, that `js-carousel__multi-item` does the clinch.

Thanks for a hint.

[2019-02-14 18:52] cdbieling commented on #290
how it looks like, with clinched columns:
![bildschirmfoto 2019-02-14 um 19 54 41](https://user-images.githubusercontent.com/19514133/52810244-6aff8580-3092-11e9-8b5d-bfa302eb3b4a.png)

with correct grid-width, but with one column to much
![bildschirmfoto 2019-02-14 um 19 51 32](https://user-images.githubusercontent.com/19514133/52810042-f75d7880-3091-11e9-8c41-b004a56a22d3.png)

[2019-02-17 18:21] #248 closed

[2019-02-17 18:25] cdbieling commented on #248
Did you consider bestselling-plugin "EventOn" from CodeCanyon? It seems, it will be less expensive especially for small churches, implementing excellent calendars with one-time-fees, and it seems to be really feature rich with additional addons.
Because I am searching for a solution, and your comment would be helpful.

[2019-03-05 06:56] cdbieling commented on #288
However, it seems, i inserted it the wrong way. In HTML Block module, it seems to work.

[2019-03-05 06:56] #288 closed, assigned to nobody

[2019-03-05 07:00] cdbieling commented on #287
sorry, now i saw, it was copied from version 2. Oh noo.

[2019-03-05 07:00] #287 closed, assigned to nobody

[2019-03-14 14:08] cdbieling opened #291 "Standard Template additions: Hide the content sidebar does not work"
If you click the option in Template addtions:
"Hide the content sidebar" nothing is happening.

This problem exists only in Standard-Template.

// Additional note
But it seems, as I figured out in Standard-Template:
No Template additions are working. I can click whatever option I like, but nothing happens.

[2019-03-21 21:14] designerbrent opened #292 "WPML Language Switcher"
The language switcher is behaving oddly. When I test it with `ALPS for Wordpress`, visiting the home page, for example, will show 4 language options, English, French, Portuguese and Spanish. When I select French, for example, English disappears. When I select Spanish, no other languages show.

I tried testing with the Twenty Nineteen theme, and it works fine, but on our `ALPS for Wordpress` versio

[2019-03-28 20:33] cdbieling commented on #291
I figured out, that if I change templates and settings, and switch back to standard-Template, it finally works. Settings will be saved successfully, from that moment on.  So, it seems for me, it is a database issue.

[2019-03-28 20:38] cdbieling opened #293 "How do I use breakout-image within article repeatedly?"
If I insert breakout-code into an article repeatedly, it shows me always the same pictures.
Is there an option, that I can use breakout-images more than one time in article / page?

I use the code of: 2. Molecules  -> 2.4 Media       -> 2.4.1 Breakout Image with Parallax

![Bildschirmfoto 2019-03-28 um 21 37 44](https://user-images.githubusercontent.com/19514133/55191165-c056a880-51a1-11e9-9d26-b3

[2019-04-01 14:31] designerbrent opened #295 "Widget areas on Category pages"
Let's add two new widget areas that display on category pages:

- `Category Top`
- `Category Bottom`

[2019-04-01 17:12] designerbrent opened #296 "Extra button in the menu drawer"
There is a mysterious button showing up in the menu drawer.

![2019-04-01 at 1.08 PM.png](https://images.zenhubusercontent.com/5bae84fa4899b55b23789476/66cf2b03-ae72-462d-9cc4-3a991d13acbb)

[2019-04-01 21:03] kelscahill commented on #292
Posting this for my reference: https://wpml.org/documentation/getting-started-guide/language-setup/designing-custom-language-switchers-using-template-files/

[2019-04-01 21:13] designerbrent commented on #285
@kelscahill I haven't seen any new code on this since my review on [#289 where I asked for 3 changes.](https://github.com/adventistchurch/alps-wordpress/pull/289#issuecomment-478630699) Am I missing something?

[2019-04-01 21:16] kelscahill commented on #285
Sorry, missed you comment! I'll move back to in progress.

[2019-04-03 16:38] designerbrent commented on #291
Glad you got it working.

[2019-04-03 16:57] designerbrent opened #300 "Option to remove "Category""
Let's add a checkbox selector in ALPS settings page to show or hide the "Category" word on the category page.

![2019-04-03 at 12.44 PM.png](https://images.zenhubusercontent.com/5bae84fa4899b55b23789476/0eae8f5f-0bb1-4b8d-a5ea-701a3b691c2c)

[2019-04-04 14:53] cdbieling opened #302 "Post-Template: content is overflowing sabbath-column from 700-900 px"
**Problem:**
If I use Post-Template, whole content is moved one column to the right at 700-900px. So  content overflows into the sabbath column. from 700-900 pixels.

![new adventgemeinde-lahr de_lebensfreude_sonnenschein_](https://user-images.githubusercontent.com/19514133/55554266-a7d71880-56e2-11e9-9102-2cf7820853fc.png)

**How to reproduce it:**
Use Post-Template and wrap content into this div

[2019-04-09 22:24] designerbrent opened #303 "Custom Related Pages broken"
When trying to contect custom related pages, the list is shows as below, but does not display correctly.

![2019-04-09 at 6 22 PM](https://user-images.githubusercontent.com/132864/55839057-8b791880-5af4-11e9-93bd-e1c9eb4c21d1.png)

The display is here:
![2019-04-09 at 6 24 PM](https://user-images.githubusercontent.com/132864/55839089-acda0480-5af4-11e9-8eee-a17f81a85fc0.png)

[2019-04-10 18:30] designerbrent opened #305 "Custom teaser length"
Is it possible to create a custom length of the teaser text? Is there some kind of tag we can insert on the page that will control what gets rendered out?

![2019-04-10 at 2 22 PM](https://user-images.githubusercontent.com/132864/55903616-14975a80-5b9c-11e9-8041-d08cdfe99373.png)

[2019-04-11 01:17] designerbrent commented on #292
An example of the problem can be found here: https://privacy.adventist.org/

For every language link you click, the one(s) above disappear.  If you click the last language, it will make all the others disappear.

[2019-04-11 21:29] #300 closed, assigned to kelscahill

[2019-04-11 21:50] #295 closed, assigned to tpitre, kelscahill

[2019-04-11 22:00] #303 closed, assigned to tpitre, kelscahill

[2019-04-15 20:01] designerbrent commented on #292
Any word on this @kelscahill?

[2019-04-15 20:02] #285 closed, assigned to tpitre, kelscahill

[2019-04-15 20:04] kelscahill commented on #292
@designerbrent I am still looking into the issue. It seems that if you have the WPML menu set in the admin to `dropdown` it removes items, but `list` works fine. Still looking into if it's a WPML issue or template issue.

[2019-04-16 12:45] kelscahill commented on #305
@designerbrent I would recommend against the user being able to adjust the teaser length. Right now we have variables defined to adjust the teaser length based on whether or not there is an image, so that each page block has a similar height. If you feel strongly about adding a field to adjust the teaser length, we could do it OR we can adjust the teaser length in the code to be shorter. Another o

[2019-04-16 12:52] designerbrent commented on #305
@kelscahill That makes good sense. I recall in the past Wordpress had a tag you could put in the body that would crop teaser. Is that still around in WP 5?

How much work will it take to do the `Excerpts` route? I like that option.

[2019-04-16 12:54] kelscahill commented on #305
I am currently not aware of the tag to crop the teaser. I do agree that the excerpts for the pages would be the best option. It should be a pretty minimal lift.

[2019-04-17 21:12] designerbrent commented on #302
Have you tried using the Gutenberg Blocks that are provided @dbieling? That should circumvent the need to manually add the HTML as you are doing.

[2019-04-17 21:14] designerbrent commented on #293
Is this ALPS 2 or 3?

The reason they are "nulling" out is that you are setting the background image based on the class, not the ID. If you switch to setting the background by ID, and have a unique ID per breakout group, it will not get overwritten.

[2019-04-17 21:15] #291 closed, assigned to nobody

[2019-04-17 21:17] designerbrent commented on #290
Do you have a live example you can send me?

[2019-04-17 21:18] designerbrent commented on #284
Has this been fixed in the most recent versions? I'm going to close this ticket now, but if you have more problems or can show me an example, please let me know.

[2019-04-17 21:18] #284 closed, assigned to nobody

[2019-04-17 21:23] cdbieling commented on #293
I am using ALPS 3.

How do I embed div-ids into this sample code?
I inject this code into article.

`<div` class="c-breakout-image">
`  <style>
`    .c-breakout-image__background  { background-image: url(https://unsplash.it/500/800); }
 `   @media(min-width: 500px) {
 `     .c-breakout-image__background  { background-image: url(https://unsplash.it/700/800); }
 `   }
  `  @media(min-width: 700px) {

[2019-04-17 21:25] cdbieling commented on #291
At first it worked, but however, i am not sure, which magic steps are necessary, to get config working. A second try on another page failed. Is this problem on my side, or a template problem?

Configuration-adjustments stay not saved, they reset to the original setting after page reload.
unique to: ALPS 3

[2019-04-17 21:31] designerbrent commented on #243
This is working now.

[2019-04-17 21:31] #243 closed

[2019-04-18 13:50] designerbrent commented on #305
This will be addressed in the next version released by adding an excerpt field that a user can optionally use to override the teaser text.

[2019-04-18 13:50] #305 closed, assigned to tpitre, kelscahill

[2019-04-18 15:26] designerbrent opened #307 "Breakout Image incorrect"
The breakout image is not correct in the way that it displays. Currently it is limited to the width of the body block, but in reality it should break out to the left.

![2019-04-18 at 11 23 AM](https://user-images.githubusercontent.com/132864/56372307-bb977a00-61cc-11e9-9fd3-ae24bd6667e2.png)

It is missing a class, `u-shift--left--1-col--at-medium` that will make it break out to the left.

[2019-04-18 15:34] designerbrent commented on #293
You will need to add a unique ID tag for reach block. In the example below, I added an ID name of `image1` to the opening div, and then adjusted the css style section below to reflect that. (I think I got all the places.)

[code]

[2019-04-18 15:34] designerbrent commented on #293
For each breakout box, you will need to create another unique ID.

[2019-04-18 16:06] cdbieling commented on #293
okay, thats amazing easy. I will try. Thanks!!!

[2019-04-18 18:17] #293 closed, assigned to cdbieling

[2019-04-23 08:38] milkotodorov opened #308 "Hero properties not working in "block editor""
Not all Hero properties are visible in block editor.
Only Hero type is available as option.
In classic editor it's working fine.

[2019-04-23 17:31] designerbrent commented on #308
Ok, so you have found a point of frustration for us. Currently we get a lot of features from the `Piklist` plugin, including the way the Hero's are built. However, `piklist` doesn't support the Block Editor yet. So while controls show up, they don't work in the Block editor mode. To make them work, you have to switch to the Classic Editor, make your changes and then switch back to the block editor

[2019-04-23 20:55] designerbrent opened #310 "Replacement for Piklist"
Since we are not 5 months past the release of WP 5 with the new Gutenberg editor and `Piklist` has still not offered support, I would like to pursue other options to replace it. It is the last real hold up for releasing a final `3.x` version and is becoming a support problem.

Some options:
- [Advance Custom Fields (free only)](https://www.advancedcustomfields.com/)
- [Carbon Fields](https://carbo

[2019-04-24 07:43] milkotodorov commented on #308
Thanks! I hope it's not a bit frustration for you. It's nice that we have a workaround - this is already very good.

[2019-04-24 13:26] kelscahill commented on #310
@designerbrent After reviewing both options, here are my finding:
• ACF (free verison) won't work because we need the options page for the ALPS theme settings and that is only available in the Pro version.
• Carbon Fields seems like it would work and has all the fields that we would need. The only thing to think about when making the switch is that any current themes with Piklist, the custom field

[2019-04-24 13:42] designerbrent commented on #310
@kelscahill Thanks for looking into this. Could you take a closer look at the potential for data loss on switching to **Carbon Fields**?

Please take a serious look at what the data loss implications are. I don't want to have that, but I DO need some path forward and right now we are stuck.

I have tried multiple times to reach out to the plugin authors, but never gotten anywhere with them.

[2019-04-25 16:10] kelscahill commented on #310
@designerbrent Yes, I will install Carbon Fields locally and do some testing to make sure there is no data loss. Will keep you posted on the outcome.

[2019-04-28 14:10] cdbieling commented on #290
I worked hard on that issue, but I can't trace it back, how i got it to work. But I am happy, that it's now working!

The only issue with it, is the resposible-issue, as mentioned in #302.
I put the whole testimony-code in the following file. Could not pick up changed parts, because a lot seems different, than original code. But however, maybe, someone can add testimonie-pattern with sabbath colum

[2019-04-28 17:50] dbieling opened #311 "White area in Parallax Breakout-image"
ALPS 3.0
I used the original Molucules-> Media -> Breakout-with-Parallax code  in my Standard Template without content-sidebar. But however, parallax works not pretty. White area shows up. Developer tools reveals the (wrong) background-position.

![molecules_breakout-with-parallax](https://user-images.githubusercontent.com/19514133/56868148-cc2aca00-69ee-11e9-9194-cd6c8d191c7c.png)

[2019-04-30 22:00] milkotodorov opened #312 "Hero image text hover animation missing"
The hover animation is missing on the hero image.
I found out the the class is `c-block__title-link u-theme--link-hover--dark`.
Could you please supply the missing class?

Thank you!
Milko

[2019-04-30 22:05] milkotodorov opened #313 "Cannot put logo with wider text"
Currently it's not possible to put a logo with longer text. If the text is a bit longer, the logo will be sized down.
Example: "Hangzhou South-West International Seventh-day Adventist Church"

[2019-04-30 22:09] #307 closed, assigned to tpitre, kelscahill

[2019-04-30 22:12] designerbrent commented on #313
Issue moved to [adventistchurch/alps #376](https://github.com/adventistchurch/alps/issues/376) via [**ZenHub**](https://www.zenhub.com/)

[2019-04-30 22:12] #313 closed, assigned to tpitre, kelscahill

[2019-05-05 20:16] cdbieling commented on #290
the second issue as I mentioned in the problem description, I forgot to mention on my solution above is: That it works only without carousel-function:
If you make use of the function /  class `js-carousel__multi-item` I could not figure out, how tow to put it in line according to the 6-grid layout.

[2019-05-12 18:50] cdbieling commented on #291
I figured out, that, I think it was stated somewhere, that changes in page-setting works only in classic editor. (So, switching from Gutenberg, back to classic-editor, is the key, to change the page settings.)

[2019-05-13 18:07] kelscahill commented on #310
@designerbrent I did some testing with Carbon Fields and unfortunately there will be data loss. When I duplicate a field with Carbon, it creates another row in the database instead of pulling from the existing one. Also carbon uses `carbon_get_post_meta` instead of `get_post_meta`, so I couldn't find a way to keep the original data.

[2019-05-13 20:36] designerbrent commented on #310
This might be a stab in the dark, but is it possible to write an update function that will pull over content from the old fields to the new ones?

@kelscahill @tpitre

[2019-05-14 02:47] milkotodorov opened #314 "Menu when clicking on sabbath column not available always (Chrome only!)"
When loading a website for the first time the menu which appears when clicking on the sabbath column is not showing up. It simply happens nothing. If I refresh the page or load some other page everything is fine.

This happens only when you open the page for the first time. Can be easily reproduced when you open a website in a incognito mode.

[2019-05-15 21:40] dbieling opened #315 "Button-Hovering transition problem in Safari"
I experienced an issue on hovering over buttons with safari browser.
I am embarrassed to state, that I am using Safari for using and developing this site, hopefully community will respond with grace and mercy.

This problem exists for Safari (for Mac) on this official site, too:
https://alps.adventist.io/v3/?p=organisms-body-content

Button effect works on Opera, Firefox, and Chrome (on current Ma

[2019-05-16 10:51] dbieling opened #316 "Menu overlays the sabbath column on page load"
On every new page load, The primary navigation (menu) overlays the sabbath column. Of you resize window smaller than 1250px, overlays disappears, and a plus "+" appears.
But after new page load, doesn't matter what page size, menu overlays the sabbath column again.

![Bildschirmfoto 2019-05-06 um 07 46 29](https://user-images.githubusercontent.com/19514133/57848473-49b94d00-77d9-11e9-82ef-ae47403a

[2019-05-22 15:24] designerbrent opened #317 "`Latest Posts` block not showing"
I have a dev site right now that doesn't show the `Latest Posts` block. It is running the `alps-wordpress-v3` version `3.0.16-beta` as well as the `alps-gutenberg-blocks` version `1.1.1`.

Is there a cache that needs to be cleared somewhere? I have removed the theme, reinstalled the plugin, etc, but still can't get it to work.

[2019-05-22 15:25] designerbrent commented on #317
The changes that added the `Latest Posts` block were introduced in  #289

[2019-05-23 07:17] marianmaximciuc opened #318 "Slideshow homepage. Hero section."
People in our division use a lot slideshow. If it’s possible, please, add the option that will allow to add multiple images. People will appreciate that. Lack of that might restraint in moving to newer version. Thank you!

[2019-05-23 12:42] designerbrent commented on #318
Lets see about adding this as another option for page headers.

[2019-05-23 13:51] designerbrent opened #319 "Missing Logo on `No Sabbath Column` version"
When the Sabbath column is turned off, the logo in isolation should show up in the footer as illustrated in the example: https://alps.adventist.io/v3/?p=pages-home-no-sabbath

![2019-05-23 at 9.51 AM.png](https://images.zenhubusercontent.com/5bae84fa4899b55b23789476/4ce362fb-5dc2-4bc8-bb5e-75ec9e39b577)

[2019-05-23 14:13] designerbrent commented on #314
I'm having a hard time replicating this. @milkotodorov  can you give me a URL to test as well as browser information where you see this?

[2019-05-23 14:15] designerbrent opened #320 "Add Download button"
Add a download button to the Gutenberg blocks

https://github.com/adventistchurch/alps-gutenberg-blocks/issues/4

[2019-05-23 14:26] designerbrent commented on #296
This needs to be resolved on ALPS https://github.com/adventistchurch/alps/issues/380 and then have this fix removed from the Wordpress version.

[2019-05-23 18:01] kelscahill commented on #317
@designerbrent That's strange. I just reinstalled the plugin fresh from the repo and it works with the same version of the theme. In the page editor, can you check if you have any errors in the console? Try also in an incognito window and see if you have the latest posts block there.

[2019-05-23 19:09] kelscahill commented on #296
Here is the PR for ALPS PL: https://github.com/adventistchurch/alps/pull/382

[2019-05-23 19:14] kelscahill commented on #320
@designerbrent I'm not sure I understand what exactly needs to be added for this. We already have the buttons Gutenberg block activated. What should a download button do?

[2019-05-23 19:37] kelscahill commented on #312
PR for review here: https://github.com/adventistchurch/alps-wordpress/pull/322

[2019-05-23 22:11] #319 closed, assigned to tpitre, kelscahill

[2019-05-25 13:32] milkotodorov commented on #314
@designerbrent you can try opening https://rm-isac.de/ in incognito window. It can be reproduced in the latest Chrome.
I just tested it for Firefox and Safari and there the issue is not present.

[2019-05-31 12:06] milkotodorov commented on #312
@kelscahill With the latest 3.0.17-beta version the issue still persist.

[2019-06-03 13:13] designerbrent commented on #312
@milkotodorov Yes, that is correct. I have added some comments for @kelscahill in the PR #322.

[2019-06-03 13:24] designerbrent commented on #314
Ok, I now see the problem. As you said, @milkotodorov, the problem is only present in Chrome AND the Wordpress theme. This is not a problem in ALPS core. I'm going to ask @kelscahill to look into this. issue.

[2019-06-03 21:23] designerbrent opened #323 "Latest Posts widget error"
When there is already at least 1 `Latest Posts` widget on a page, adding another instance causes the error below:
![2019-06-03 at 5 14 PM](https://user-images.githubusercontent.com/132864/58835321-a31bdb80-8623-11e9-95cb-a8e8360d47e5.png)

Reopening the edit page after you save it, allows you to edit the new one.

[2019-06-03 21:28] designerbrent commented on #323
Eventually it becomes a problem that you can't edit more the one on a page and it looks like this:
![2019-06-03 at 5 27 PM](https://user-images.githubusercontent.com/132864/58835794-e62a7e80-8624-11e9-989c-288dca693621.png)

[2019-06-04 01:04] milkotodorov commented on #314
Thank you! This is however very minor issue and not really disturbing.

[2019-06-04 14:39] designerbrent commented on #314
@milkotodorov I appreciate you bringing this to our attention so we can fix it for everyone.

[2019-06-05 14:15] designerbrent opened #324 "Latest Posts post "See All""
We need to add an option to add the `See All` pattern to the top of this block like we see in this pattern:

https://alps.adventist.io/v3/patterns/02-organisms-asides-aside/02-organisms-asides-aside.html

[2019-06-13 10:34] designerbrent opened #325 "Rich Text Editor (RTE) for ALPS Highlight paragraph"
We need to add the simple Rich Text Editor to the `ALPS Highlight Paragraph` block.

Currently the `Highlight Paragraph` shows this:
![2019-06-13 at 6 31 AM](https://user-images.githubusercontent.com/132864/59426023-1bfa0080-8da5-11e9-9b46-3f1ed60d842d.png)

This is what I need in the `Highlight Paragraph` and it is currently in the standard paragraph:
![2019-06-13 at 6 31 AM](https://user-images.

[2019-06-16 03:02] cdbieling opened #326 "Feature Request: Sermon Manager Support"
Is it possible, to make this Theme Compatible with Sermon Manager?
After an extensively in-depth search, the only plugin which is usable, for a sermon library.
I think, a lot of churches will have a benefit, or?

WARNING: HTMLSPECIALCHARS() EXPECTS PARAMETER 1 TO BE STRING, ARRAY GIVEN IN /WWW/HTDOCS/W014BF6A/NEW-ADVENTGEMEINDE-LAHR/WP-CONTENT/THEMES/ALPS-WORDPRESS-V3/VENDOR/ILLUMINATE/SUPPORT/HEL

[2019-06-16 03:17] cdbieling opened #327 "Wrong Date for Posts - January 1, 1970"
For all Posts, created before somewhat before August or July 2018, template always past the date: January 1, 1970.

For Current Posts, this behavior is not recognized.

<img width="1418" alt="Bildschirmfoto 2019-06-16 um 05 05 19" src="https://user-images.githubusercontent.com/19514133/59558585-cc5e4380-8ff5-11e9-8376-d933438f7308.png">

https://rebrand.ly/alps3-wrong-post-date

[2019-06-21 06:40] cdbieling commented on #326
With some properly configuration within the plugin, this issue vanished. But however, maybe you can mark this issue as "question". I read this week, that sermon manager will be rebuild completely, probably with own Template manager.
Feature request would be, if there is some passionate developer, who would make an alps-theme for sermon manager for wp websites.

[2019-06-26 19:51] kelscahill commented on #323
PR created for this issue here: https://github.com/adventistchurch/alps-gutenberg-blocks/pull/6

[2019-07-01 00:37] #323 closed, assigned to tpitre, kelscahill

[2019-07-06 21:31] aeroschmidt opened #329 "remove the sabbath column and get a margin in the grid item at the right"
hello, I'm with this space after removing the sabbath column of the theme and i can not corrected.
I tried to fix it in several ways and I could not, I need help fixing it.

![Capturar](https://user-images.githubusercontent.com/8289587/60761315-1bf3c600-a01c-11e9-8b29-3358b513f341.JPG)

[2019-07-08 08:45] cdbieling opened #330 "How to add HTML-Elements into the Footer Description?"
In the Footer Description, there is no button, to switch from WYSIWYG to HTML-Mode. How can you add images (logo...)

[2019-07-08 08:47] cdbieling commented on #330
Logo should go here.
Template Footer Logo will only be shown, if sabbath column is turned off. So I am searching to insert an img.
![Opera Momentaufnahme_2019-07-08_104548_new adventgemeinde-lahr de](https://user-images.githubusercontent.com/19514133/60796469-b6afea00-a16d-11e9-9e64-09cefb12f0cb.png)

[2019-07-08 16:15] designerbrent commented on #330
The footer is not designed to have images in it more then the ones that are build in.

[2019-07-08 16:16] designerbrent commented on #329
This is an error in the template that needs to be corrected on our end.

@kelscahill there are several places where blocks don't adjust when we drop the Sabbath column.

[2019-07-11 11:38] milkotodorov opened #331 "Menu in mobile view disappeared"
Since one of the last releases (I think it's the 3.0.17-beta) the menu in mobile view is not working. Once You click on the sabbath column the menu is not visible at all. Have a look at http://rm-isac.de.

[2019-07-11 12:56] designerbrent commented on #331
This is a core issue and we should have a fix for it soon. You can track it here: https://github.com/adventistchurch/alps/issues/389

I'm closing it here, but the fix will be coming.

[2019-07-11 12:56] #331 closed, assigned to nobody

[2019-07-11 17:34] designerbrent opened #332 "Image (2up) Adjustments on No-Sabbath column version"
The `Image (2up)` block when the Sabbath column is hidden not looking right and needs the following adjustments:

### Currently ###
Currently it looks like this.
![2019-07-11 at 1 33 PM](https://user-images.githubusercontent.com/132864/61072027-7310e680-a3e0-11e9-8a85-ea39cfaf06f9.png)

### New ###
In the new version, it should go the full width of the page, with the second image going 4 columns w

[2019-07-11 17:46] designerbrent opened #333 "Adjustments on narrow widths"
Page content on the no-Sabbath column version has some issues on narrower screens.

## XXLarge and XLarge ##
On widths narrower then `1300`, the `XXLarge` breakpoint, the content jumps in 1 column width on the left and should stay as is till the `Large` breakpoint.
![2019-07-11 at 1 41 PM](https://user-images.githubusercontent.com/132864/61072640-b28c0280-a3e1-11e9-9d4e-e5101a3f841f.png)

## Large

[2019-07-11 17:52] designerbrent opened #334 "Image Sizing on image blocks"
Images placed using the image blocks, `Image (2up)`, `Image (Breakout)`, `CTA`, and `Gallery` are loading the full size images and not using Wordpress' resizing capabilities.

The plain `Image` block works as it should.

[2019-07-11 17:57] designerbrent opened #335 "Settings to Customizer"
I'd like to explore moving the custom setting to the `Customzier` panel to take a more standard Wordpress approach.

This would include things like the Sabbath Column controls, Logos, theme colors, dark theme, and grid lines. We need to explore how this will work with `WPML` for alternate logos.

We need to also look into adding the brand statements, address, and copyright if needed.

[2019-07-11 17:59] designerbrent commented on #317
I think this has been resolved. I'l reopen it if I see it again.

[2019-07-11 17:59] #317 closed, assigned to tpitre, kelscahill

[2019-07-12 16:57] davideleuterius commented on #332
@designerbrent
I am currently working on this issue and will have a pull request in for you very soon.

[2019-07-12 17:11] davideleuterius commented on #332
@designerbrent
Looks like these changes will require editing the Gutenberg blocks plugin, so I'll need access to that repo, just to get that out there while I am working on this.

[2019-07-12 18:03] designerbrent commented on #332
@davideleuterius I've done it now.

[2019-07-15 19:15] davideleuterius commented on #333
@designerbrent
I am looking at making this fix for you now.

[2019-07-19 16:07] designerbrent opened #336 "Latests posts: filter by tag"
The `Latest Posts` widget in `ALPS Gutenberg Blocks` currently allows you to filter by `Categories` only. We need an option to be able to filter by `tags` in addition to the categories.

[2019-07-22 18:10] designerbrent opened #337 "Archive Page Not Customizable"
I'm trying to update the blog post or archive page. Currently, the title is set to `Recent Posts` and then it displays a list of all the recent posts.

However, I can't find a way to customize the page title, add a sidebar, etc.

A site developer should be able to customize the page title, customize the sidebars, etc.

[2019-07-28 20:50] N3rdcod3 commented on #247
I am having the same issue. I would like to customize our website like this example page:
https://alps.adventist.io/v3/?p=templates-home

[2019-07-29 04:24] designerbrent commented on #247
Hi All: This is an issue that we have been working on. A brief update: Piklist, the module we depend on for a lot of functionality in the plugin, has still yet to be updated for Wordpress 5.x, after they have been promising this will happen since Wordpress 5.x came out in December of 2018.

As a result, all the extra functions that you use to build a page (The extra metaboxes at the bottom of the

[2019-07-30 01:09] steveduffis opened #338 "Default Templates Wordpress Pages"
In your description of the ALPS for Wordpress, you state that there is 5 templates but I only see Default template and post template. Did I miss something or did you guys remove it from the Wordpress theme core code?

[2019-08-06 19:37] designerbrent commented on #296
This issue is back. With the change in https://github.com/adventistchurch/alps/issues/389, this issue has come back. I'm wondering if the code that was committed needs to be adjusted?

The menu button that shouldn't be there is:
`<button aria-controls="menu" type="button" class="js-toggle-menu priority-nav__dropdown-toggle priority-nav-is-visible is-open">menu</button>`

An example can be seen her

[2019-08-08 18:25] designerbrent opened #339 "Replace page header with new version"
We need to replace the page header with the new, refined `Page Header - Long` that is adding to core: https://github.com/adventistchurch/alps/issues/397

[2019-08-08 18:33] designerbrent opened #340 "Pullquote variation"
The pullquote in `ALPS Gutenberg Blocks` needs to be updated to include the pull quote variation as an option on the Pull Quote block. It should defa
ult to the new, lighter version, and then add an option to switch to the bolder version.

[2019-08-08 19:34] designerbrent opened #341 "Support for Tertiary Menus"
This ticket is to add in support for the tertiary menu pattern being added in https://github.com/adventistchurch/alps/issues/399.

[2019-08-08 19:52] designerbrent opened #342 "Adding CTA Components"
We need to add the new component from ALPS Core created here: https://github.com/adventistchurch/alps/issues/405

These need to be added as a new component in ALPS Gutenberg Blocks. Eventually we will add support for https://github.com/adventistchurch/alps/issues/400 but to start will we will just do https://github.com/adventistchurch/alps/issues/405.

[2019-08-12 20:44] #296 closed, assigned to tpitre, kelscahill

[2019-08-12 20:49] #332 closed, assigned to tpitre, davideleuterius

[2019-08-12 20:52] designerbrent commented on #314
I think this should be fixed now, @milkotodorov. Let me know if it is still a problem and we can address it then.

[2019-08-13 07:48] milkotodorov commented on #314
I see no new update since 3.0.17-beta...

[2019-08-13 07:55] milkotodorov opened #343 "Update to new version always shown though no new version available"
A notification that there is an update available is always shown, though no new version is available.
Additionally here on GitHub only up to v3.0.6 pre-release is available.

[2019-08-13 13:53] designerbrent commented on #343
@milkotodorov Yes, we use a different system for versions called Kernl. Kernl provides the updates into your dashboard.

I have failed to actually tag releases as I should in GitHub but will try to do that on a more regular basis.

Thanks for your understanding and support!

[2019-08-13 13:53] #343 closed, assigned to nobody

[2019-08-13 14:08] designerbrent commented on #314
ALPS is made up of two parts:
- [ALPS core](https://github.com/adventistchurch/alps), which provides the CSS, JS and templates.
- [ALPS for Wordpress](https://github.com/adventistchurch/alps-wordpress), which provides the Wordpress adaptation in the form of a theme.

Sometimes the bugs track back to the ALPS core, like this one, and we push the changes out to everyone via the CSS and/or JS CDN.

I

[2019-08-13 14:16] milkotodorov commented on #314
The issue still persist with 3.0.17-beta...and this was not an issue of the ALPS core as far as I can see.
Do I need to wait for the next release?

[2019-08-13 14:20] milkotodorov commented on #312
@designerbrent This here also need a new version of the wordpress theme? Currently the animation is not working.

[2019-08-13 14:20] designerbrent commented on #314
@milkotodorov I forgot that this was Chrome-only. Now I see the issue is persisting. I'll raise this with my team and we will work to resolve this.

[2019-08-13 14:23] milkotodorov commented on #314
Thank you! I've changed the title so it can be easier for the one who work on this.

[2019-08-13 14:25] designerbrent commented on #314
@kelscahill / @davideleuterius This bug is still persisting. It appears to only show up in Chrome, not Firefox or Safari.

@milkotodorov Can you help me better understand how to reproduce the bug? When I have tried on other ALPS 3 sites, it doesn't seem to reappear. Can you give me the version of Wordpress, and possibly, the other plugins you have installed?

[2019-08-13 14:32] milkotodorov commented on #314
The problem is visible once you load the page for the first time. If you reload it or click on some other subpage - it works.
The easiest way to reproduce it by opening it in "Incognito" mode (http://rm-isac.de). I think you already reproduce it.

Here are more details about the Wordpress:

version 5.2.2

Plugins:

![image](https://user-images.githubusercontent.com/14890886/62950130-c3b49e80-bde7-

[2019-08-13 14:36] designerbrent commented on #314
@milkotodorov Have you, by chance, tried disabling as many of the plugins as you can and trying it without them on? I have tried on other V3 sites, like https://www.mindwell.org/, and can't reproduce it.

[2019-08-13 14:43] milkotodorov commented on #314
Thanks for the tipp. Indeed it lies on the Gutenberg plugin. Without it the issue is not appearing.
But we want to use it with the theme, right?

[2019-08-13 15:11] designerbrent commented on #314
If you are using Wordpress 5.x, you shouldn't need the Gutenberg plugin on top of the built-in new Block editor (which is based on the Gutenberg plugin).

[2019-08-13 16:01] designerbrent opened #344 "ALPS Gutenberg Blocks names"
Currently, all our custom blocks just having names like "Block quote" or "Gallery", and we have whitelisted them as the only blocks available on ALPS for Wordpress. However, that means we leave out some other blocks that might be helpful to people.

- What are your thoughts on renaming the blocks to something like `ALPS Gallery`, `ALPS Image (2 up)`, etc?
- If we do that, will it negatively impact

[2019-08-13 17:58] milkotodorov commented on #314
I see. Thanks and sorry for the consumed time.