[2019-08-13 17:58] #314 closed, assigned to milkotodorov

[2019-08-15 15:01] designerbrent opened #345 "Add support for Guidepost block"
The Guidepost block is very helpful for providing quick navigation on the page. It can be found here: https://sortabrilliant.com/guidepost/

In testing, it seems to work well, though eventually some adjustments could be made. All that is needed is to add the following code to the ALPS functions section on supported blocks:

[code]

[2019-08-15 16:14] designerbrent commented on #345
I think the module should be installed as a requirement.

[2019-08-19 10:34] #345 closed, assigned to designerbrent

[2019-08-21 12:46] designerbrent opened #348 "Menu: Support for class, description and title attributes"
When the menu items get rendered, we need to add support for the following attributes:

- Title Attribute
- CSS Classes
- Open link in new tab
- Description

![2019-08-21 at 8 44 AM](https://user-images.githubusercontent.com/132864/63432953-32998500-c3f0-11e9-9d27-96e08c058d3d.png)

[2019-08-30 13:46] designerbrent opened #350 "Page block excerpt"
At the bottom of a page, when there is a shortcode at the top of the page, it shows the shortcode, not the actual content.

Please ensure the content showing is not code or shortcodes.

![2019-08-30 at 9 43 AM](https://user-images.githubusercontent.com/132864/64025575-f90cfc00-cb0a-11e9-9cf4-1fddff2b48e2.png)

[2019-09-05 15:51] #333 closed, assigned to tpitre, davideleuterius

[2019-09-05 19:09] davideleuterius commented on #292
@designerbrent Making progress on this. Should the language switcher be integrated into the primary menu, or could the switcher be outside of it? It might be best to actually pull this out of the primary menu as I think there is a conflict with the menu javascript. I've got the functionality working right now by making a direct call to the function rather than rely on the plugin's method for integ

[2019-09-05 19:29] davideleuterius commented on #336
@designerbrent Looking at this now.

[2019-09-06 14:44] davideleuterius commented on #336
@designerbrent I've added an optional pulldown on the widget for filtering the post feed by tags. Let me know if this needs any further work on this - thanks!

[2019-09-06 21:01] designerbrent commented on #336
@davideleuterius There must have been some confusion. This issue is related to the `Latest Posts` block in the [`ALPS Gutenberg Blocks`](https://github.com/adventistchurch/alps-gutenberg-blocks) module, not this Piklist widget in the ALPS for Wordpress theme.

[2019-09-06 21:16] designerbrent commented on #292
@davideleuterius The switcher should show in the secondary menu, on the far left, not the primary menu.

![2019-09-06 at 5 15 PM](https://user-images.githubusercontent.com/132864/64461022-ff324800-d0c9-11e9-8cdd-86515fede200.png)

[2019-09-08 20:03] milkotodorov opened #351 "Hit Counter in the footer"
Is it possible to put a "Visitor's Counter" in the footer instead of widget?

[2019-09-09 13:11] designerbrent commented on #351
Could you clarify what you mean by "Visitor's Counter"?

[2019-09-09 15:27] davideleuterius commented on #292
@designerbrent - OK, so it will display there only if it is in use. Thanks, I will make this adjustment.

[2019-09-09 21:56] ptdasilva commented on #247
Hello. I want to thank the team for the work that has been done with ALPS, I believe it's really important for the global church.
As someone who was tasked with building a new website for the local church(es) in my area, I wanted to use the new ALPS v3 to start off with the new design language of the Adventist church. However, I can't seem to find any guidance/documentation on how to actually crea

[2019-09-09 22:10] milkotodorov commented on #351
Something like https://www.freevisitorcounters.com/ or similar. A hit counter I think it's also called.
Just to insert some custom HTML code with some JS. Or some alternative if not possible.

[2019-09-11 12:29] designerbrent commented on #247
@ptdasilva Thanks for your comments and patience. We should soon have an update to `ALPS-Wordpress` that will make it easier to build the type of pages you are looking for. Give us a week or two and it should be ready. Once that is done, it will be fairly straight forward to make these changes to build a page like you are asking.

[2019-09-11 12:29] designerbrent commented on #351
So you are looking for widget areas in the footer?

[2019-09-11 12:48] cdbieling commented on #247
@designerbrent  I am excited to hear that!
I questioned long ago, how to integrate adventist news via RSS-Feed  into the not yet existing news-template in v.3 But if there is a progress, i will look forward to it! Thanks!

[2019-09-11 13:00] designerbrent opened #352 "Post header on no-sabbath column pages"
On posts without the Sabbath column, the header needs to be adjusted to account for the lack of a the column.

![2019-09-11 at 8 59 AM](https://user-images.githubusercontent.com/132864/64699327-8983fe80-d472-11e9-8d17-217a7e2969e7.png)

[2019-09-11 13:11] milkotodorov commented on #351
ah yes - sorry. I didn't think out this option.
Thank you!

[2019-09-11 13:13] milkotodorov commented on #312
I don't understand - will this be available with the milestone release? Or is already released? However I cannot confirm that this is working on the latest 3.0.17-beta version...

[2019-09-12 12:46] designerbrent commented on #312
@milkotodorov I'm sorry for this delay. We haven't rolled a new version yet. That should be coming soon.

[2019-09-12 21:01] brentawilson opened #353 "Page subtitle not displaying on front-end"
There is a field for subtitle (either using Piklist or the new non-Piklist fields). But this subtitle doesn't seem to be displayed on the front end of the page.
<img width="1537" alt="Screen Shot 2019-09-11 at 11 36 22 AM" src="https://user-images.githubusercontent.com/55259124/64820609-fc25d480-d56d-11e9-9e4a-719133a5ed5a.png">
<img width="1537" alt="Screen Shot 2019-09-11 at 11 36 50 AM" src="ht

[2019-09-13 01:27] designerbrent commented on #353
@davideleuterius Wondering about the Subtitle. Should it be there? The last image is unrelated to this but for future ALPS 3 work

[2019-09-13 08:07] #351 closed, assigned to nobody

[2019-09-13 08:19] milkotodorov commented on #351
But it add it to the bottom of the page - not in the footer down...

[2019-09-17 19:47] davideleuterius commented on #310
@designerbrent I've updated the converter plugin and it should be converting any v3 theme without any showstopping errors. I've also pushed all the updates for this as well on the v3.310 branch.

There were some weird inconsistencies from my local install to the repository, namely having to do with the soberwp/controller composer package, which wasn't installed on my end, but everything seemed to

[2019-09-17 20:06] designerbrent commented on #310
@davideleuterius is there a v3 branch of the theme itself, or primarily just this plugin?

[2019-09-17 20:11] davideleuterius commented on #310
@designerbrent There is a branch - v3.310. It looks like this was set up for just this purpose - a conversion to Carbon Fields - so I used this one to add these updates.

This theme is using the same wrapper function that v2 is, so it won't generate errors until Piklist has been removed via the conversion. So to complete the conversion to v3 using Carbon Fields, you'd need to have the plugin, whic

[2019-09-19 15:21] jc-cruz opened #357 "Video Clip on Header"
It will be great to  add a video clip on Carrousel header.
We are using ALPS 2.

[2019-10-01 19:13] designerbrent commented on #342
@davideleuterius This should be ready to go now that https://github.com/adventistchurch/alps/issues/405 and https://github.com/adventistchurch/alps/issues/400 are done.

[2019-10-01 19:14] designerbrent commented on #339
@davideleuterius this is ready to go now.

[2019-10-01 21:37] davideleuterius commented on #341
@designerbrent
I have this coded out now. @kelscahill is working on the front end presentation for this one.

[2019-10-01 21:43] davideleuterius commented on #336
@kelscahill Going to pass this to you as you're more familiar with the Gutenberg items in this project.

[2019-10-01 21:52] davideleuterius commented on #339
@designerbrent This will be coded out as Carbon Fields as this is a template-based content component. Also I am working up a reply to your email right now.

[2019-10-02 13:23] davideleuterius commented on #350
@designerbrent edit: disregard - looking at this now.

[2019-10-02 13:41] davideleuterius commented on #350
@designerbrent I've added filters for the page / post excerpt functionality. This should fix this issue anywhere an excerpt call is made as it this is global. If it doesn't let me know so we can work this out. Thanks!

[2019-10-02 13:44] davideleuterius commented on #339
@designerbrent Working on this now.

[2019-10-02 14:49] davideleuterius commented on #339
@designerbrent Is this only on pages? Or can this be on both pages and posts?

[2019-10-02 15:01] designerbrent commented on #339
This is only for pages, not posts.

[2019-10-02 17:14] davideleuterius commented on #339
I've got this coded out and functional now. I just noticed that you said this REPLACES the existing page banner, so we should remove that set of fields and have these take that over. Making the adjustments for that now and I'll push this all up very shortly.

[2019-10-02 17:35] davideleuterius commented on #339
@designerbrent I've got this setup now with the existing fields for a clean handoff. Wanted you to be aware that if you have the subtitle entered and it is long, it will push down the callout/breakout block on the right side. Not sure if this is what you wanted, but that's how it is currently flowing.
![screen](https://user-images.githubusercontent.com/4670424/66067390-17528700-e511-11e9-84de-e2f8

[2019-10-02 20:22] kelscahill commented on #336
PR is created here: https://github.com/adventistchurch/alps-gutenberg-blocks/pull/8

[2019-10-03 00:51] #336 closed, assigned to tpitre, kelscahill, davideleuterius

[2019-10-03 18:54] designerbrent commented on #341
@davideleuterius I just committed https://github.com/adventistchurch/alps/issues/399 so this is now ready to go. 👍

[2019-10-03 18:55] designerbrent commented on #341
Please add this in a separate PR then #356.

[2019-10-07 15:53] designerbrent opened #358 "Theme cache files not working in some hosting"
I ran into an issue this morning with a site hosted on WPEngine. It seems that they are careful about who can upload into the upload folder for security reasons.

In a [long thread on the SAGE support site](https://discourse.roots.io/t/sage-9-on-wpengine/9090/31), I found reference to changing where the blades compile to and that seemed to do the trick. So in `.../config/view.php` there is a line

[2019-10-07 18:17] kelscahill commented on #334
Noting that the new `CTA` block will need the responsive images as well.

[2019-10-07 18:44] kelscahill commented on #334
@davideleuterius If you work on this issue while I am out of office Oct 10-16, I've created the branch `https://github.com/adventistchurch/alps-gutenberg-blocks/tree/v3.334-image-sizing`

[2019-10-09 13:10] designerbrent opened #360 "Add Shortcode block"
We need to enable the `shortcode` block for the theme.

`core/shortcode`

[2019-10-09 16:06] davideleuterius commented on #341
@designerbrent
I am back today after some long-scheduled time off. Just so that I understand you properly, you want me to add the code for this as a completely separate pull request, but also include it in with branch v3.310-carbon-fields?

[2019-10-09 19:39] davideleuterius commented on #350
@designerbrent I just pushed up some code that should address this with some comments on PR #356

[2019-10-09 20:12] davideleuterius commented on #339
@designerbrent This is ready for your review now.

[2019-10-09 20:51] davideleuterius commented on #334
@kelscahill @designerbrent Working on this now.

[2019-10-09 22:26] designerbrent commented on #350
Thanks. Looks good.

[2019-10-09 22:29] designerbrent commented on #341
@davideleuterius  Since this work is separate from #310 and doesn't reference `piklist`, I would prefer to review it separately from that work. Obviously it will merge in the the `v3` branch, either before #356 or after but it makes it easier to evaluate and test if it is isolated.

[2019-10-09 22:30] designerbrent commented on #339
I'm good with what is in #356 now.

[2019-10-10 17:45] brentawilson opened #361 "Accordion block returns error when HTML code within block is altered"
The ALPS accordion block seems to return an error on the back-end after html within the content of the block has been edited. When viewed from the front-end, the font seems to be changed.

<img width="644" alt="Screen Shot 2019-10-10 at 7 57 49 AM" src="https://user-images.githubusercontent.com/55259124/66592993-6329af80-eb53-11e9-8273-e99ae4d62eb5.png">

[2019-10-15 08:30] milkotodorov opened #362 "jQuery version & plugins"
The jQuery version that is used in the theme seems different that the one provided with WordPress.
I use a plugin called TablePress and it has problem with the version of jQuery that's used by the theme, since the theme is overriding the default one. As a result the plugin is unusable. This is causing issues with other plugins too, not just this one!! In Firefox this somehow works, but there are s

[2019-10-15 16:40] designerbrent opened #363 "Mobile submenu's not working"
On the mobile drawer, for menu items that have sub items, (Main Page > Landing Page > sub page) the arrow control to display on the sub items on narrow widths doesn't function.

The problem does not exist on desktop.

[2019-10-18 12:21] kelscahill commented on #327
@dbieling I can't seem to replicate this locally. Can you confirm that the theme has the latest updates?

[2019-10-18 12:34] kelscahill commented on #344
@designerbrent There is a machine name and label name, so we could easily update the labels in the blocks editor.

[2019-10-22 00:30] #342 closed, assigned to tpitre, kelscahill, davideleuterius

[2019-10-22 08:56] Salem874 commented on #247
@designerbrent, thanks for your update. Can i ask if there's an update on this being available?

Whilst we did want to use ALPS for our church website, the "front page" build was our biggest stumbling block. So much so that it has actually meant us contemplating/considering ditching ALPS entirely owing to the extended delay in getting traction on this.

[2019-10-22 08:58] Salem874 commented on #1
Might i be permitted to bump this again?

Hoping for future support, particularly for the "Church Theme Content Plugin" framework

[2019-10-24 13:12] kelscahill commented on #341
@davideleuterius is there a PR for this? I am looking into issue #363, but am wondering if the tertiary menu code was even merged yet.

cc @designerbrent

[2019-10-24 13:12] kelscahill commented on #350
@designerbrent can this issue be closed?

[2019-10-24 13:38] kelscahill commented on #339
@designerbrent is this good to close?

[2019-10-24 13:55] davideleuterius commented on #341
@kelscahill I will get this done shortly and let you know when this is ready.

cc @designerbrent

[2019-10-24 14:22] davideleuterius commented on #341
@kelscahill @designerbrent
Looks like I put this in a new template in PR 356 some time ago, but it is in a completely separate and new template ( views/patterns/01-molecules/navigation/primary-navigation-tertiary.blade.php ). This isn't being called on anywhere yet, so what I will do is create a new branch, integrate that code into the primary-navigation-blade.php and add a pull request for that.

[2019-10-24 14:30] davideleuterius commented on #341
@kelscahill @designerbrent
I've created a new pull request for this: PR #364

[2019-10-24 15:47] kelscahill commented on #348
Thanks for the clarification @designerbrent ! This is now ready for review.

[2019-10-24 15:58] kelscahill commented on #363
This issue is linked to #341. Once it's merged I will test in the wordpress instance.

[2019-10-24 16:17] #348 closed, assigned to designerbrent

[2019-10-24 16:20] designerbrent commented on #339
@kelscahill This can be closed once we close #356 as that is where the code resides.

[2019-10-25 08:45] milkotodorov commented on #313
Hello @designerbrent,

unfortunately with the new 3.0.19-beta version the issue still persist.

[2019-10-25 08:46] milkotodorov commented on #312
Hello @designerbrent,

unfortunately with the new 3.0.19-beta version the issue still persist - I cannot see any animation.

[2019-10-25 10:46] milkotodorov opened #365 "Console: "GET http://localhost/__webpack_hmr net::ERR_ABORTED 404 (Not Found)""
Hello,

there is the following error in the console with the 3.0.19-beta version:

[code]

[2019-10-27 12:08] designerbrent commented on #365
@davideleuterius I'm not seeing the first error on the branch at #356 but I do see the following:

`GET http://localhost/__webpack_hmr net::ERR_ABORTED 404 (Not Found)`

@milkotodorov The `main.css` issue is fixed in an upcoming branch that will get merged in shortly.

[2019-10-27 14:33] designerbrent commented on #313
This still hasn't been tackled. I have had to shift our focus to a few other priorities but will definitely get back to this. This issue is now closed, is it has to be address first in the ALPS project and that will happen here: https://github.com/adventistchurch/alps/issues/376

[2019-10-27 14:35] designerbrent commented on #312
@kelscahill and @davideleuterius

Is there a reason that we have the `c-hero` class on the `header` block? It is not on the ALPS Core template that way.
![2019-10-27 at 10 27 AM](https://user-images.githubusercontent.com/132864/67636267-3b518000-f8a5-11e9-9e0e-8e9a75d2f69a.png)

[2019-10-28 11:53] milkotodorov opened #366 "Mobile: Not scrollable after "Menu" click and back"
In mobile view the page became not scrollable after one click on the menu and then goes back to the same page (not going to a new one). You cannot scroll neither up nor down.

[2019-10-28 12:28] designerbrent commented on #366
What version of the theme does this happen on?

[2019-10-28 17:25] #350 closed, assigned to tpitre, kelscahill

[2019-10-28 17:25] #339 closed, assigned to designerbrent, tpitre, davideleuterius

[2019-10-28 17:35] designerbrent commented on #365
On further testing with the newly merged `3.0.0-beta20` version, I was not able to reproduce this. Feel free to reopen if the problem persists.

[2019-10-28 17:44] designerbrent commented on #365
I've tested more and found the bug again. 🙄

There is an `uncaught exception: null` error and then the aforementioned `__webpack_hmr` error.

![2019-10-28 at 1 43 PM](https://user-images.githubusercontent.com/132864/67702951-ff8fe680-f988-11e9-936b-2dc5f750f080.png)

[2019-10-29 09:03] milkotodorov commented on #366
The latest 3.0.19-beta. Can be reproduced with the chrome debugger in mobile view. In the latest version also you cannot invoke the menu by clicking on the "Sabbath Column", is this as designed? You must click the menu button instead.

[2019-10-29 13:53] designerbrent commented on #366
@kelscahill / @davideleuterius this bug is related to the menus and #364

[2019-10-29 14:34] designerbrent opened #367 "Display of Special Characters in Title Causes Error"
When including some special characters in the title, it converts them to the html entities:

![2019-10-29 at 10 33 AM](https://user-images.githubusercontent.com/132864/67777044-94511d80-fa37-11e9-8090-cd8d4d934bd7.png)

[2019-10-29 17:55] kelscahill commented on #363
@designerbrent This PR fixes the mobile toggles for the menu. https://github.com/adventistchurch/alps/pull/408 However, just make sure this PR is merged too before testing on Wordpress: https://github.com/adventistchurch/alps-wordpress/pull/364

[2019-10-29 17:59] kelscahill commented on #365
@milkotodorov You will get that error if you are running `yarn start`. Webpack watches for the .scss file and not .css in local development. The error will not exist on production because `yarn build` is ran and the css file is then compiled.

@designerbrent that webpack error I can not recreate locally, but that is another error that would not exist on production.

[2019-10-29 18:07] kelscahill commented on #366
@designerbrent The fix for the body scroll is in this PR: https://github.com/adventistchurch/alps/pull/408

[2019-10-29 18:58] #363 closed, assigned to tpitre, kelscahill, davideleuterius

[2019-10-29 18:58] #366 closed, assigned to tpitre, kelscahill, davideleuterius

[2019-10-29 19:24] kelscahill commented on #341
@designerbrent PR is merged and this is good for testing.

[2019-10-29 19:56] milkotodorov commented on #365
@kelscahill I actually use local docker (mysql + wordpress) which is a copy of our production site. So the two environments are basically the same except the domain name of course. I believe that if I update the production, there will be the same error.

[2019-10-30 12:44] designerbrent commented on #365
@kelscahill in the most recent version that you merged in last night, the `__webpack_hmr` error is gone, but the `uncaught exception: null` error is still there. Can you see that?

[2019-10-31 15:39] milkotodorov opened #368 "Hero Title displayed as Hero Kicker"
in the latest 3.0.21-beta the content of "Hero Kicker" is taken from "Hero Title" and the "Hero Kicker" is not displayed at all.

[2019-10-31 20:02] designerbrent commented on #334
After a brief back and forth on this issue with @kelscahill this week, I realized I may need to clarify this.

I'm not looking for something that will magically optimize every image for size. However, what I am finding is that for the above blocks, they are NOT resizing the images at all. They are just displaying the image as it was uploaded.

This week I have been testing ShortPixel and Optimole.

[2019-10-31 22:04] designerbrent commented on #368
Was this an upgraded install or a new install? I can't seem to replicate the problem.

This is what I have when I used these settings:
![2019-10-31 at 5 57 PM](https://user-images.githubusercontent.com/132864/67989011-feb8b800-fc07-11e9-95ef-37dbf9677c8b.png)

It displays like this:
![2019-10-31 at 5 56 PM](https://user-images.githubusercontent.com/132864/67988952-cfa24680-fc07-11e9-8721-0c386815d

[2019-10-31 22:52] milkotodorov commented on #368
Sorry, this is in Hero section not in the Banner.

![image](https://user-images.githubusercontent.com/14890886/67991367-4572d600-fc39-11e9-8356-78742cba308b.png)
![image](https://user-images.githubusercontent.com/14890886/67991410-6804ef00-fc39-11e9-8732-6933f4d012e5.png)

[2019-10-31 22:52] milkotodorov commented on #368
I upgraded. Is it better to install new?

[2019-10-31 22:54] milkotodorov commented on #368
I just tested it with the 3.0.22-beta - still the same.

[2019-10-31 22:56] milkotodorov opened #369 "Hiding widgets area won't be filled with page content"
Hiding the widget area for a page since 3.0.22-beta won't be filled with the page content - it simply stays "blank" column, but the page is still the same size as with the widgets

[2019-10-31 23:23] milkotodorov commented on #369
Sorry - it works. Just need to re-enable the "Hide Sidebar". Somehow during the upgrade this was unset.

[2019-10-31 23:23] #369 closed, assigned to nobody

[2019-11-01 21:36] davideleuterius commented on #334
@designerbrent I believe that I have this now pulling on the large image size when using the 2-Up block. I'm now working on porting this over to the other blocks requiring this. It seems the data was deeper and using Lodash's pick function wasn't going to find it, since it makes a shallow copy, so we had to go deeper using Lodash's get function and it appears that this is now setting the URL for t

[2019-11-01 21:47] davideleuterius commented on #334
@designerbrent I now have this ported over for the other blocks. Please review when you have a chance. It seems to work properly on my local dev environment - thanks!

EDIT: these tweaks are on the v3.334-image-sizing branch.

[2019-11-03 15:04] designerbrent commented on #368
Gotcha. Yes, this is a bug. Will have a fix for that soon in #370

[2019-11-03 16:12] designerbrent commented on #334
@davideleuterius Seems to be headed in the right direction. I have made some comments over on the PR https://github.com/adventistchurch/alps-gutenberg-blocks/pull/16

[2019-11-03 16:27] designerbrent opened #371 "Sidebar not hiding"
When you disable the sidebar for a page, the content section of the page spreads wider but the sidebar doesn't go away, resulting in the sidebar getting pushed to the "side" and looking odd.

![2019-11-03 at 11 23 AM](https://user-images.githubusercontent.com/132864/68088377-9860af00-fe2c-11e9-999c-aed5c29d5ebe.png)

[2019-11-04 15:30] #341 closed, assigned to tpitre, davideleuterius

[2019-11-06 12:45] kelscahill commented on #371
@davideleuterius I am going to assign this one to you because it relates with the bug I found yesterday and the checkbox fields not working with the `get_alps_field()` function.

[2019-11-06 12:47] kelscahill commented on #312
@davideleuterius This issue is also blocked by the checkbox issue with `get_alps_field()` I can't get a post to display in the header.
![Screen Shot 2019-11-06 at 7 47 42 AM](https://user-images.githubusercontent.com/4116362/68299464-bb2bd700-0069-11ea-8e87-e95b54db1144.png)

[2019-11-06 17:29] davideleuterius commented on #371
I've just pushed a fix for this to the v3.urgent-bugs branch. This will hide the sidebar on a post or page if either:

- hide sidebar is set globally in the theme settings, or
- hide sidebar is set on the individual entry options

If this logic is incorrect please let me know and I can adjust accordingly.

[2019-11-06 19:18] kelscahill commented on #352
@designerbrent Here is the PR for this issue: https://github.com/adventistchurch/alps/pull/418. The change had to happen in the ALPS PL repo.

[2019-11-06 20:01] designerbrent commented on #352
@kelscahill are you sure it has to happen on ALPS? The PR you sent, https://github.com/adventistchurch/alps/pull/418, looks exatly the same as the current `Article No Sabbath` page here: https://alps.adventist.io/v3/?p=pages-article-no-sabbath

[2019-11-06 20:03] designerbrent commented on #312
@kelscahill Your comment, while interesting to see as a feature, doesn't seem like it's the same thing as this issue is about. Did you see the question here: https://github.com/adventistchurch/alps-wordpress/issues/312#issuecomment-546700434 ?

[2019-11-06 20:49] kelscahill commented on #352
@designerbrent Yes, this is an ALPS update because the `hide-sabbath` mixin resides in ALPS PL. That article page you sent over is just static, but it if had conditional logic to show and hide the sabbath column, then it would work as expected.

[2019-11-06 22:32] designerbrent commented on #352
@kelscahill I've applied the changes and deployed it but I don't see any change yet on a local test install.

[2019-11-07 23:03] ccharacter opened #372 "Undefined variable in primary-navigation.blade.php"
Version 3.0.17-beta: seeing large numbers of PHP notices logged:

PHP Notice:  Undefined variable: parent in /var/www/html/ag3ieS/uploads/cache/447635d153a163cb356f9165edf74bff252bda6b.php on line 38

Of course that cached file is based on /views/patterns/01-molecules/navigation/primary-navigation.blade.php

This notice was generated regardless of whether the primary navigation menu contained item

[2019-11-12 15:27] designerbrent commented on #292
Closed in #373.

[2019-11-12 15:27] #292 closed, assigned to tpitre, kelscahill, davideleuterius

[2019-11-12 15:27] designerbrent commented on #367
Closed in #373.

[2019-11-12 15:27] #367 closed, assigned to tpitre, kelscahill

[2019-11-12 15:28] designerbrent commented on #312
Closed in #373.

This should be fixed by a change deployed to the ALPS CDN.

[2019-11-12 15:28] #312 closed, assigned to tpitre, kelscahill, davideleuterius

[2019-11-12 15:28] designerbrent commented on #365
Closed in #373.

[2019-11-12 15:28] #365 closed, assigned to tpitre, davideleuterius

[2019-11-12 15:28] designerbrent commented on #371
Closed in #373.

[2019-11-12 15:28] #371 closed, assigned to tpitre, davideleuterius

[2019-11-12 15:49] designerbrent commented on #368
This should be resolved in version `v3.0.24-beta`

[2019-11-12 15:49] #368 closed, assigned to milkotodorov

[2019-11-12 20:40] milkotodorov opened #374 "Menu when clicking on sabbath column not available (Chrome only)"
The "menu" is not working anymore when you click on the sabbath column using Chrome. Either on desktop nor on mobile version.
With Firefox or Safari there is no problem.

[2019-11-12 20:44] milkotodorov commented on #312
Hi @designerbrent, sorry to return this back, but it's still not working. Check out our website: http://rm-isac.de/. I've just upgraded the latest version.

Or this is still not available in ALPS CDN? When ALPS CDS get updated do you need some sync or update of the theme? Or the updates are fetched directly from the CDN?

[2019-11-12 20:47] milkotodorov commented on #308
I think this now is ok. I'm closing the issue.

[2019-11-12 20:47] #308 closed, assigned to designerbrent

[2019-11-12 20:50] designerbrent commented on #374
I assume you are working with the latest version, `v3.0.24-beta`? I have been testing it now with Chrome, Firefox and Safari and cannot seem to reproduce the problem.

Any additional information would be helpful.

[2019-11-12 21:44] designerbrent commented on #312
@milkotodorov The way the pattern is currently configured, it only shows when the text is linked.

You can see that in [this example](https://alps.adventist.io/v3/?p=templates-home).

[2019-11-12 22:36] designerbrent commented on #352
This is working now. Must have just been cached.

[2019-11-12 22:36] #352 closed, assigned to tpitre, davideleuterius

[2019-11-12 22:38] designerbrent commented on #344
@davideleuterius Can you rename the `Label Name` on all our custom blocks to prefix them with `ALPS` in the current PR: https://github.com/adventistchurch/alps-gutenberg-blocks/pull/16 ?

[2019-11-12 22:41] designerbrent commented on #360
This was committed in https://github.com/adventistchurch/alps-wordpress/commit/51a8234dda1ed19498b07ff0bbf274565730ba3e

[2019-11-12 22:41] #360 closed, assigned to designerbrent, davideleuterius

[2019-11-12 22:43] davideleuterius commented on #344
@designerbrent Yes, absolutely. That would help distinguishing them from the native ones for sure.

[2019-11-13 08:48] milkotodorov commented on #374
This morning indeed works...I have done nothing. Is this some correction in ALPS CDN?

[2019-11-13 13:31] designerbrent commented on #374
Glad it's working today. We didn't make any change on the CDN.

[2019-11-13 13:31] #374 closed, assigned to milkotodorov

[2019-11-13 22:15] designerbrent opened #376 "Bug on 3 column grid view and page view"
### Homepage/Recent post

The 3 column grid view (set in the ALPS Theme Settings) is pushing 2 columns to the right and overflowing the Sabbath column.

![2019-11-13 at 5 15 PM](https://user-images.githubusercontent.com/132864/68809098-2c0a5a80-0639-11ea-844c-c906332a46ac.png)

### Page / Post footer

On pages and posts, the 3-column view doesn't show, it only shows 2 columns.
This one needs the f

[2019-11-13 23:17] #376 closed, assigned to nobody

[2019-11-13 23:21] designerbrent commented on #191
This has been fixed by #310

[2019-11-13 23:21] #191 closed

[2019-11-13 23:21] designerbrent commented on #203
This was fixed by #310

[2019-11-13 23:21] #203 closed

[2019-11-14 13:47] kelscahill commented on #344
@davideleuterius I will update the naming today.

[2019-11-14 14:10] kelscahill commented on #372
@ccharacter I've tested all possibilities to recreate this error, however I am unable to. Are you able to send a screenshot of your menu configuration in the dashboard? @designerbrent Would you also be able to confirm she has the latest theme version? `3.0.17-beta`

[2019-11-14 14:13] ccharacter commented on #372
My apologies for failing to mention in this thread that this is on a WordPress multi-site, not a single-site install. I'll see what I can get for you--the WordPress update that dropped the other day is keeping me hopping!

[2019-11-14 14:14] ccharacter commented on #372
I strongly suspect that this has to do with the server settings, whether php is set for strict error reporting, including notices. (Mine are.)

[2019-11-14 14:59] kelscahill commented on #344
Here is the PR for this issue: https://github.com/adventistchurch/alps-gutenberg-blocks/pull/17

[2019-11-14 15:11] kelscahill commented on #372
@ccharacter I did try enabling the theme as a multisite and still was unable to get the error. I also do have the `wp_debug`, set to `TRUE`, so it will show errors if it was present.

[2019-11-14 15:33] ccharacter commented on #372
What are your server settings?
https://stackify.com/display-php-errors/
https://www.w3schools.com/php/func_error_reporting.asp

These are my settings from /etc/php.ini:
error_reporting = E_ALL & ~E_DEPRECATED & ~E_STRICT
display_errors = Off
display_startup_errors = Off
log_errors = On

[2019-11-14 15:35] ccharacter commented on #372
If you're simply opting not to concern yourself with the notices (certainly a legitimate strategy!), I'll keep that in mind.

FWIW, I am using php's debug log, not WordPress's. So that again may account for it. The newer php versions are adamant about defining a variable before you can use it.

[2019-11-14 23:03] #358 closed, assigned to tpitre, davideleuterius

[2019-11-14 23:25] #344 closed, assigned to tpitre, kelscahill, davideleuterius

[2019-11-14 23:39] designerbrent commented on #372
- WordPress `5.2.3`
- ALPS for Wordpress `3.0.26-beta`
- PHP `7.3.8`

I don't have a multisite install, so that could be one difference but I have all errors and notices logged.

I've browsed around, edited pages, etc. and still not seen it throw a single error or notice.

@ccharacter Can you try updating to the newest version of ALPS for Wordpress?

[2019-11-15 16:12] designerbrent opened #378 "Error on New Install"
I tried a fresh install of ALPS for Wordpress v3. With on content on the site, it still presented me with the large warning to "upgrade" before continuing.

When I clicked the upgrade button, it went to the white screen showing the progress but gave the following messages:
[code]

I'm wondering if we can detect a previous ALPS install and only then present the upgrade?

[2019-11-15 16:17] designerbrent opened #379 "Remove Classic Editor Requirement"
We need to remove the requirement for the `Classic Editor` module.

[2019-11-15 19:51] davideleuterius commented on #378
@designerbrent I had thought I had put a check in the theme for this, but obviously I'll need to double check this. Looking at it now.

[2019-11-15 21:42] #334 closed, assigned to tpitre, kelscahill, davideleuterius

[2019-11-18 16:11] designerbrent opened #380 "Some converted pages won't display Latest Posts block"
In testing, some existing sites that have been built using pre #310 version of ALPS v3 have problems with not displaying the `Latest Posts` widget on them. I have converted the site over, and then added a `Latest Posts` widget. On the admin side, it displays fine. However, on the front end, the block does not display.

[2019-11-18 17:12] davideleuterius commented on #378
@designerbrent
I just pushed up a branch ( v3.install-fix-378 ) that will check for the piklist theme options in the database. I also pushed up a corresponding fix on the converter that will work in tandem to prevent any unnecessary upgrades from running on fresh installs.

[2019-11-18 17:29] kelscahill commented on #379
@designerbrent PR created here: https://github.com/adventistchurch/alps-wordpress/pull/382

[2019-11-18 17:45] davideleuterius commented on #380
@designerbrent
Looks like the oldest v3 I can pull down for testing is 3.0.17 - would this be sufficient to work out this is with, or no?

[2019-11-18 18:30] designerbrent commented on #380
That should be on Piklist. If that doesn’t work, let me know and I can get older releases.

- Brent

[2019-11-18 20:40] davideleuterius commented on #380
@designerbrent
I just put in a tweak on the converter that should fix this issue.

[2019-11-19 09:22] milkotodorov opened #383 "Hero image and details not updated with block editor"
When editing a page with the block editor the details of the Hero image and Hero kicker are removed upon saving the page, though they stay visible in the editor. However you cannot see them once you save the page.
Resaving the page with classic editor is a workaround and it works.

[2019-11-19 10:06] designerbrent commented on #383
Which version is this happening on?

[2019-11-19 10:47] milkotodorov commented on #383
3.0.26-beta

[2019-11-19 11:13] designerbrent opened #384 "Updating theme incorrectly stops at WP version check"
When upgrading to `ALPS for Wordpress v3` (higher then `v3.0.18`), the theme checks for the current version of Wordpress to ensure it is above `5.2.4`.

It is incorrectly flagging version `5.3` as too old.

[2019-11-19 11:41] designerbrent commented on #383
This is odd as I am not able to reproduce this error. Have you tried with a new page?

[2019-11-19 14:08] milkotodorov commented on #383
Nope - with an existing one. I edited it and noticed that the background disappeared even on preview.
This is "Hero" section - not the "Header" one.
I'll try with a new page to see whether it is still the case.

[2019-11-19 17:22] #379 closed, assigned to kelscahill, davideleuterius

[2019-11-19 17:36] designerbrent commented on #384
Fixed in #382

[2019-11-19 17:37] #384 closed, assigned to designerbrent

[2019-11-19 18:42] #378 closed, assigned to tpitre, kelscahill, davideleuterius

[2019-11-19 18:50] #380 closed, assigned to kelscahill, davideleuterius

[2019-11-19 19:00] designerbrent commented on #338
Hi @steveduffis. First, I'm sorry for my delay in getting back to you. Somehow I missed this post from July.

So the documentation for the templates is for `v2`, not `v3`. The `v3` version does not use the 5 templates but is integrated closer with Wordpress' Gutenberg block editor.

Please let us know if you have additional questions.

[2019-11-19 19:00] #338 closed, assigned to nobody

[2019-11-19 20:04] designerbrent commented on #383
Let me know how that works with a new page. I still haven't been able to reproduce it so am stumped with how we can debug and fix it.

[2019-11-20 11:21] designerbrent opened #387 "Require Gutenberg plugin?"
I'm noticing that the theme is requiring the `Gutenberg` plugin. Now that 5.0.0 is out, do we still need that?

Or is the version compare backwards? Currently it is looking for the following:
`    if (get_bloginfo('version') >= '5.0.0') {`

[2019-11-20 14:27] #387 closed, assigned to kelscahill, davideleuterius

[2019-11-20 21:39] designerbrent opened #389 "Assign Pages limited search"
In the Assign Pages widget for the Related Page fields at the bottom of a page, there is a custom lookup box to select the pages to link to. It seems to be limited to 20.

Can we remove the limit or find a way to page through them?

![2019-11-20 at 4 36 PM](https://user-images.githubusercontent.com/132864/69280317-20c4ab00-0bb4-11ea-941e-0381945f649e.png)

[2019-11-20 21:44] designerbrent opened #390 "Shortcodes in teasers"
Currently, the shortcodes that are included in teasers are expanding, showing the full content. We are using lots of video embeds with shortcodes and that is challenging as it is expending the embed in the teaser.

Can we do one of the 2 options:
- Strip the shortcode from the teaser?
- Add a setting in ALPS Theme Settings to remove the teaser?

[2019-11-20 23:11] designerbrent commented on #390
This is what it looks like with the videos expanded:

![2019-11-20 at 6 10 PM](https://user-images.githubusercontent.com/132864/69286385-1fe64600-0bc1-11ea-8292-658d2e21126f.png)

[2019-11-21 15:20] johnrbeckett opened #391 "Menu X Covered in Logged in Wordpress Site"
![Image 11-21-19 at 9 52 AM](https://user-images.githubusercontent.com/103343/69350938-777bc480-0c48-11ea-87d0-90295494c2c1.jpg)
Note that the menu bar does close whenever any part of the left side is clicked, so functionally it works, but the UI is non-obvious.

[2019-11-21 15:42] designerbrent commented on #391
![2019-11-21 at 10 41 AM](https://user-images.githubusercontent.com/132864/69352853-992a7b00-0c4b-11ea-9403-4d33875c2585.png)

Also, the logo in the Sabbath column is getting cut of, as well.

[2019-11-21 17:41] davideleuterius commented on #389
@designerbrent
Looking at this now.

[2019-11-21 19:08] davideleuterius commented on #389
@designerbrent
There doesn't seem to be a way of controlling this short of actually hacking at the core files unfortunately. If you use the search field on top it will instantly search and filter them though, so maybe that might help? I looked all through the documentation and the issues in their repo for Carbon Fields, but there doesn't seem to be a provided or extensible method for changing this

[2019-11-21 19:08] davideleuterius commented on #390
@designerbrent
Looking at this now.

[2019-11-21 19:27] designerbrent commented on #389
@davideleuterius
I did attempt the search by my query was turning up 44 results. I ended up changing the name of the title to something more unique, selecting it and then switching it back.

For a long term fix, would you be willing to post an issue in their GitHub? I'd be interested in seeing a work around, or ultimately a fix, to this issue.

[2019-11-21 19:56] davideleuterius commented on #390
@designerbrent
I put in a pull request for this. This will strip shortcodes completely from teasers.

[2019-11-21 20:46] #390 closed, assigned to kelscahill, davideleuterius

[2019-11-21 20:50] designerbrent commented on #362
@kelscahill @davideleuterius
Is there a reason that we force the theme to use `jQuery 2.2.4` and not stick with the current version shipping in Wordpress?

Should `jQuery 3.x` work with the Pattern Lab javascript?

[2019-11-21 21:17] davideleuterius commented on #391
@designerbrent
Just put in a fix with this on PR #399

[2019-11-21 21:19] davideleuterius commented on #389
@designerbrent
Sorry you had to do that to work around this issue.

Sure, I will see if I can get their attention with a suggestion to handle this better.

[2019-11-21 21:21] davideleuterius commented on #362
@designerbrent
I am not aware of any specific reason that we are changing the jQuery version. I'll check with @kelscahill to see if there was a reason we specified that.

[2019-11-22 15:18] kelscahill commented on #362
jQuery 2.2.4 was probably copied over from an older theme and never updated, so we should be able to update it to the latest.

[2019-11-25 08:57] milkotodorov commented on #383
I cannot reproduce it anymore with the latest 3.0.28 version - neither with new or with an old page. Even better. Thank you!

[2019-11-25 08:57] #383 closed, assigned to nobody

[2019-11-25 20:53] davideleuterius commented on #362
@designerbrent
I've removed the custom jQuery call and now the native WP version (1.12.4) will now be called instead.

[2019-11-26 21:54] designerbrent commented on #362
@milkotodorov Are you able to test out #362 before we merge it? It would be helpful to get another set of eyes on this.

[2019-11-27 08:21] milkotodorov commented on #362
Thank you all for looking into this!
@designerbrent I'll give it a try and let you know

[2019-12-06 21:24] brentawilson opened #403 "Feature Request: Divider Block"
It would be very nice to have a divider block available that allows for solid, dashed, dotted, etc., horizontal divider lines that are mobile responsive.

[2019-12-06 21:26] brentawilson opened #404 "Feature Request: ALPS CTA Block option to open link in new window"
For offsite links using the ALPS CTA block, it would be very nice to have the option to have the link open in a new window (_blank).

[2019-12-06 21:34] brentawilson opened #405 "Trying to edit a heading after Guidepost block inserted on page seems buggy"
If I insert the guidepost block on a page, then try to edit a heading block, things seem to freeze up or not work normally.

[2019-12-10 00:20] Stevie-G-NZ opened #407 "Add New Page with ALPS 3"
When attempting to add a [New Page], after clicking the [Add New] link, results in a "totally blank" page.
I'm wanting to continue to use the ALPS 3 theme in order to get the 7th-column, but seems there is no basic usability features .. such as adding new pages.
Therefore any and all assistance would be so much appreciated.
Thanks Team
God Bless_

[2019-12-10 00:36] Stevie-G-NZ commented on #407
ok ok ... seems I've solved my own problem ... so sharing just in case others have same issue.
It seems to be a I.E. issue (was using I.E. 11).
Loaded the site using Chrome ... then [Add New] page works as normal.
Thanks All
_(I'll be closing this as an issue in an hour or so)_

[2019-12-10 00:47] designerbrent commented on #407
@Stevie-G-NZ I'm glad to hear you found the solution, though I'm still a bit puzzled by this. While Internet Explorer isn't the most popular browser, and is certainly old, you should still at least see pages and some content, though I will say it doesn't look nearly as good in IE as it does in Chrome, Firefox or another modern browser.

[2019-12-10 00:48] #407 closed, assigned to nobody

[2019-12-10 00:53] Stevie-G-NZ commented on #407
yes agree with you Brent ... i'm puzzled also given at least some content should show on the 'add new' page, even given i was using I.E. 11 .. which i'll soon have to ditch anyway once all support for Win. 7 ends next month (or the month after is it?). Anyway Chrome worked right away so it seems that it was a I.E. rendering problem. Thanks for the feedback Brent

[2019-12-10 15:31] Stevie-G-NZ opened #408 "Gutenberg block elements: Adding Columns"
Need help finding the block that allows [Columns] ... (preferably) ... and/or [Tables].
Both of which appear to be missing in this ALPS version of Gutenberg.
Or ... if this is not a Gutenberg issue ... how can we lay linked images horizontally across the page given the absence of [Columns] and/or [Tables]?
Or ... if the above is not possible ... is it possible to deactivate Gutenberg and return to

[2019-12-12 18:00] designerbrent opened #409 "Mobile width header"
On mobile/narrow viewport, the header stacked and takes too much space.
![2019-12-12 at 12 57 PM](https://user-images.githubusercontent.com/132864/70736840-31fa6680-1cdf-11ea-9977-bd0701a4d9ff.png)

It should look like this:
![2019-12-12 at 1 00 PM](https://user-images.githubusercontent.com/132864/70736912-5fdfab00-1cdf-11ea-89ae-894f34381c35.png)

[2019-12-12 19:35] #372 closed, assigned to kelscahill, davideleuterius

[2019-12-13 18:11] #409 closed, assigned to tpitre, kelscahill, davideleuterius

[2019-12-16 12:12] milkotodorov commented on #362
Hi Brent / David,

thank you for the fix and sorry for my delayed answer.
I checked it without the custom jQuery: https://github.com/adventistchurch/alps-wordpress/commit/5906cbdbf5d224d4cd7a9a312c65409fc13c8c28#diff-b98a6b3d1c628b04bad8a859770742e2R17-L21 (I've commented out this block). But I remember that David already did this in some commit, but cannot find it.

Were this is committed?

I tri

[2019-12-16 16:27] designerbrent commented on #362
@milkotodorov, the issue, and pull request, is #400. You will see the `wp_enqueue_script` is commented out and the script is removed from the footer.

Here are the changes: https://github.com/adventistchurch/alps-wordpress/pull/400/files

Can you look over those changes and test that version, or if the changes are the same comment there?

[2019-12-16 16:40] milkotodorov commented on #362
@designerbrent  Works fine - already tested. I think we can merge it. This was also the recommendation from Wordpress the jQuery that must be used in the themes is the one provided from them.
Thank you! Now we have plugins, which depends on the default jQuery will works too.

[2019-12-16 18:15] designerbrent commented on #391
Fixed

[2019-12-16 18:15] #391 closed, assigned to kelscahill, davideleuterius

[2019-12-16 18:53] designerbrent commented on #362
After merging this change in, @kelscahill / @davideleuterius, and realized that the click on the Sabbath column doesn't work to open the menu.

... this is now in production, so a fix for this soon would be good.

[2019-12-17 08:52] milkotodorov commented on #362
I've noticed this without this merge too, but it's sometime working and sometimes not.
I've tried it with this change after refresh it works. But as well as without it sometimes doesn't work and sometimes work. Clicking on the "Menu" item always work. Not quite sure whether they are related.

[2019-12-17 21:49] designerbrent commented on #362
For what it's worth, I've been testing this more and it seem that on the homepage, the Sabbath-column click is not working. On the other subsequent pages, the click does work.

[2019-12-18 16:36] designerbrent opened #414 "Post titles need h1 tags instead of h3"
The article/post titles need to use `h1` tags instead of the current `h3` tags.

Example: https://www.adventist.org/articles/publishing-work-was-central-to-early-adventist-church-1/

In looking closer at the code, `page-header-feature.blade.php` calls `media-block.blade.php` where the `h3` is located. We need to add a switch that will allow it to use the proper heading level only on the post pages

[2019-12-19 10:01] milkotodorov commented on #362
On our page https://rm-isac.de/ is occasionally not working on any page (tested with Chrome). And there I have 3.0.28 without this change.

[2019-12-19 14:53] designerbrent opened #415 "Add Support for Data Tables"
We need to look at the best way to add support for the `table` plugin.

[2019-12-19 17:03] designerbrent commented on #403
This can probably be done with the default HR / Rule block from Wordpress with a few minor custom styles added.

[2019-12-20 11:18] milkotodorov commented on #362
I've updated to the 3.0.31 and there this change is - still the same. The sabbath column occasionally doesn't work. But most of the times it work.

[2019-12-25 16:49] ptdasilva commented on #327
Hello, I also have the same issue with newly added posts. My Wordpress and ALPS deployment is from 2019 and I always had this issue. Can you please help?

[2020-01-06 15:41] designerbrent opened #416 "PostalCode out of order in address"
The postal code is out of order in the address section of the footer. This needs to be reordered to the correct place.

![2020-01-06 at 10 40 AM](https://user-images.githubusercontent.com/132864/71828789-15004b80-3071-11ea-8163-43ff37591acb.png)

[2020-01-06 16:16] #416 closed, assigned to designerbrent

[2020-01-06 20:22] designerbrent commented on #414
@kelscahill Can you take a look at updating the `patterns.01-molecules.blocks.media-block` pattern to either provide `h1` or `h3`'s?

When this pattern is used for page headers (posts) then we must ensure that it displaying an `h1` tag.

[2020-01-06 21:07] designerbrent commented on #329
This was resolved.

[2020-01-06 21:07] #329 closed, assigned to designerbrent

[2020-01-06 21:27] designerbrent commented on #310
I'm going to call this closed at this point since this is working and merged in v3.

[2020-01-06 21:27] #310 closed, assigned to tpitre, kelscahill, davideleuterius

[2020-01-07 19:27] #320 closed, assigned to tpitre, kelscahill

[2020-01-07 19:31] designerbrent opened #419 "Switch Deployment to Kernl"
We need to create a release that uses the new deployment on Kernl. Once that is ready, we will add it to Kernl and then upload the same final release to the current host.

[2020-01-07 21:30] designerbrent commented on #140
@kelscahill is this a something that Carbon Fields blocks from displaying? I've tried to get this to show in the new v3 but they won't display.

[2020-01-08 19:20] designerbrent opened #420 "Update footer text"
The footer text should be updated to read as follows:

`Adventist.org is the official website of the Seventh-day Adventist World Church`

[2020-01-08 21:55] designerbrent commented on #318
Just to be clear:
- Editors should be able to add the option of a `Half screen image gallery with text overlay (Max Images: 6)`
- Once selected, editors should be able to add individual slides (like ALPS v2) that contain an image, Hero Title, Hero Kicker, Hero Link URL Hero Link CTA for each one.
- This should be built using the [Hero Carousel](https://alps.adventist.io/v3/?p=organisms-hero-carous

[2020-01-09 17:20] designerbrent opened #421 "Previews of Posts not working"
When a user try's to preview a post, it displays a white/blank screen, giving us no insight into how this should look.

We need to find the problem causing this to return a white screen.

[2020-01-30 14:21] cdbieling opened #422 "Wordpress Theme-Update Notification does appear even after update."
I updated the Theme more than 20-30 Times, and always, it appears again, there is an Update for the alps-wordpress theme. (Du hast Version installiert. Aktualisiere auf Version 3.0.32).
Now, i deleted the theme, downloaded it new, and installed the new theme, but the udpate-message does appear again.
(I am using a Child-Theme, but this should not be the problem)

[2020-01-30 16:09] milkotodorov commented on #362
With the commit 7c51e49e0eb28f3c60dd56017b403ea03914be82 the jQuery version is back to 2.x.x ...

[2020-01-31 15:02] kelscahill commented on #421
@designerbrent After looking into this some more and doing some testing, it's a setup issue with the Wordpress instance and not a theme issue. After making the updates in this article to my local the preview worked as expected: http://techsharing.net/wordpress-preview-drafts-error/

[2020-02-04 15:53] designerbrent opened #424 "Guidepost updated to be on Wordpress"
The new plugin can be found here:
https://wordpress.org/plugins/guidepost/

Also need to update the `functions.php` file to link to `sortabrilliant/guidepost`

[2020-02-04 23:14] cdbieling commented on #68
I have a short question to that issue. The "Read More" is not yet translated into German language. I could not find it in the themes alps.pot file, (so i could create and use a de_De.po translation file.)
The same case, if I make a category-menu. There it says: "Recent Posts"

[2020-02-04 23:16] cdbieling commented on #68
![trnaslation](https://user-images.githubusercontent.com/19514133/73796138-bd0e4f00-47ac-11ea-83ea-805f9fdc9029.png)

[2020-02-05 11:28] designerbrent commented on #414
@kelscahill Can you create a pull request for this against this branch: https://github.com/adventistchurch/alps-wordpress/tree/v3.adventist-org
I'm not sure how to just get these changes in and not all the intervening changes, too.

[2020-02-05 11:51] designerbrent opened #425 "h1 tags for hero images"
Likee #414, we need to switch the hero block to use `h1` tags instead of `h3` tags.

[2020-02-05 11:54] designerbrent commented on #421
@kelscahill ok, I'll mark this on our internal tracking as that is a problem we are having on Adventist.org but have not been able to reproduce elsewhere.

[2020-02-05 11:54] #421 closed, assigned to nobody

[2020-02-05 13:17] kelscahill commented on #425
@designerbrent the #414 PR does include adding H1's to the hero. Let me know if I missed any instances in that PR.

[2020-02-05 16:49] designerbrent commented on #425
I'm not seeing any change on the Hero banner, @kelscahill. The only thing I saw change is the regular banner.

Just to be clear, since every page needs an `<h1>` tag, we need to make sure this work for the Hero, the regular Banner, and the Post type page header.

[2020-02-05 16:57] kelscahill commented on #425
@designerbrent I left a comment in the PR on the line that changes the H1's in the hero's. https://github.com/adventistchurch/alps-wordpress/pull/426/files

[2020-02-05 18:50] designerbrent commented on #425
Ok, this is my bad. I found I was testing the wrong code and making changes somewhere else. This has been resolved, @kelscahill.

[2020-02-05 18:50] #425 closed, assigned to tpitre, kelscahill, davideleuterius

[2020-02-05 19:03] #424 closed, assigned to designerbrent

[2020-02-05 19:13] designerbrent commented on #420
This was fixed in the 3.0.33 update.

[2020-02-05 19:13] #420 closed, assigned to designerbrent

[2020-02-05 19:13] designerbrent commented on #414
This is now resolved.

[2020-02-05 19:13] #414 closed, assigned to tpitre, kelscahill, davideleuterius

[2020-02-10 13:07] cdbieling commented on #116
@designerbrent: As You recommended somewhere else, i was searching for a good and beautiful calendar plugin for events. Instead of paying every year,  I found a great Plugin called: Modern Events Calendar (MEC).
Advantage: One-Time Payment for the Pro-Version. Very beautiful and many many options.

But this Calendar solution is not compatible with the ALPS-3 Wordpress theme:

I bought the PRO-Vers

[2020-02-10 17:46] #330 closed, assigned to nobody

[2020-02-10 17:51] cdbieling opened #429 "4-digit Numbers appears on page when adding a 'Footer Logo Icon'."
how to reproduce this issue:

I added in the Theme footer-settings a logo. Above the logo on the right side is a 4-digit number.
On the left side above the footer area, there is this number a second time.
When I am using the sabbath column, having an Footer Logo Icon inserted, the 4-digit number is only on the left side.

(Added a svg and a png-logo, but the problem is the same. )
![Opera Momentau

[2020-02-10 22:16] designerbrent commented on #116
Could you help me understand what you were expecting it to do? This is not something we have integrated yet, but will be doing in the future.

[2020-02-10 23:17] cdbieling commented on #116
I contacted them half a year ago with this problem, and they said, it's definitely their fault, however, now they say, its the theme fault, so I don't know, where the problem originates.

Following problems are occurring:
a) All Filters are not working. (show more, date filters...)
b) The Calendar-Single-Page is completely broken. (See pictures)

Screenshot to a) clicking on Details will not work

[2020-02-17 22:34] cdbieling opened #431 "Ignoring HTML within Dropcap"
If you are using html within a post at first, Drop-Cap breaks HTML.

See below:
<img width="493" alt="Bildschirmfoto 2020-02-17 um 23 31 34" src="https://user-images.githubusercontent.com/19514133/74690121-18453600-51de-11ea-9d9e-6b7f4b882081.png">

[2020-02-18 00:52] designerbrent commented on #405
@brentawilson Can you check this with the newest version of the `Guidepost` plugin and ALPS? Right now, I'm thinking this is a `Guidepost` problem,  not ALPS.

[2020-02-18 00:54] designerbrent commented on #327
@ptdasilva and @dbieling: Can you confirm this is a problem with the newest version of the ALPS for WordPress theme, version `3.0.34`?

[2020-02-18 01:14] designerbrent commented on #362
The current version of the theme does not load a specific  version  of jQuery. That is currently commented out: https://github.com/adventistchurch/alps-wordpress/blob/v3/app/setup.php#L17

I see that on your site, jQuery Mobile 2.x.x is loading but that must be from some other plugins, as ALPS doesn't load that. If you were able to strip your plugins back and test the Sabbath Column click issue, t

[2020-02-18 01:30] designerbrent commented on #116
To-date, we don't officially support a calendar plugin, @dbieling. This is high on my priority list,  but not something we have tackled yet. When we do, I plan to use the `Modern Events Calendar (MEC)`

[2020-02-18 01:36] designerbrent commented on #135
At this point, the best workaround is to put content in the `Excerpt` field. This allows you to customize the content on the excerpt.

[2020-02-18 01:36] #135 closed

[2020-02-18 01:56] designerbrent commented on #353
this should be resolved.

[2020-02-18 01:56] #353 closed, assigned to tpitre, davideleuterius

[2020-02-18 01:57] designerbrent commented on #302
I'm closing this as I haven't heard more. If this continues to be a problem with the latest version of ALPS for Wordpress, feel free to reopen.

[2020-02-18 01:57] #302 closed, assigned to cdbieling

[2020-02-18 02:03] designerbrent commented on #422
I'm consistently seeing this on the Update page `/wp-admin/update-core.php`:
![2020-02-17 at 9 02 PM](https://user-images.githubusercontent.com/132864/74697531-f55c5700-51c8-11ea-9956-c1583a0be1d8.png)

[2020-02-18 09:05] cdbieling commented on #327
I updated the theme today, (as mentioned in #422 i can update the theme every 5 minutes), but with version .34 should be the newest version installed.
And the problem exists furthermore, or advanced even more. (In June 2019) i observed this behavior only on posts and publications, which were published for archive-purpose. (with an publishing date of 2018 or earlier. But with new posts the date was

[2020-02-18 09:19] cdbieling commented on #116
Thanks so much for your reply and the hope, that we can integrate it into the website. As mentioned, i bought a support ticket, and the latest reply was, that they will make this plugin compatible with our theme, but that we are put very back in priority, because of the minor relevance for their users.
They said, its a theme problem. Let's see, who will fix this problem, you as theme creator, or t

[2020-02-18 10:04] cdbieling commented on #302
Yes thats ok. Because it was recommended some years ago in the ALPS-Instructions, to copy the code and to insert it, i thought, this was a template bug, not supporting the copied code. You are right, i converted the text-section into Gutenberg-blocks.
But using the cool alps-modules within Wordpress (like breakout-images with 3 different (mobile and responsive-optimized pictures, i wrote now a css

[2020-02-24 20:54] sergsadovyi commented on #337
Added PR with the ability to set Home Page and Archive Page title. And also control the display of sidebar on archive page separately.

@designerbrent
Is it enough or there are more configurable values should be added?

[2020-02-25 09:53] #318 closed, assigned to sergsadovyi

[2020-02-25 11:32] designerbrent commented on #184
I think this  has been solved with subsequent versions. If this continues, please open a  new issue with any errors messages you are seeing and the version number of the `ALPS for WordPress` theme you are running.

[2020-02-25 11:32] #184 closed

[2020-02-25 14:00] designerbrent commented on #403
FYI: The block also needs to be enabled in the theme for it to show up. @sergsadovyi

[2020-02-25 14:37] designerbrent opened #433 "Comment Form Not Rendering Correctly"
The comment form is not rendering correctly. It is showing the `Submit` label outside of the button element.

![2020-02-25 at 9 36 AM](https://user-images.githubusercontent.com/132864/75257065-6c3db500-57b2-11ea-8952-3d4fdb16c076.png)

[2020-02-25 14:44] designerbrent opened #434 "Adventist.org to Child theme"
We need to pull the custom functions on the [Adventist.org Custom Branch](https://github.com/adventistchurch/alps-wordpress/tree/v3.adventist-org-updates) and reduce it to being a child theme of the main ALPS for WordPress.

[2020-02-25 17:23] #431 closed, assigned to sergsadovyi

[2020-02-26 19:42] milkotodorov commented on #362
Hi @designerbrent,

sorry for the delayed answer. How about this: https://github.com/adventistchurch/alps-wordpress/blob/v3/views/patterns/02-organisms/global/footer.blade.php#L70
I see that it's in the footer and before you remove it.

On our website is currently version 3.0.31 and there this is not the case.
With this commit https://github.com/adventistchurch/alps-wordpress/commit/fd903587800f60

[2020-02-26 20:11] designerbrent commented on #362
Ok, so it seems that it got reverted accidentally in that last commit.

I did a quick check at removing it and found that without that line, the Sabbath column link only works on some pages, but not all. I'm going to assign this to someone else to debug and get to the bottom of it.

--------
## TL;DR

ALPS core uses `jQuery 2.2.4` and that was brought over in the original version of ALPS. However,

[2020-02-28 00:15] hans-olson commented on #429
The number changes based on the file I chose, it seems to be in the order that files are in the media directory

[2020-03-02 09:23] sergsadovyi commented on #362
Hi all. I've spent some time to discover this issue and read the comments. Here are my suggestions.

For now, we have different major versions of jQuery in two projects.  I'd not expect that ALPS core js, which developed and tested on `jQuery 2.2.4`, will work without issues on `jQuery 1.12.4`. I see two options, that we should discuss:

**1. Stick to the Wordpress jQuery version `1.12.4`.**

jQue

[2020-03-02 14:31] milkotodorov commented on #362
Hi @sergsadovyi,

thank you for looking into this. If ALPS needs a higher version of the jQuery then the

 option looks good if it works. Though I read that WordPress recommends not overriding its default jQeury version in developing a theme (don't know why - perhaps exactly for this reason with the plugins). Does ALPS uses some functions from jQuery 2.x?
But this is just my opinion - I know you g

[2020-03-02 15:29] sergsadovyi commented on #362
@milkotodorov thanks for your feedback. You are right, WordPress recommends not overriding its default jQuery version (`v1.12.4`). And option 2 does not override the default version, it adds the second global variable with `jQuery v2.2.4`.

All Wordpress plugins will use the bundled jQuery. ALPS core js will use alternative jQuery because it knows that `v2` is available in global variable `$jq2`.

[2020-03-05 15:56] designerbrent commented on #429
Please check for the header logo as well as the Sabbath column logo and background, as well.

[2020-03-05 16:12] #325 closed, assigned to sergsadovyi

[2020-03-05 16:25] #433 closed, assigned to sergsadovyi

[2020-03-09 20:28] sergsadovyi commented on #429
Checked. All is fine. No number appears

[2020-03-09 22:45] #429 closed, assigned to sergsadovyi

[2020-03-10 10:24] sergsadovyi commented on #327
I'm trying to reproduce the bug on my local environment. And have no luck.
@dbieling could you give me temporary access to your hosting, to test on real data? Or do the mysql database dump, so I'll debug locally.
I think something wrong with date structure in db.

[2020-03-10 10:53] sergsadovyi commented on #403
Enabled Separator block with 3 types of styles.
Is there any divider atom or molecule in ALPS, so I can apply the CSS classes?

[2020-03-10 22:25] #422 closed, assigned to sergsadovyi

[2020-03-10 22:31] #403 closed, assigned to sergsadovyi

[2020-03-11 02:05] brentawilson opened #440 "Gutenberg Button Block Not Accessible In ALPS 3"
The standard Gutenberg button block seems to not be accessible in ALPS 3. Can the theme be updated to allow this block to be used? In addition, the button created by this block should be formatted in accordance with the theme styles, etc.

@designerbrent

<img width="1078" alt="Screen Shot 2020-03-09 at 6 06 18 PM" src="https://user-images.githubusercontent.com/55259124/76375180-c8ecb400-630a-11ea

[2020-03-11 02:11] brentawilson opened #441 "Sidebar Menus need to be more obvious that they are links"
Can we make it more obvious that sidebar menu items are actually links? Maybe something like this atom but with the proper theme colors for the site: http://alps.adventist.io/v2/?p=atoms-see-all-link.

@designerbrent

<img width="406" alt="Screen Shot 2020-03-09 at 5 52 22 PM" src="https://user-images.githubusercontent.com/55259124/76375392-4c0e0a00-630b-11ea-833e-b8d0c55d7d50.png">

[2020-03-11 02:14] brentawilson opened #442 "Link Underline Showing On Some Buttons"
At least some buttons are showing the underline of a link text that sticks slightly out past the footprint of the button. See the attached image for an example.

@designerbrent

<img width="235" alt="Screen Shot 2020-03-10 at 8 12 56 PM" src="https://user-images.githubusercontent.com/55259124/76375484-9099a580-630b-11ea-9345-fa8f87591fb6.png">

[2020-03-11 12:44] designerbrent commented on #440
I see that in some sites, the button is not accessible, but I'm not sure why. I have tested on multiple installs and found it working there. In the site you are referencing, @brentawilson, I even see the line allowing the button to work there:
https://github.com/adventistchurch/alps-wordpress/blob/v3/functions.php#L426

However, I'm not sure yet, why it doesn't work.

[2020-03-12 00:03] designerbrent opened #443 "BUG: Custom logos for each language"
Prior to the conversion to Carbon Fields, if the `WPML` plugin was installed, their was an option on  the theme settings page for adding multiple logos, one  for each language.

### Issue:
Currently,  when the *WPML* plugin is installed, there  is  no option to change add addtional logos AND when you try a custom logo, the logo won't change.

### Problem:
The problem lies on [line #2](https://gith

[2020-03-16 21:51] designerbrent commented on #362
@sergsadovyi Let's  go ahead and pursue option 2, using the `noConflict()` method. If I understand correctly, that will mean you will need to make edits to the `js` in ALPS Core, correct?

[2020-03-24 14:33] designerbrent opened #444 "Related Pages & Posts links to page ID and not permalink"
The `Related Pages & Posts` at the bottom of pages links pages to the page ID (IE: `/?page_id=1969`) not the page permalink (IE: `/family`).

The page needs to be adjusted so we are not pushing through a redirect on every link click.

![2020-03-24 at 10 25 AM](https://user-images.githubusercontent.com/132864/77437308-e1ed6e80-6dba-11ea-9eb4-2f2d888c52dc.png)

[2020-03-25 17:46] cdbieling commented on #327
Thanks for your responds:
Unfortunately, i cannot give you access to the live-host. I share with you the dumb:
TO access the link, you should fetch this information: (Its only one time accessible.
https://onetimesecret.com/secret/86ezzuptivyhz0cw4459ig304m3d8nk

After that, open that link:
https://cloud.adventgemeinde-lahr.de/index.php/s/tGzLYqdzw4CY8dC

[2020-03-27 13:36] kelscahill opened #445 "Built out new hero/header layout"
Build out the static hero on http://adventist.org/ in the V3 wordpress theme.

![Screen Shot 2020-03-27 at 9 34 01 AM](https://user-images.githubusercontent.com/4116362/77761313-389eb680-700e-11ea-9852-13e95b9770a3.png)

[2020-03-30 15:16] simonbota opened #447 "Impossible to install Alps-wordpress in wordpress 5.3.2"
when i upload the folder in sip form, i have one error : Problem with CSS files, Absent and installation is stop

[2020-03-30 15:46] designerbrent commented on #447
Hi @simonbota Where are you getting the zip from? The best one to download is from the distribution system here: https://kernl.us/api/v1/theme-updates/5be537a15ecd012001496112/download/

That version will continue to be updated.

[2020-03-30 19:17] kelscahill commented on #445
@designerbrent PR is created here: https://github.com/adventistchurch/alps-wordpress/pull/446

[2020-03-31 04:16] brentawilson commented on #405
@designerbrent I created a test page with a Guidepost block. When I edited headings on the page, things seemed to work properly. I think where I was having issues in the past was on some of the content-heavy pages on the dev.adventist.org site. But unless having a more content-heavy page triggers this weird issue, it seems to be resolved.

[2020-03-31 04:16] #405 closed, assigned to brentawilson

[2020-03-31 18:38] Laeti-77 commented on #408
Hello,
Excuse me because my english is awful. My question in French was translated by Google Translation.
I'm relaunching Stephane's topic because I will also need more options in Gutenberg.
I installed the extension "Ultimate Addons for Gutenberg" which works correctly with other themes, but with yours, it is impossible to reach its block proposals.
This is very annoying. Especially since the col

[2020-04-01 18:04] kelscahill opened #449 "Create child theme for custom homepage"
Convert all the new components on https://www.adventist.org/ to Carbon custom fields. Add all the development work as a child theme.

[2020-04-01 18:57] kelscahill commented on #449
@designerbrent How would you like to track the development of the child theme changes in github? Is it best to create a new repo `alps-wordpress-child`? The child theme files will be located in `themes/alps-v3-child`

[2020-04-02 05:34] sergsadovyi commented on #444
Can't reproduce. Need more info to check the issue

[2020-04-02 19:19] designerbrent opened #451 "Wordpress 5.4 Moves the Button Element"
With the release of WP 5.4, the [button element has been revamped significantly](https://wordpress.org/support/wordpress-version/version-5-4/#two-new-blocks-and-better-blocks-overall). Unfortunately the explicit button we were using is gone.

To prevent using just any block, we explicitly only allow certain blocks.  That list is defined in the [`functions.php` file, line 426](https://github.com/ad

[2020-04-06 21:34] designerbrent commented on #449
@kelscahill I have created a new project here: https://github.com/adventistchurch/alps-wordpress-child that will be for the public. The theme that will go on Adventist.org will be in another private repo.

[2020-04-08 06:30] ontariosda opened #453 "Form plugin not working"
I have been using Forminator plugin to create a simple Contact form on our site.  Worked well with ALPS 2.2.1, but since moving to ALPS 3.1.3 the form no longer works, the form is gone, no longer visible on the page.  I have disabled all other plugins and tested on a clean installation of WordPress with the same problem.

Any help would be appreciated.

[2020-04-08 13:48] kelscahill commented on #449
@designerbrent Thanks for creating the repo! I have the child theme ready for review. All the files are pushed to master at https://github.com/adventistchurch/alps-wordpress-child. Please just make sure your parent theme folder is labeled `alps-v3` and set the homepage as `Front page` in`Settings` >`Reading` for the `ALPS: Page Sections` fields to display.

[2020-04-10 18:24] #451 closed, assigned to sergsadovyi

[2020-04-10 18:48] #443 closed, assigned to sergsadovyi

[2020-04-10 18:55] #445 closed, assigned to kelscahill

[2020-04-10 19:34] #404 closed, assigned to sergsadovyi

[2020-04-14 16:47] cdbieling commented on #116
@designerbrent: I was in contact with MEC (Modern Events Calendar) and they said, the plugin is not working, because you are using 2 jquery-versions.
as mentioned in #362 it this seems, that you are fixing this issue.
Can you outline, what you expect, when it will be done?

[2020-04-14 16:54] cdbieling opened #454 "Calling the Theme Header and Footer with php"
The Plugin Modern Events Calendar calls the standard header and footer from php.
`get_header('mec'); ?>`

Now, they made it easy, to edit the calendar-view page. Can anyone from you give a hint, how to call the Theme-header/footer from blade?

This would be great.
if #362 is fixed, there is a great chance to use this plugin with the alps3 theme.

[2020-04-15 17:42] designerbrent opened #455 "Error with 3.2.0 udpate"
After pulling this updated (https://github.com/adventistchurch/alps-wordpress/pull/446) and deploying it, I found an error that I forgot to test for before deploying this. When the `Half screen image gallery with text overlay` option, it breaks, leaving not a slideshow, but some images and a misformed page. From the looks of it, it appears that the HTML got broken at the wrong place.

![2020-04-15

[2020-04-15 18:45] kelscahill commented on #455
@designerbrent Looks like there was some missing required code in this PR https://github.com/adventistchurch/alps-wordpress/pull/428

I am currently working to resolve the errors and will hopefully have it cleaned up and fixed by tomorrow. I wanted to give you a status update, so you can decided if you want to revert that merge (PR #428) till I have a fix ready.

[2020-04-15 19:06] kelscahill commented on #455
@designerbrent Just letting you know a PR was created for this issue here: https://github.com/adventistchurch/alps-wordpress/pull/456

[2020-04-15 19:15] #455 closed, assigned to tpitre, kelscahill

[2020-04-16 15:14] SGirven opened #457 "ALPS 3 in Adventist Church Connect"
Hi there,

When will Adventist Church Connect be able to incorporate ALPS 3 as an available theme.

Thanks.

[2020-04-17 15:54] designerbrent commented on #457
Excellent question, @SGirven. While we develop the core ALPS pattern system as well as the WordPress Theme, Adventist Church Connect develops the code for their own themes. I would recommend that you contact them directly here: https://www.adventistchurchconnect.com/

[2020-04-17 15:54] #457 closed, assigned to nobody

[2020-04-18 17:27] dlgrigore opened #458 "Sabbath-column image on iphone"
Hello,
There is a problem when I want to add an image in the sabbath-column. On desktop it is showing well, but on iphone not good. There is some space that the photo is not covering in the top and in the bottom.
Is a matter of ratio sizing image, or is a css problem?
Could you fix it up?
Thank you.

[2020-04-21 00:03] brentawilson opened #459 "Child Page Indicator Arrows Not Displaying Properly On Slide-In Main Menu When Dark Theme Is Selected"
Child/sub page indicator arrows are not displaying properly on the main slide-in menu when a dark version of an ALPS color scheme is active.

<img width="196" alt="Screen Shot 2020-04-20 at 6 03 03 PM" src="https://user-images.githubusercontent.com/55259124/79810807-26741780-8331-11ea-917a-263580497c7c.png">

[2020-04-21 12:59] designerbrent commented on #459
Issue moved to [adventistchurch/alps #443](https://github.com/adventistchurch/alps/issues/443) via [**ZenHub**](https://www.zenhub.com/)

[2020-04-21 12:59] #459 closed, assigned to nobody

[2020-04-21 18:38] designerbrent commented on #449
@kelscahill

I tested the child theme and have a few notes:

1. I renamed the parent theme in the child theme to be what we default to, `alps-wordpress-v3` to keep things consistent.
2. I'm unsure what `views > front-page.blade.php` does. When I set a front page like we have for Adventist.org, it doesn't look like that. When I use the default front page, it looks like the attached screenshot, with

[2020-04-21 18:41] designerbrent commented on #113
Once https://github.com/adventistchurch/alps-wordpress/issues/449 is completed, the child theme will be available.

[2020-04-21 18:41] #113 closed

[2020-04-21 19:29] designerbrent commented on #440
This was resolved in v3.2.1

[2020-04-21 19:29] #440 closed, assigned to nobody

[2020-04-21 19:33] #244 closed

[2020-04-22 16:55] kelscahill commented on #449
@designerbrent The renaming of the folders would have broken the child theme. I've updating the settings and the README requirements. Here is a short video of the steps to enabled the custom fields for the front page. https://d.pr/free/i/oGmOGC

When you say `What I was thinking would be that this is nearly done.`, do you mean all the content would be populated? For adventist.org, you'll just need

[2020-04-23 05:45] dlgrigore opened #462 "Comments Not Showing"
Hello,
The comments for any post is not showing. They are on admin backend Comments, but not in the frontend. How to fix it up?
Thank you.

[2020-04-23 14:14] #444 closed, assigned to sergsadovyi

[2020-04-23 15:48] kelscahill commented on #449
@designerbrent I did some testing to replicate the repeating template on the homepage and everything seems to be working as expected. Try a fresh DB and see if that does the trick. Also, I made the updates to the child themes from our discussion yesterday. The custom fields are now moved to https://github.com/adventistchurch/alps-wordpress-aorg and https://github.com/adventistchurch/alps-wordpress

[2020-04-23 17:38] designerbrent commented on #389
@davideleuterius Do you have a link for the issue you raise on this?

[2020-04-23 18:08] designerbrent commented on #458
@kelscahill Please take a look at this issue. I can only reproduce this on https://adventist.pro/ on an iPhone.

This is probably an ALPS Core bug.

[2020-04-28 20:34] designerbrent commented on #449
@kelscahill from what I can tell, the child theme looks great. I have a project coming up that I will be having the contractor use this, so we may make some changes, but they will be minor.

I've created a new ticket for you with some minor edits to the Adventist.org version that are here: https://github.com/adventistchurch/alps-wordpress-aorg/issues/1

With that, I'll be closing this ticket.

[2020-04-28 20:34] #449 closed, assigned to designerbrent, kelscahill

[2020-04-28 20:35] #434 closed, assigned to tpitre, kelscahill

[2020-05-05 19:37] designerbrent commented on #113
The child theme is now available here: https://github.com/adventistchurch/alps-wordpress-child

[2020-05-05 20:36] designerbrent opened #465 "Theme option for wide logo"
We need a new option on `ALPS Theme Settings` under the logo section support a wider logo as outlined in https://github.com/adventistchurch/alps/issues/376 once that issue has been resolved in ALPS Core.

[2020-05-07 00:15] designerbrent opened #466 "Category Posts Feed Label setting not working."
## Problem:
When you go to `Appearance` > `ALPS Theme Settings` and view the `Posts Options` tab, there is a setting titled `Category Posts Feed Label`. Toggling the setting does nothing.

![2020-05-06 at 8 11 PM](https://user-images.githubusercontent.com/132864/81240583-c1c5e780-8fd5-11ea-8ec3-8c1729ecafbe.png)

## Solution:
* When a user toggles this box, the category feed should display the wor

[2020-05-07 14:35] designerbrent opened #467 "New Feature: Intergration with SmartCropping"
## Problem
Dynamic header images don't crop well.

## Possible Solutions
Smart cropping seems like it could optionally help. We should explore integration with a module like **WP SmartCrop** https://wordpress.org/plugins/wp-smartcrop/

## User Stories
- User uploading an image should be able to choose the primary focus point of an image and the cropping will work around that to make sure that poin

[2020-05-11 00:52] designerbrent commented on #337
## Users should be able to do the following:

- [x] User should be able to set a **custom homepage title** (replacing `Recent Posts`).
- [x] User should be able to **disable the homepage sidebar**.
- [x] User should be able to set an **archive page title** from the custom `Post page` title.
- [x] User should be able to **see the header area** of the custom `Post page` page from that page.
- [x] Us

[2020-05-11 01:00] designerbrent commented on #337
This was closed in #468

[2020-05-11 01:00] #337 closed, assigned to sergsadovyi

[2020-05-11 01:04] designerbrent commented on #192
I don't think this will get changed in version 2.

[2020-05-11 01:04] #192 closed

[2020-05-11 01:11] designerbrent commented on #462
@sergsadovyi Please take a look at this issue. It appears that comments posted are not showing on the posts pages

[2020-05-12 15:51] kelscahill commented on #458
@davideleuterius The issue with this one is `background-attachement: fixed` is not fully supported for mobile. We'll need to figure out another way to fix that image. This change would happen in ALPS PL. https://github.com/adventistchurch/alps

[2020-05-12 16:05] davideleuterius commented on #458
@kelscahill Thanks for the direction on this. I'll look at getting a fix in for this.

[2020-05-12 16:05] davideleuterius commented on #465
@kelscahill I'll look at getting this worked in.

[2020-05-12 20:08] davideleuterius commented on #458
@designerbrent @kelscahill I have put in a fix on the ALPS branch. The only thing I could see that would work here was to make the background cover the available area. Let me know if this works or if it needs more attention.

[2020-05-12 23:05] hans-olson opened #469 "Custom Logo set with WPML not Showing in 3.4.0 and forward"
**Version of ALPS for Wordpress**
v3.4.0

**Describe the bug**
Custom Logo not Showing in 3.4.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://sandbox12.adventist.io/'
2. Click on 'ALPS Theme Settings' under 'Appearance'
3. See logo is customized, but not showing on the site
4. Also see that there is not an option to add multi-lingual logo options

**Screenshots**
<img width=

[2020-05-14 13:28] designerbrent opened #470 "Custom block teaser button text"
**Is your feature request related to a problem? Please describe.**
Most of the time, having a button that says `Read More` is fine, but occasionally it would be helpful to have some custom text for the button.

**Describe the solution you'd like**
We need that an author can customize the button text for the link that shows on the teaser view.

**Additional context**
<img width="863" alt="Screen_Sh

[2020-05-14 20:02] designerbrent commented on #458
@davideleuterius Where do I see the changes for this? Is there a PR for it?

[2020-05-14 20:04] davideleuterius commented on #458
@designerbrent I pushed it on the v3.458-sabbath-bkg-image branch. I'll submit that to you now as a PR.

[2020-05-15 04:13] hans-olson commented on #469
The custom logo not appearing on dev.sharinghope.com in 3.4.x is related to WPML. When I turned WPML off in the staging site (sandbox12.adventist.io), the logo immediately appeared.

This issue is currently fixed on dev.sharinghope.com by a robust child theme that overwrites much of 3.4.x with 3.3.0. I've tested with 3.4.0 and 3.4.1.

[2020-05-15 19:44] hans-olson commented on #469
The logo issue is with this file /app/fields.php.

This issue is handled by a child theme that overwrites parts of 3.4.x with 3.3.0. I've tested with 3.4.0 and 3.4.1. **Once WPML is disabled, the logo appears!** The logo issue is with this file /app/fields.php.

Also, parts of the "app" and "dist" folders are need otherwise site breaks.

I'm attaching a ZIP of the child theme
[alps-wordpress-v3-sh

[2020-05-18 09:00] MichealBwambale opened #471 "header error alps 2"
Warning: Invalid argument supplied for foreach() in C:\xampp\htdocs\wordpress\wp-content\themes\alps-wordpress\templates\block-layout-front.php on line 21
after setting the home page with home template
what should i do?

[2020-05-18 09:12] designerbrent commented on #471
Which version of the theme did this occur with, `v2` or `v3`?

- Brent

[2020-05-18 09:28] MichealBwambale commented on #471
v2
v3 exceeds the required capacity

[2020-05-18 09:34] MichealBwambale commented on #471
Am using V2
I tried v3 but my xamp says and wamp says it exceeds the maximum required
capacity in php.ini

On Mon, May 18, 2020, 12:13 PM Brent Hardinge <notifications@github.com>
wrote:

[2020-05-18 10:21] designerbrent commented on #471
- Which version of Wordpress are you running?
- Which version of PHP are you running?

Since it runs fine in our test environment, I will need more information to help debug it.

[2020-05-19 08:02] MichealBwambale commented on #471
wordpress 5.4.1
xamp sever

[2020-05-19 12:38] designerbrent commented on #471
@MichealBwambale Based on your comments above, I think you have an older version of XAMP server. If you can't run ALPS for Wordpress v3, you will probably have errors with ALPS for Wordpress v2. And I'm guessing that is what you are seeing.

Saying you have XAMP doesn't tell me much, as it is made up of Apache, mySQL and PHP, all with their own version numbers. You should check with xAMP and make

[2020-05-20 07:39] MichealBwambale commented on #471
I have upgraded  my php still the error is the same.
but i have decided to use V3 .
just help me how to add a slider on the home page

[2020-05-21 14:58] davideleuterius commented on #140
@designerbrent I'll look into this. If this is coming from Piklist, because I think we still have it in the theme for backwards compatibility reasons for those still upgrading, we'd have to look at completely removing Piklist from the theme. Which actually should happen at some point in the future anyway.

[2020-05-21 22:30] hans-olson opened #475 "Button in CTAs Not Translatable"
**Version of ALPS for Wordpress**
v3

**Describe the bug**
Button under CTAs do not adhere to WPML string translation so the text appears in English regardless of language

[2020-05-26 10:49] #458 closed, assigned to kelscahill, davideleuterius

[2020-05-26 11:02] designerbrent commented on #458
@dlgrigore once this fully deploys across our cache servers, it should resolve the issue. If it after a day or so, please reopen this ticket.

[2020-05-26 14:27] designerbrent commented on #471
Everything you need to create a homepage slider is on the "Page" content type. Near the bottom of the page you will see a sectioned called "ALPS: Hero". From there, select the `Half screen image gallery with text overlay` option and you can add up to 6 images to the carousel.

![2020-05-26 at 10 26 AM](https://user-images.githubusercontent.com/132864/82912807-81ee8200-9f3b-11ea-8ed1-a671e3db3576.p

[2020-05-26 14:27] #471 closed, assigned to MichealBwambale

[2020-05-26 20:36] #340 closed, assigned to sergsadovyi

[2020-05-26 20:37] designerbrent commented on #340
This is fixed and deployed. It will take up to 2 days for the CSS to clear out of the edge cache before you will see any changes.

[2020-05-27 12:44] designerbrent opened #476 "Fix: CTA button missing from Full screen hero"
@designerbrent commented on [Wed May 20 2020](https://github.com/adventistchurch/alps/issues/454)

We need to add the option of including a `Hero Button` in addition the `Hero Link URL`. This should be configured to show the button IF the text is there for the button. This should apply to the `Full screen image with text and header overlay` and `Full screen image with text overlay` hero styles.

Y

[2020-05-27 19:04] davideleuterius commented on #476
@designerbrent going to get this done for you now.

[2020-05-27 20:34] #476 closed, assigned to davideleuterius

[2020-05-28 21:27] designerbrent opened #478 "Cache Busting in ALPS for Wordpress"
**Is your feature request related to a problem? Please describe.**
In exploring speeding up our sites, I have run into the need to setup far-future expiration dates on static resources like images. This is easy with Cloudfare but I run into issue when I need to make a change on an image or css file.

**Describe the solution you'd like**
Enter cache busting techniques that add either a version numb

[2020-06-01 21:04] designerbrent commented on #361
Not sure how to reproduce this. It seems to be a Gutenberg bug.

[2020-06-01 21:04] #361 closed, assigned to nobody

[2020-06-01 21:07] designerbrent commented on #140
Thoughts on this, @davideleuterius? I haven't seen the custom fields in Gutenberg.

[2020-06-01 21:09] designerbrent commented on #182
Closing this as I haven't been able to get more details.

[2020-06-01 21:09] #182 closed

[2020-06-01 21:11] designerbrent commented on #357
All future development on this will happen right now on ALPS v3.

[2020-06-03 14:25] davideleuterius commented on #140
@designerbrent
Looks like that whole dropdown area was moved with Gutenberg. You can find where they moved this by clicking on the three vertical dots at the very top right of the screen, and once that menu is shown, click on options, and then you can check the 'custom fields' checkbox there. Let me know if this works for you.

[2020-06-03 17:22] designerbrent commented on #140
I found the checkbox, but for some reason they won't even show when I have the ALPS for Wordpress theme turned on. However when I switch themes, it shows up.

Are Carbon Fields blocking them from showing?

[2020-06-03 17:40] davideleuterius commented on #140
@designerbrent I found where this is happening. It looks like this was done to prevent an issue with Piklist. At around line 164 in functions.php we have:

`
// Fix for Piklist fields not saving

function my_custom_init() {
  remove_post_type_support('post', 'custom-fields');
  remove_post_type_support('page', 'custom-fields');
}
add_action('init', 'my_custom_init');
`

Removing this should bring

[2020-06-03 18:19] designerbrent commented on #140
I think it would be safe to remove that now, since we make it very clear they need to move up to Carbon Fields.

Please put that in a PR and I'll merge that into the next version.

[2020-06-03 19:11] davideleuterius commented on #140
OK - no problem. I'll get that in sometime today or tomorrow at the latest.

[2020-06-03 20:47] brentawilson opened #479 "ALPS Sabbath Column Hide Settings Don't Seem To Be Working Correctly"
**Version of ALPS for Wordpress**
v3

**Describe the bug**
When "Hide the Sabbath column" is selected, it seems to be hiding the Sabbath column no matter what screen width parameters are set in "Hide the sabbath column at certain screen widths"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Appearance>ALPS>Sabbath Column
2. Click on "Hide Sabbath column"
3. Select a responsive option

[2020-06-04 16:27] #462 closed, assigned to sergsadovyi

[2020-06-09 18:28] davideleuterius commented on #478
@designerbrent
I have used the `filemtime()` before with success for CSS & JS. For images that would require some thinking to implement as well as a custom function to run them through to set that cache busting string. I will look into that to see if a good solution exists for this kind of issue.

[2020-06-09 18:31] davideleuterius commented on #140
@designerbrent
Sorry for the delay. Going to do this for you now.

[2020-06-09 18:47] #140 closed

[2020-06-10 23:13] designerbrent opened #481 "& in categories displays as `&amp;`"
**Version of ALPS for Wordpress**
v3

**Describe the bug**
When you create a category name with an ampersand `&`, it gets printed out as the HTML entity characters `&amp;`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a post
1. Add a new category name with an ampersand `&`.
2. Save and view the post.

![2020-06-10 at 7 09 PM](https://user-images.githubusercontent.com/132864/8432783

[2020-06-11 14:30] designerbrent opened #482 "Sitewide setting for Related Stories images"
**Describe the solution you'd like**
Every post page has a `Related Stories` block that displays the image, as well as the title and metadata about the post.

We need the a site wide option to disable the images on the block.

**Additional context**

![2020-06-11 at 10 27 AM](https://user-images.githubusercontent.com/132864/84398988-9afb6200-abce-11ea-9c39-939c13c410d9.png)

[2020-06-11 20:48] designerbrent opened #484 "ALPS version selector based"
Once https://github.com/adventistchurch/alps/issues/457 has been deployed, we need to make that work with the `ALPS for Wordpress` theme.

- [ ] Update the ALPS for Wordpress theme to allow a selector in the settings to select a certain version of the ALPS cdn files, but locked to a major version. This would need to always read the most recent version file to create this list.

[2020-06-11 20:50] designerbrent commented on #408
This is in version `3.4.5`.

[2020-06-11 20:50] #408 closed, assigned to nobody

[2020-06-11 20:50] designerbrent commented on #415
This is supported in version `3.4.5`

[2020-06-11 20:50] #415 closed, assigned to nobody

[2020-06-12 15:11] davideleuterius commented on #479
@designerbrent I just submitted a fix for this - please review and let me know if this works - thanks!

[2020-06-13 00:12] hans-olson opened #488 "Custom logo doesn't appear"
**Version of ALPS for Wordpress**
v3  3.4.6

**Describe the bug**
Custom logo doesn't appear in upper left corner of website

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://iwllgo2020.org or sandbox10.adventist.io'
2. Click on 'Appearance'
3. Scroll down to 'ALPS Theme Settings'
4. See custom logo loaded

**Expected behavior**
Custom logo appears in upper left corner

**Notes

[2020-06-15 10:39] #481 closed, assigned to davideleuterius

[2020-06-15 10:41] #466 closed, assigned to sergsadovyi

[2020-06-15 14:52] #479 closed, assigned to designerbrent, davideleuterius

[2020-06-15 18:38] #482 closed, assigned to sergsadovyi

[2020-06-15 21:15] designerbrent commented on #488
After some more testing, this appears to be a duplicate of #469. I'm closing this for now, but leaving it for the context.

[2020-06-15 21:15] #488 closed, assigned to designerbrent, sergsadovyi

[2020-06-15 22:13] brentawilson commented on #481
@designerbrent So is this bug fixed? If so, is there a new build of the theme that has the fix?

[2020-06-15 22:28] designerbrent commented on #481
It’s fixed and there will be a new build later tonight or in the morning.

[2020-06-16 13:22] #324 closed, assigned to sergsadovyi

[2020-06-16 19:26] #478 closed, assigned to davideleuterius

[2020-06-16 19:43] designerbrent opened #490 "BUG: Right margin on top widget"
**Version of ALPS for Wordpress**
v3

**Describe the bug**
The top `ALPS - Text with Link` widget should always have a 0 right margin to make it flush with the Sabbath column.

**Screenshots**
![2020-06-16 at 3 41 PM](https://user-images.githubusercontent.com/132864/84820776-1eaab980-afe8-11ea-8e4e-46f7a7222bda.png)

[2020-06-17 20:57] brentawilson opened #491 "Post Archive Overlaps Sabbath Column at Some Screen Widths"
**Version of ALPS for Wordpress**
v3

**Describe the bug**
Post archive page content overlaps Sabbath Column at certain screen widths.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://dev.educators.adventist.org/category/adventist-divisions/inter-european/
2. Drag screen width wider/smaller and notice the overlap issue at some three-column widths and some two-column widths.
3. S

[2020-06-17 21:40] #491 closed, assigned to designerbrent

[2020-06-22 21:54] designerbrent commented on #109
No. The currently aren't.

[2020-06-22 21:54] #109 closed

[2020-06-24 13:29] #469 closed, assigned to sergsadovyi

[2020-06-24 18:24] designerbrent opened #493 "Disqus Comments not showing"
**Version of ALPS for Wordpress**
v3

**Describe the bug**
Native comments work but if we want to enable Disqus comments, the Disqus version doesn't show on the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable [Disqus for WordPress](https://wordpress.org/plugins/disqus-comment-system/)
2. Connect to your Disqus account.
3. Comment's don't show.

**Expected behavior**
Comments sho

[2020-06-30 10:12] sergsadovyi commented on #493
To display Latest Comments in the sidebar with Discuss enables, the user should enable comments Sync in Disquss plugin or replace the Latest Comments block with another one.

[2020-06-30 13:27] #493 closed, assigned to sergsadovyi

[2020-07-01 14:42] #490 closed, assigned to designerbrent, sergsadovyi

[2020-07-07 04:48] sergsadovyi commented on #475
@hans-olson could you provide more details with screenshots? What buttons are not translated?

[2020-07-07 10:44] #484 closed, assigned to sergsadovyi

[2020-07-08 08:15] milkotodorov opened #498 "Hero Banner in Block Editor doesn't work"
**Version of ALPS for Wordpress**
v3

**Describe the bug**
Hero Banner in Block Editor doesn't display the image after saving the page since version 3.4.x.
In classic editor it works though.
In preview mode also doesn't work. It just display a solid color instead of image also the Title and the Kicker are not displayed at all -  just the page name.

[2020-07-08 11:11] designerbrent opened #499 "ALPS Latest Posts setting do nothing."
**Version of ALPS for Wordpress**
v3

**Describe the bug**
The settings for the `Latest Posts` block don't do anything. Things like `Hide excerpt`, `Hide post date`, `Hide category name`, `Hide button`, `Hide image`, `Align the image right`, `Number of items`, `Category`, etc.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new page or post.
2. Add a `ALPS Latest Posts` block
3. Adj

[2020-07-08 14:08] designerbrent opened #500 "i18n support for ALPS Gutenberg Blocks"
**Is your feature request related to a problem? Please describe.**
The `ALPS Gutenberg Blocks` plugin is not ready for internationalization and includes several English strings.

**Describe the solution you'd like**
We need to enable internationalization for the plugin. Wordpress has a guide [How to Internationalize Your Plugin](https://developer.wordpress.org/plugins/internationalization/how-to-i

[2020-07-08 14:16] designerbrent opened #501 "Add version numbering to dist files for ALPS Gutenberg Blocks"
**Is your feature request related to a problem? Please describe.**
To fix the issues with version updates and caching we need to add version numbers to the file names of `ALPS Gutenberg Blocks`.

[2020-07-08 14:49] kuclsy commented on #500
Thank you.
I'll do what you taught me.
And I'll let you know.

[2020-07-08 23:47] #499 closed, assigned to designerbrent, sergsadovyi

[2020-07-08 23:50] designerbrent commented on #327
@sergsadovyi I had a similar problem happen on another site, recently. We have a site using WPML and the English version has the correct date displayed, but the translated version has a January 1970 date showing. I don't know if @dbieling has the same setup, but for us, that is the issue.

I believe you can reproduce this with WPML installed.

[2020-07-09 07:13] cdbieling commented on #327
I am using it for a german site. I am not using WPML, but however, another language, thats true.

[2020-07-09 08:58] ptdasilva commented on #327
Hello,

I have the same issue and my site is in Portuguese, although dates are displayed in English (including date format) so perhaps that’s the issue?
Kind regards,

Paulo Silva

No dia 09/07/2020, às 08:13, Daniel Bieling <notifications@github.com> escreveu:

﻿

I am using it for a german site. I am not using WPML, but however, another language, thats true.

—
You are receiving this because you

[2020-07-09 10:46] designerbrent opened #502 "ALPS Latest Posts limited dropdown of categories and tags in ALPS Gutenberg Blocks"
**Version of ALPS for Wordpress**
v3

**Describe the bug**
On the `ALPS Latest Posts` block, users have the option to limit the list of posts using either categories and/or tags. However, the list that shows up, a drop down, is limited to 100 items.

**Expected behavior**
Can we change that limit to either displaying all the tags **OR** using an autocomplete (with the option of including multiple

[2020-07-09 11:05] designerbrent opened #503 "ALPS Gallery errors in ALPS Gutenberg Blocks"
The `ALPS Gallery` block does not work anymore.

**Steps to Reproduce**
1. Add an `ALPS Gallery` to the page
2. Select some images
3. Click ok.
4. The block displays the following error: `This block has encountered an error and cannot be previewed.`
![2020-07-09 at 7.04 AM.png](https://images.zenhubusercontent.com/5bae84fa4899b55b23789476/98ef09b9-af24-4038-9ea4-b18de6c23ec8)

[2020-07-24 03:34] sergsadovyi commented on #503
Can't reproduce on ALPS Gutenberg Blocks plugin v1.5.1. Could you try on a fresh installation?

[2020-07-27 22:46] designerbrent commented on #327
This is fixed in `ALPS for Wordpress 3.5.4` and was fixed by #504. If you have other issues @ptdasilva / @dbieling  please open a new ticket.

[2020-07-27 22:46] #327 closed, assigned to sergsadovyi

[2020-07-28 13:46] designerbrent commented on #501
This will be handled in #500

[2020-07-28 13:46] #501 closed, assigned to sergsadovyi

[2020-07-28 13:56] designerbrent commented on #475
I think it's the Read More links on the Related Pages sections.

[2020-07-30 01:32] hans-olson commented on #475
That is correct.

[2020-07-30 09:58] sergsadovyi commented on #475
Button CTA message should be translated in `lang/{lang}.po` file. WPML could not parse the blade templates in the theme.

@hans-olson you could create a localization file for your language using the POEdit app. If you make a Pull request with translation it will be merged to the theme.

[2020-07-30 12:46] designerbrent commented on #475
@sergsadovyi Can you wrap the translated strings with PHP in the blade files? It seems that that's what WPML is suggesting: https://wpml.org/forums/topic/string-translation-in-blade-template-engine/

[2020-07-30 14:47] sergsadovyi commented on #503
The bug was when small image is selected. For large images all works fine.

[2020-07-30 16:22] SGirven commented on #503
UNSUBSCRIBE

Sent from my iPhone

[2020-07-30 16:22] sergsadovyi commented on #475
I’ve also found this workaround from the WPML developers. And it shows their reluctance to implement blade and twig support.

The proposed way neglects the beauty and simplicity of blade templates.

But if you see the need for this strings to appear in WPML i have one idea that not affect the templates.

[2020-07-30 21:27] designerbrent opened #507 "Add styling for Footnotes"
We need to add some styling for the footnote module. It includes a list of footnotes at the bottom of the page that are wrapped in a `<ol>` with the class of `footnotes`. We need to add at least a line on top and make the font just a little smaller.

Something like the following:
[code]

[2020-07-30 21:55] designerbrent opened #508 "Remove ALPS Dropcap button"
With the changes to the dropcap in ALPS, we are removing the need to have our own dropcap control in Wordpress and will just be using the default block dropcap setting in Wordpress.

We need to change the theme code to reflect this.

[2020-07-30 21:56] davideleuterius commented on #508
@designerbrent Thanks for this - I will be pushing the PR for this now.

[2020-07-30 23:11] hans-olson commented on #475
I think that would be better. It will allow our end-users to add languages without the need to seek dev help.

—
Hans Olson
Email: hnolson@icloud.com
Voice/Text: +1-202-853-8700

Get Outlook<https://aka.ms/qtex0l> for iOS
________________________________
From: Sergii Sadovyi <notifications@github.com>
Sent: Thursday, July 30, 2020 12:22:58 PM
To: adventistchurch/alps-wordpress <alps-wordpress@nore

[2020-08-03 20:03] designerbrent opened #511 "Inline Sidebar block"
Once the ALPS pattern is moved, we need to build the new `Inline Sidebar` block.

https://github.com/adventistchurch/alps/issues/489

[2020-08-04 01:50] designerbrent opened #514 "Add Caption to Page Header - Feature on Wordpress"
In the `Page Header - Feature` pattern of the post page we need to adapt it to follow the work done in the [ALPS `Page Header - Feature`](https://alps.adventist.io/v3/patterns/01-molecules-blocks-media-block-caption/01-molecules-blocks-media-block-caption.html) pattern, adding the caption to the pattern and displaying the image caption from Wordpress.

This matches the issue from ALPS https://gith

[2020-08-04 10:57] designerbrent commented on #475
In looking some more, I found [this post from WPML forums](https://wpml.org/forums/topic/string-translations-not-showing-on-front-end/) that seems to indicate that the blade files can be scanned and it can work.

What options do we have to make this work so we can use the WPML string translation interface OR the `.po` file option?

[2020-08-04 17:57] sergsadovyi commented on #475
The problem in https://wpml.org/forums/topic/string-translations-not-showing-on-front-end/ is very close. But I don't understand what solution they found.

WPML has a bug, it can't parse blade templates for localization strings. I think they should fix it eventually.

My workaround is to create PHP file with all extracted strings. WPML could easily parse this file.

[2020-08-04 18:37] sergsadovyi commented on #475
As for theme localization, I'd suggest motivating users to do a PR with `.po` files in different languages. This will be an official theme translation that works without WPML installed.
Missing languages could be added with WPML without any code change.

[2020-08-05 01:09] hans-olson commented on #475
Do we feel that WPML is a stable solution for translation?

[2020-08-05 02:15] designerbrent commented on #475
WPML seems stable enough. Usage of blade for themes is not a prevalent as other options, so this isn’t as pressing.

As for the work that @sergsadovyi did on this, I think I understand the approach and I really like what this offers.

It’s always better to have localized `.po` files in the theme as that will also sites to be built in that language to start with. WPML, Polylang and others are most

[2020-08-05 08:36] sergsadovyi commented on #475
WPML is a perfect choice for multilingual WordPress. Blade templates (used in ALPS Theme) are not common in the WordPress world, so WPML don't care about supporting them.

[2020-08-05 20:22] #508 closed, assigned to davideleuterius

[2020-08-05 20:43] #503 closed, assigned to sergsadovyi

[2020-08-07 17:48] cdbieling opened #515 "Support for Sermon Manager (Post-page)"
**Version of ALPS for Wordpress**
v3

**Describe the bug**
Header-content: Sermons are categorized as "Array". It should be a better word for sermons.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Single Sermon Post'
2. View Header-line
3. Scroll down to 'TOP' =)
4. See inexpedient word

**Expected behavior**
It should be a word like: "Sermon", German: "Predigt"

**Screenshots**
![Bi

[2020-08-07 18:31] designerbrent commented on #515
Hi @dbieling: Is this the Sermon Manager plugin you are referring to: https://wordpress.org/plugins/sermon-manager-for-wordpress/

[2020-08-07 18:33] cdbieling commented on #515
Sorry for missing this information. Yes, you are right. For this Plugin.

[2020-08-07 21:38] yormmanjen opened #516 "Spanish translation of .po .mo files does not apply"
Version of ALPS for Wordpress: ##3.5.6

* I opened the file `... / lang / alps.pot` with the program "Poedit "

* Use the option "update from source code" of the previous program, and update the list of text strings that could be translated

* I translated in (Poedit) each of the text strings (in total it found 326 text strings)

* Save the new .pot .po .mo files

* Replace these 3 files in folder

[2020-08-07 21:46] designerbrent commented on #516
You are correct @yormmanjen. It is currently broken. We are currently refactoring the process for this and it can be see here: #506. I hope to see that merged in the next week and then we would love to have a Spanish translation file to include in the package.

[2020-08-07 22:32] yormmanjen commented on #516
It's okay. Thanks for your answer, I'll be attentive to #506 . Yes, the translation I make contributes. I am very willing to send it.

[2020-08-11 10:40] #475 closed, assigned to designerbrent, sergsadovyi

[2020-08-11 11:01] designerbrent commented on #516
Hi @yormmanjen: I just committed the i18n changes for `ALPS for Wordpress`. In the commit is an initial `pre-translated` Spanish translation (`es.po` and `es.mo`) file set. These were done using POEdit and the machine translation functionality. If you are able to help, please review the translation and add in the extra strings that were missed. If you can submit it back here, that would be amazing

[2020-08-11 13:14] designerbrent commented on #362
@milkotodorov This should be fully resolved now.

[2020-08-11 13:14] #362 closed, assigned to sergsadovyi

[2020-08-11 18:32] marianmaximciuc opened #518 "Full width template for posts and pages"
We have some posts and pages that require full width. It would be helpful to have a full width template for posts and pages. A template without sidebar, that would show post/page content from left side to sabbath column. Thank you!

[2020-08-12 10:08] designerbrent opened #519 "Remove code for old `o-dropcap`"
**Version of ALPS for Wordpress**
v3

**Describe the bug**
Sites that had the old `has-dropcap` enabled are still trying to show `o-dropap` and should be showing nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. Any existing site that used the old behavior. (Example: https://www.adventist.org/articles/freedom-of-speech-and-defamation-of-religion/)
1. You will see a blank dropcap.
![20

[2020-08-13 10:36] pischta opened #520 "custom support for hide dropcap"
When I create a custom post type with CPT UI plugin, Hide dropcap doesn't show. In the CPT UI settings I can turn on several supports, but they don't help. There is a custom support field, where I could give additional support. Is there a custom support name for Hide dropcap?

[2020-08-13 19:26] designerbrent commented on #519
This should be fixed in `3.5.9`

[2020-08-13 19:26] #519 closed, assigned to designerbrent

[2020-08-17 07:34] milkotodorov commented on #362
I verified it and it looks great.Thank you!

[2020-08-17 10:51] designerbrent opened #521 "WooCommerce Template Integration"
Once the [patterns are completed for ALPS (#499)]https://github.com/adventistchurch/alps/issues/499), we need to add these same patterns into the WordPress theme to integrate with WooCommerce. The patterns needed are:

- Product Single
- Store Index / Landing page
- Store Checkout
- Store Cart

[2020-08-19 14:29] marianmaximciuc opened #522 "Thumbnails (mobile) ALPS Latest Posts widget"
Could you please make fullwidth thumbnails in mobile version in ALPS Latest Posts widget? Currently it shows small thumbnails side by side with title and excerpt.

<img width="234" alt="Screen Shot 2020-08-19 at 5 30 28 PM" src="https://user-images.githubusercontent.com/1937679/90648115-cd19e780-e241-11ea-99c6-d3605c7bc86f.png">
<img width="238" alt="Screen Shot 2020-08-19 at 5 31 07 PM" src="http

[2020-08-20 20:56] designerbrent opened #523 "Add Media Block"
**Is your feature request related to a problem? Please describe.**
ALPS has had a concept of a `media block` but we have only had it in defined places. While building [Adventist.org and other sites, we have encountered some pages](https://www.adventist.org/study-the-bible) that needed to use the media block in different ways then the templates allowed for. To accomplish this, we used custom HTML.

[2020-08-23 03:55] yormmanjen commented on #516
Sorry @designerbrent for not answering earlier.
I have devoted a few hours to this task.

I am using Poedit 2.4.1 free version
At the beginning I had some problems with getting the translatable strings from the poedit interface, documenting myself on the internet. I found this [website](https://code.tutsplus.com/tutorials/translating-your-theme--wp-25014), it helped me understand more about the ma

[2020-08-23 04:20] yormmanjen commented on #516
Additionally, I already have the new .pot .po and .mo files with the 358 strings and their respective translations.

However. I don't know if I did something wrong. Since at the beginning of these issues. I uploaded the files back to the hosting and the translations are not applied.

I don't know what I'm doing wrong.

I would like to send you these files, so that you can observe them.
[es.zip](ht

[2020-08-24 10:47] designerbrent commented on #516
@yormmanjen Thanks for looking at this with such detail. Our attempt is that you should be able to just take the `.pot` file provided and use it to do your translation. In looking through the file you sent, however, I can see we missed a few directories in the script we created.

@sergsadovyi It looks like we need to take a second pass at this. There are many phrases that the attached `es.zip` fil

[2020-08-25 02:47] yormmanjen commented on #516
Yes, I understand that the intention is that using the .pot already included, it only generates the translations in the es.po and es.mo files

Just what, notice that many chains were indeed missing. so I tried to get them.

And basically I was not able to get them until I used the right keywords mentioned above.

[2020-08-25 10:35] sergsadovyi commented on #516
Thanks, @yormmanjen for your detailed view on this problem. I've checked your es.zip attached. And see a lot of strings, that come from vendor folder, which is not part of ALPS project.

Could you provide few examples of strings, that you want to translate on your website and which not exists in current alps.pot.

[2020-08-25 18:37] designerbrent commented on #520
We have recently changed the drop cap functions and are now just using the built in function in Wordpress. So when you are using the Gutenberg blocks, you will see a toggle switch for the `Drop cap` on the control panel. That should work for the custom CPT UI content type.

![2020-08-25 at 2 36 PM](https://user-images.githubusercontent.com/132864/91213985-6d5b8a80-e6e0-11ea-8607-89c36152ec23.png)

[2020-08-25 18:37] #520 closed, assigned to designerbrent

[2020-08-25 18:52] designerbrent commented on #518
This is now merged in and should come with version `3.5.11`.

[2020-08-25 18:55] #518 closed, assigned to nobody

[2020-08-26 03:14] yormmanjen commented on #516
If it is okay.

For example, I would especially like to translate.

[code]

... The above would be an example of those that I did not find in the `alps.pot

Additionally. Excluding all `/vendor` code and all file ``*.js``

Poedit finds 285 strings. I attach them in the following `es2.zip`

[2020-08-26 04:43] sergsadovyi commented on #516
I noticed that some files in `app/carbon-fields` directory were not formatted properly. Just created a PR #525 with updated `alps.pot`.

@designerbrent please review and merge it.

[2020-08-26 13:36] designerbrent commented on #516
It's merged now and I've released it. Please check this most recent version, @yormmanjen and @sergsadovyi

[2020-08-27 04:08] yormmanjen commented on #516
Well, I worked on the current .pot and these would be the translations.
[es3.zip](https://github.com/adventistchurch/alps-wordpress/files/5133967/es3.zip)

My site does not apply them. maybe it's cache. I will try a local installation

[2020-08-27 04:18] sergsadovyi commented on #516
Do you use some multilang plugin (like WPML) or single language installation?

[2020-08-27 04:27] sergsadovyi commented on #516
Try to rename files to `es_ES.po` and `es_ES.mo`. While working on Theme and plugins localization I've noticed, that 2-letter lang codes not work in some cases.

[2020-08-27 16:10] yormmanjen commented on #516
Thanks for your answer. @sergsadovyi It is a single language installation (in specific I have selected "Spanish").

[2020-08-27 16:15] yormmanjen commented on #516
@sergsadovyi  I have already tried renaming the files to es_ES.po and es_ES.mo and it has not worked. Thank you for your suggestion.

[2020-08-31 15:17] designerbrent opened #526 "Search results missing pager"
**Version of ALPS for Wordpress**
v3

**Describe the bug**
The pager appears to be missing at the bottom of all the search results pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://www.adventist.org/?s=bible`
2. Scroll to the bottom.
3. See the missing pager

**Expected behavior**
A pager should be there.

[2020-08-31 15:30] designerbrent commented on #526
This is fixed in 3.5.13.

[2020-08-31 15:30] #526 closed, assigned to designerbrent

[2020-09-01 18:15] designerbrent opened #528 "Support for Wordpress Custom Sidebars"
**Is your feature request related to a problem? Please describe.**
The module [Custom Sidebars – Dynamic Widget Area Manager](https://wordpress.org/plugins/custom-sidebars/) offers a way to have groups of sidebars that can overwrite the other sidebars for specific pages. Currently, this does not work with the Blade templates in ALPS for Wordpress.

**Describe the solution you'd like**
Please make

[2020-09-02 00:49] designerbrent opened #529 "Update to the Kernl integration"
We need to update the`Kernl` deployment integration for Wordpress 5.5 and above.

The information can be found here: https://docs.kernl.us/#/pages/updates/themes?id=step-2-add-kernl-to-your-theme

A few important things have changed in the latest Kernl Update Check library:

1. **Multiple Files** - Kernl's update checker used to be a single file. The new update checker is a folder with multiple fi

[2020-09-03 14:13] designerbrent commented on #498
sorry for my late response on this. Is this still an issue on the most recent versions of Wordpress and ALPS for Wordpress? I haven't been able to repeat this.

[2020-09-03 14:14] #111 closed

[2020-09-03 14:18] designerbrent opened #530 "Events Calendar support"
Once the patterns are done for `ALPS` (https://github.com/adventistchurch/alps/issues/501), we need to create the necessary templates to support `Modern Tribes Events Calendar` in `ALPS for Wordpress`.

[2020-09-03 14:19] designerbrent commented on #454
This should be helped by #530.

[2020-09-03 14:20] #454 closed, assigned to nobody

[2020-09-04 10:36] #500 closed, assigned to sergsadovyi

[2020-09-11 09:53] sergsadovyi commented on #516
@yormmanjen I've finally found the problem with translation. Message context in `po` files causes Wordpress to not see the strings. I've updated the `pot`, `po` and `mo`. Please check when both PRs will be merged.

@designerbrent pls check and merge the PRs

P.S. @yormmanjen could you also add the PR with `es_ES.po` to the https://github.com/adventistchurch/alps-gutenberg-blocks ?

[2020-09-13 11:51] #528 closed, assigned to sergsadovyi

[2020-09-17 12:50] ismailsirajeittembe opened #533 "Guidepost Plugin missing from the WordPress Respiratory"
**Version of ALPS for Wordpress**
v3 / v2

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your probl

[2020-09-17 17:58] designerbrent commented on #533
Thanks for the reminder on this. We are looking for a good replacement and will get that updated as soon as possible.

[2020-09-17 18:53] designerbrent commented on #523
Here is an example of a 3-up block:
![2020-09-17 at 2 51 PM](https://user-images.githubusercontent.com/132864/93514638-6f86c280-f8f5-11ea-9227-a67c7e19132c.jpg)

[2020-09-17 19:01] designerbrent commented on #447
Since I haven't heard anything back from @simonbota, I will be closing this ticket. Please re-open if if you can provide me an answer to the question above.

[2020-09-17 19:01] #447 closed, assigned to designerbrent

[2020-09-17 23:20] designerbrent opened #534 "Update to the Search Patterns"
We need to make some revisions to the search patterns

- [Search Header with Suggestions](https://alps.adventist.io/v3/?p=molecules-search-header-with-suggestions)
- [Search Template](https://alps.adventist.io/v3/?p=templates-search)
- [Header with Suggestions](https://alps.adventist.io/v3/?p=organisms-header-with-suggestions) (In the drawer)

The patterns below are what these should be updated to

[2020-10-08 19:56] designerbrent commented on #534
Issue moved to [adventistchurch/alps #513](https://github.com/adventistchurch/alps/issues/513) via [**ZenHub**](https://www.zenhub.com/)

[2020-10-08 19:56] #534 closed, assigned to sergsadovyi

[2020-10-21 15:04] designerbrent opened #535 "Add wide logo option to the ALPS Theme Settings"
We need to add an option for a wide logo to the settings page. I would see a checkbox next to the logo titled `Wide Logo` and below include the following description:

Selecting this will add a class of `c-header__logo--wide` to the container the logo is in in the header. [View the example code in ALPS](https://github.com/adventistchurch/alps/blob/30fd390c4e0f17b80b410f2844d16d78f3bc26ab/source/_p

[2020-10-21 16:20] designerbrent commented on #465
I'm going to close this in favor of #535 and reassign that.

[2020-10-21 16:20] #465 closed, assigned to tpitre, kelscahill, davideleuterius

[2020-10-22 17:33] marianmaximciuc opened #536 "Related stories"
**Version of ALPS for Wordpress**
v3

**Describe the bug**
Related stories currently shows "no related stories". How does it work? Does it display by common tag? I added same tags in 2 articles, still shows “no related stories”

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://esd.adventist.org/2020/10/22/my-imeem-razlichnye-darovaniya/
2. See "No related stories" in Sidebar.

**

[2020-10-22 17:33] marianmaximciuc commented on #536
<img width="1644" alt="Screen Shot 2020-10-22 at 8 33 04 PM" src="https://user-images.githubusercontent.com/1937679/96908995-0e2eb200-14a6-11eb-9e90-e0ddd94958d3.png">

[2020-10-30 04:43] sergsadovyi commented on #514
I have a few questions on this issue:
1. ALPS header block is configurable only for pages. Is it works as intended?
2. How to properly map the post meta to the Media block? Which field should go to the overflow text (4)?

![88982087-65e9c280-d295-11ea-8f45-0b2ed630ce43](https://user-images.githubusercontent.com/1175636/97660569-aadeea00-1a7a-11eb-98e3-c9a737d6d768.png)

[2020-11-02 14:30] designerbrent commented on #514
So for the implementation for Wordpress, the following applies:

- **Kicker:** leave this blank.
- **Number 4:** Pull the photo caption.

[2020-11-03 15:32] designerbrent commented on #453
Closing this as an old message. But if this is still an issue in the most current version of the theme, 3.5.6 or newer, then please reopen the issue, @ontariosda

[2020-11-03 15:32] #453 closed, assigned to nobody

[2020-11-03 15:34] designerbrent commented on #522
We could add an option in the `ALPS Latest Posts` block to use full width image.

[2020-11-03 15:35] #173 closed

[2020-11-05 14:39] #514 closed, assigned to sergsadovyi

[2020-11-05 14:54] #535 closed, assigned to sergsadovyi

[2020-11-05 14:55] #516 closed, assigned to designerbrent, sergsadovyi

[2020-11-05 17:15] #502 closed, assigned to designerbrent, sergsadovyi

[2020-11-05 17:18] designerbrent commented on #290
@dbieling Sorry this has drug on so long. At this point, I would recommend trying the `ALPS Media Testimonies` block that is in the Wordpress theme. That will provide much of what you are looking for from within the Wordpress interface.

![2020-11-05 at 12 17 PM](https://user-images.githubusercontent.com/132864/98274087-01f42b80-1f61-11eb-82b4-194d27a48d9f.jpg)

[2020-11-05 17:18] #290 closed, assigned to cdbieling

[2020-11-09 09:06] milkotodorov commented on #535
Thank you!

[2020-11-16 17:08] designerbrent opened #539 "Replacing Category pages with Page"
**Is your feature request related to a problem? Please describe.**
By default, Wordpress provides an overview/listing page for every category that you setup. At times, I want to overwrite that page with a real page. But Wordpress displays the overview page first.

**Describe the solution you'd like**
We need a method create a page, and have Wordpress check when the category is trying to load if a

[2020-11-17 11:24] designerbrent opened #540 "Override for Columns block"
The Default Wordpress `Columns` block doesn't quite line up with the grid in ALPS. Add the following styles to make it work:

[code]

[2020-11-17 11:52] designerbrent commented on #540
This is fixed in #541

[2020-11-17 16:05] cdbieling opened #542 "How to use German Language file de.po?"
**Version of ALPS for Wordpress**
v3 (Latest)

**Describe the bug**
My complete ALPS-Theme uses the english language. But its a german install and german website for german people.
So, how do i get the german file de.po file to work?

[2020-11-17 19:26] designerbrent commented on #542
The German PO files, [de.po](https://github.com/adventistchurch/alps-wordpress/blob/v3/lang/de.po) (ALPS for Wordpress) and ALPS Gutenberg Blocks, need to be updated and I didn't have someone to do it. Would you be willing to translate the files?

If you are, download the [ALPS for Wordpress POT](https://github.com/adventistchurch/alps-wordpress/blob/v3/lang/alps.pot) and [ALPS Gutenberg Blocks PO

[2020-12-10 10:07] andrucha97 opened #543 "Initial Letter Question"
**Version of ALPS for Wordpress**
v3

**Describe the bug**

Can not see initial letter

**To Reproduce**
Steps to reproduce the behavior:

1. Install Wordpress with Theme
2. Look at a Post

**Expected behavior**

See the letter as shown here: https://alps.adventist.io/v3/?p=pages-article-simple

**Screenshots**

![image](https://user-images.githubusercontent.com/45176192/101757743-cefd0480-3ad7-11

[2020-12-10 13:54] andrucha97 commented on #542
Maybe I find time tomorrow to translate the Gutenberg Projekt. :)

[2020-12-21 14:57] designerbrent opened #545 "Related pages functionality"
I've gotten several questions recently about how the Related Pages works on posts pages. What causes a story to show there? How are they chosen?

One site we've been working with has no articles showing up (https://esd.adventist.org/2020/12/03/lvovskie-shkolniki-okazyvayut-pomoshh-nuzhdayushhimsya-lyudyam/).

[2020-12-22 22:12] designerbrent commented on #523
This is closed with ALPS Gutenberg Blocks v1.8.0.

[2020-12-22 22:12] #523 closed, assigned to sergsadovyi

[2020-12-22 22:13] designerbrent commented on #542
Would be great to get the translation of German!

[2020-12-22 22:46] designerbrent commented on #543
What version of ALPS for Wordpress are you running? You can find it here: `/wp-admin/themes.php?theme=alps-wordpress-v3`. We changed the way the dropcaps work which is probably what you are experiencing.

[2020-12-22 23:31] designerbrent opened #546 "ALPS Block with 5-grid-layout"
@dbieling commented on [Sun Nov 08 2020](https://github.com/adventistchurch/alps-gutenberg-blocks/issues/47)

Is there a possibility, to use this Block on the Startpage without the Sidebar. (So that it uses without the Sidebar 5 instead of 4 columns?

See on the attachment below. One module on startpage uses 5-grid, one 4-grid.
![Bildschirmfoto 2020-11-08 um 18 16 43](https://user-images.githubuse

[2020-12-22 23:34] designerbrent commented on #546
This is an issue with `ALPS for Wordpress`, not the `ALPS Gutenberg Blocks` so I have moved it to this repo.

@YauheniKapliarchuk Please address this issue. TLDR:

[2020-12-22 23:37] designerbrent commented on #498
I'm hoping this has been resolved for you @milkotodorov. I'm not able to reproduce it but if you can give me step-by-step instructions, I'll be happy to look.

[2020-12-22 23:37] #498 closed, assigned to milkotodorov

[2020-12-22 23:39] #540 closed, assigned to designerbrent

[2021-01-13 12:19] andrucha97 commented on #543
Sorry I forgot to answer your question.

Since today I am running Version: 3.5.6 . But it does not changed since updating.

[2021-01-13 12:20] andrucha97 commented on #543
It also would be an option to disable this feature but I cannot find any option which works for me

[2021-01-13 18:39] designerbrent commented on #543
Do you have a public URL where the problem is that you could share with me

[2021-01-14 10:05] andrucha97 commented on #543
Yeah you can see it on my Testpage: http://home.webdesign-hein.de/index.php/2020/12/10/daniel-seminar/

[2021-01-14 20:25] designerbrent opened #547 "Option to disable WPML Language menu"
We need the option to disable the WPML language menu that shows by default when the WPML plugin is installed. Currently this is NOT provided by WPML and there is no way to control it.

![2021-01-14 at 1 54 PM](https://user-images.githubusercontent.com/132864/104645197-c2db0880-567c-11eb-9f92-2fa3b3a2bbcb.jpg)

[2021-01-14 20:26] designerbrent opened #548 "Option to Disable WPML menu"
We need the option to disable the WPML language menu that shows by default when the WPML plugin is installed. Currently, the theme is setup to look for WPML being installed and then display this menu on it's own, with no way to control it. I would like a way to do one of the following:

- Use the native WPML functionality to display the menu.
- Provide an option in ALPS to enable/disable this func

[2021-01-25 21:27] designerbrent commented on #539
This appears to be working in the current version of Wordpress. My old testing copy was broken.

[2021-01-25 21:27] #539 closed, assigned to sergsadovyi, YauheniKapliarchuk

[2021-01-25 21:45] designerbrent commented on #542
Thank you @andrucha97. Somehow I missed that commit!

[2021-01-25 22:04] designerbrent commented on #542
This is now merged in version `3.6.4`

[2021-01-25 22:04] #542 closed, assigned to designerbrent, cdbieling

[2021-01-25 23:01] andrucha97 commented on #542
No problem :) hope the translation is good enough 😄

[2021-01-26 07:29] cdbieling opened #549 "German language support for Gutenberg Blocks"
**Version of ALPS for Wordpress**
v3 (latest)

**Describe the bug**
Thank you for supporting German language in the Template. But there are some adjustments. How to do that?

1.) ALPS Content Show More (Block)
See Picture below: "Show more" is in English.

2.) ALPS Latest Posts (Block)

3) Content Block Expand (Molecules / JS-Molecule Blocks)

**Expected behavior**
Viewing the Buttons and Texts in

[2021-01-26 22:18] designerbrent commented on #549
Those language files are in the [ALPS Gutenberg Blocks](https://github.com/adventistchurch/alps-gutenberg-blocks) and can be translated here: https://github.com/adventistchurch/alps-gutenberg-blocks/blob/master/languages/alps-gutenberg-blocks.pot

If you can get me the `.mo` and `.po` files, I'll be happy to merge that in.

[2021-01-28 12:02] designerbrent commented on #116
We are working on creating patterns for this in ALPS and then integrating it into the WP theme. https://github.com/adventistchurch/alps-wordpress/issues/530

[2021-01-28 12:02] #116 closed

[2021-01-28 15:18] designerbrent commented on #533
I've been evaluating the options and **SimpleTOC** seems to be a great replacement. (https://wordpress.org/plugins/simpletoc/) I'll be adding in support soon.

[2021-01-28 18:33] designerbrent commented on #507
This will be fixed in `3.6.5`.

[2021-01-28 18:34] #507 closed, assigned to designerbrent

[2021-01-28 18:53] designerbrent commented on #533
This is fixed in `3.6.5` with support for SImpleTOC.

[2021-01-28 18:53] #533 closed, assigned to designerbrent

[2021-02-02 15:11] designerbrent opened #550 "Remove second version of jQuery"
For many years, Wordpress has shipped with a patched version of jQuery 1.x. Finally with version 5.5-5.7, Wordpress is updating to the current version of jQuery, (As of Wordpress 5.6, it's jQuery 3.6.1).

ALPS was originally written to work with jQuery 2.2.4. As such, we were forced to run 2 version of jQuery, one for ALPS and one for Wordpress. The external version is loaded here: https://github.

[2021-02-02 15:16] designerbrent opened #551 "Pulling ALPS Core files locally"
ALPS for Wordpress has always pulled in the latest version of the CSS and Javascript from the CDN.adventist.org server. We are realizing that this is taking a performance toll on our sites and we need some better options.

I'm proposing the following:

- Add a setting in the ALPS Theme Settings to allow the site owner to choose between using local or remote ALPS files
- Setup something in ALPS for

[2021-02-04 13:35] designerbrent commented on #543
@andrucha97 Your site is running an old version of the theme, 3.5.6. It really needs to be running the newest version to resolve this issue. You can download the newest version here: https://kernl.us/api/v1/theme-updates/5be537a15ecd012001496112/download/

[2021-02-05 14:45] andrucha97 commented on #543
@designerbrent I just updatet the theme. But nothing changed. Than I was looking for the used Version. I found under "ALPS Theme Setting" -> "Choose ALPS Version" that the latest Version is 3.9.1. All Versions above 3.6.5 are having the same Problem. With 3.6.5 the Initail Letter is showing.

Which Version should I choose there?

[2021-02-08 15:53] reachdamian opened #552 "Could not copy file during installation"
**Version of ALPS for WordPress**
v3

**Describe the bug**
While attempting to install alps-wordpress-3 theme, I received this message, "Could not copy file. alps-wordpress-3/vendor/nesbot/carbon/bin/upgrade-carbon.bat". I am using WordPress 5.6.1.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Themes'
2. Click on 'Add New'
3. Click on 'Upload Theme'
3. Select the file to upload (alp

[2021-02-08 17:13] YauheniKapliarchuk commented on #550
Hi @designerbrent

This is my PR - https://github.com/adventistchurch/alps-wordpress/pull/553

[2021-02-10 22:15] designerbrent commented on #552
Closing this ticket as it was resolved offline

[2021-02-10 22:15] #552 closed, assigned to designerbrent

[2021-02-10 22:15] #550 closed, assigned to YauheniKapliarchuk

[2021-02-12 12:14] designerbrent commented on #545
Closing this as it's a duplicate of #536

[2021-02-12 12:14] #545 closed, assigned to sergsadovyi, YauheniKapliarchuk

[2021-02-12 12:15] designerbrent commented on #536
An example: https://esd.adventist.org/2020/12/03/lvovskie-shkolniki-okazyvayut-pomoshh-nuzhdayushhimsya-lyudyam/

[2021-02-12 22:14] #547 closed, assigned to nobody

[2021-02-17 21:07] YauheniKapliarchuk commented on #551
Hi @designerbrent

I did some updates:

1. Add CheckBox "Use project ALPS CORE Version" for using latest version of the current theme;
2. Add small functionality for choosing another version of ALPS CORE which is hidden if "Use project ALPS CORE Version" checkbox is selected.

New PR for fixing this issue - https://github.com/adventistchurch/alps-wordpress/pull/554
Some fix - https://github.com/ad

[2021-02-22 23:20] designerbrent commented on #551
Reopening this to address an issue:

When a site is running a sub-theme of ALPS for Wordpress, the CSS/JS is downloaded into the sub-theme, not the parent theme, but Wordpress is looking for the CSS/JS in the parent theme folder.

We need to address this issue so it looks in the correct place for the CSS/JS files.

[2021-02-28 12:27] designerbrent opened #556 "Remove Extra h3's outside of content"
There are `h3` tags that are used in widgets, the menu drawer, etc that are not part of the main content. These should be removed and replaced with comparable styling.

[2021-03-10 14:29] designerbrent opened #558 "Fix for h3 in Related Posts"
In the related stories sidebar of the `Post` content type, it calls either the `media-block` molecule ([code](https://github.com/adventistchurch/alps-wordpress/blob/22136e14f1c5f970f01e5c61faf7bc3235e72b0f/views/patterns/02-organisms/asides/related-stories.blade.php#L59)) or the `content-block` molecule ([code](https://github.com/adventistchurch/alps-wordpress/blob/22136e14f1c5f970f01e5c61faf7bc32

[2021-03-10 15:10] designerbrent commented on #511
Already merged.

[2021-03-10 15:10] #511 closed, assigned to YauheniKapliarchuk

[2021-03-10 15:29] designerbrent commented on #556
Duplicate of #558

[2021-03-10 16:03] designerbrent commented on #543
@andrucha97 Sorry for delaying in responding. I thought I had responded earlier and just realized I was wrong.

All versions after 3.6.5 switched how the initial letter was shown. For Wordpress, we switched to using the Gutenberg toggle switch on the paragraph. This allows for more control and a more native way of implementing it. But it does leave some older installations with this nagging bug of

[2021-03-10 16:56] designerbrent commented on #419
done with version 2.2.2

[2021-03-10 17:06] #419 closed, assigned to nobody

[2021-03-11 11:37] designerbrent commented on #529
done.

[2021-03-11 11:37] #529 closed, assigned to designerbrent

[2021-03-11 11:38] #556 closed, assigned to nobody

[2021-03-16 11:20] designerbrent commented on #551
This should now be fixed in version 3.7.3.

[2021-03-16 11:33] designerbrent commented on #551
Sorry to reopen this but when I got it up on my test server, I found that it is missing one image it what it pulls down. Please add the following image:
`https://www.adventist.org/staging/wp-content/themes/alps-wordpress-v3/app/local/alps/3.9.2/images/background-pattern.png`

[2021-03-17 15:18] designerbrent commented on #551
I think we can mark this as done.

[2021-03-17 15:18] #551 closed, assigned to YauheniKapliarchuk

[2021-03-25 15:35] designerbrent commented on #558
This has been merged.

[2021-03-25 15:35] #558 closed, assigned to YauheniKapliarchuk

[2021-03-28 18:22] Xhinh opened #563 "Comments' Visibility"
**Version of ALPS for Wordpress**
v3.7

**Describe the bug**
Post Comments seems to visible to be visible when logged in only

**To Reproduce**
Steps to reproduce the behavior:
1.Comment on any post
2. Log in and approve the comment
3. View the post with the comment -visible when logged in
4. Use other device or log out
5. Try to view the posted comment -comment not visible

**Expected behavior**

[2021-03-29 15:47] designerbrent commented on #563
@Xhinh This seems like a local install problem, vs a theme problem. We use the same theme on many site, including gain.community ([comments example](https://gain.community/blog/media-stock-resources-for-your-projects/)) and adventisteducators.org ([comments example](https://adventisteducators.org/2021/02/research-methods-existence-of-god/))

Have you tested it with a default theme, like TwentyTwen

[2021-03-29 15:59] designerbrent commented on #546
This has been fixed and will be included in the upcoming release.

[2021-03-29 15:59] #546 closed, assigned to YauheniKapliarchuk

[2021-04-02 12:47] YauheniKapliarchuk commented on #536
Hi @designerbrent @marianmaximciuc

The main problem that was found (thanks for the help @marianmaximciuc ) - categories that have a slug that was created manually did not find posts related to this category.

As I found out, the reason for this is the correct post search for each of the categories. So I changed the search for posts to by category name, and by its slug.

I am not completely sure t

[2021-04-02 18:27] #536 closed, assigned to YauheniKapliarchuk

[2021-04-06 20:44] designerbrent opened #565 "Option to Remove the "Related Stories" block on posts page"
**Is your feature request related to a problem? Please describe.**
Not every post page needs to have the `Related Stories` content.

**Describe the solution you'd like**
Add an option to disable the `Related Stories` in the `ALPS Theme Settings` page on the `Posts Options` tab.

![2021-04-06 at 4 43 PM](https://user-images.githubusercontent.com/132864/113775868-4bef6200-96f7-11eb-97d0-57ee2055966f

[2021-04-07 19:57] YauheniKapliarchuk commented on #548
Hi @designerbrent

This is my PR for adding this feature

https://github.com/adventistchurch/alps-wordpress/pull/566

Thanks!

[2021-04-18 15:25] YauheniKapliarchuk commented on #565
Hi @designerbrent

I did some mistake and merged changes for current in the scope this ticket https://github.com/adventistchurch/alps-wordpress/pull/566

Could you see changes of this ticket?

Thanks

[2021-04-19 00:56] designerbrent commented on #565
Since that PR already got merged, I'll need you to pull that back into it's own PR. Sorry. I can't merge it again.

[2021-04-19 05:47] YauheniKapliarchuk commented on #565
Please review this PR

https://github.com/adventistchurch/alps-wordpress/pull/568

Thanks

[2021-04-21 18:42] designerbrent commented on #548
Last night we had to make an HOTFIX release on ALPS for Wordpress and I see this morning at the error we talked about last week slipped into the release, likely related to the WPML branch that you merged in.

![2021-04-21 at 2 41 PM](https://user-images.githubusercontent.com/132864/115604772-c13e6380-a2af-11eb-81bf-54257ee7086d.jpg)

Please see about resolving this issue as soon as possible, since

[2021-04-21 18:43] designerbrent commented on #548
Here is a list of the other changes that need to be made to fix this:

## Changes to WPML settings:
- If WPML is not active, don't show the settings.
![2021-04-19 at 6 48 AM](https://user-images.githubusercontent.com/132864/115224975-900d3a00-a0db-11eb-96d0-c2e7f6ddc957.jpg)
- Change the settings name to `WPML Language Selector Settings`

[2021-04-21 20:16] #548 closed, assigned to YauheniKapliarchuk

[2021-04-26 14:24] LeobardoHP opened #571 "Google Form"
**Version of ALPS for Wordpress**
v3

**Describe the bug**
When I use an embedded HTML to use a form made in Google Forms, the page displays the form with the height dimension greatly reduced. Where can I configure to extend the height of the form?
http://iglesianarvarte.org/solicitud-de-asistencia-al-templo/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [http://iglesianarvarte.org/s

[2021-04-27 18:48] designerbrent commented on #571
Sending a response here, but I originally answered the question here: https://github.com/adventistchurch/alps/issues/531

hi @LeobardoHP: For something like this, I would try using a plugin like [Simple CSS](https://wordpress.org/plugins/simple-css/) that allows you to write custom CSS on a per-page basis. Using css like the following should do it:

[code]

If you an add an ID or Class to the iFra

[2021-04-27 18:49] #571 closed, assigned to designerbrent

[2021-05-13 14:13] designerbrent commented on #563
I'm going to close this. If it continues to be a problem, @Xhinh, please reopen it with more information.

[2021-05-13 14:13] #563 closed, assigned to Xhinh

[2021-05-20 17:06] LeobardoHP opened #572 "Instagram Feed"
**Version of ALPS for Wordpress**
v3

**Describe the bug**
I use 10Web Social Photo Feed for Instagram. i created my feed, but don't work, only show "There is no media in this feed", but when click the "follow" button, I can go to my account on instagram.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://iglesianarvarte.org/'
2. Scroll down to 'INSTAGRAM FEED'
3. You can see the

[2021-05-20 20:19] #572 closed, assigned to designerbrent

[2021-06-14 15:24] designerbrent opened #573 "Ability to define related stories"
**Is your feature request related to a problem? Please describe.**
The **Related Stories** block automatically chooses which stories show based on the categories defined for each post. We need a way to set which stories show as related.

**Describe the solution you'd like**
Add a meta-field  that shows at the bottom of the **post** content types with the ability to auto-complete existing **post**

[2021-06-24 14:39] designerbrent opened #575 "Related Stories: Make Thumbnail clickable"
Currently, the only clickable link in the `Related Stories` block is the headline. We need to make the image clickable, too.

![Image 6-24-21 at 10 38 AM](https://user-images.githubusercontent.com/132864/123282326-622be380-d4d8-11eb-9d18-c121f1976442.jpg)

[2021-06-29 21:12] designerbrent commented on #565
This will be merged in a future version of ALPS for Wordpress.

[2021-06-29 21:12] #565 closed, assigned to YauheniKapliarchuk

[2021-07-14 18:16] designerbrent opened #576 "Support for PHP 8.0"
**Version of ALPS for Wordpress**
v3

**Describe the bug**
While testing a WP hosting provider, we found that `ALPS for Wordpress` produces an error on `PHP 8`. The error is as follows:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install a site on `PHP 8.0`.
2. Navigate to a `Post` content page.
3. The front end has a PHP error and the log file shows the message above.

**Expecte

[2021-07-18 16:04] YauheniKapliarchuk opened #577 "PART 1. Migration from Pattern Lab to Storybook."

[2021-08-09 10:18] YauheniKapliarchuk commented on #575
Hi @designerbrent

My PR - https://github.com/adventistchurch/alps-wordpress/pull/579

Thanks

[2021-08-09 13:45] #575 closed, assigned to YauheniKapliarchuk

[2021-08-22 14:33] cdbieling commented on #530
Is there any hope, that this plugin MEC will find support in ALPS within the next time periods? Hoping over a year, that the theme will work with the plugin properly.

[2021-10-25 14:41] semwangajoshua opened #580 "Carbon fields widget error on save or delete"
Can't save or delete the ALPS-Post Feed widget from Page Sidebar. Throws error "The "carbon_fields_alps_widget_post_feed" block was affected by errors and may not function properly. Check the developer tools for more details."
<img width="623" alt="ALPS Widget Error" src="https://user-images.githubusercontent.com/15155296/138716790-429e358b-c82b-401a-9770-bc1009057c1d.PNG">

[2021-10-25 20:47] designerbrent commented on #580
Hi @semwangajoshua

The ALPS Widgets do not fully support the newest version of WordPress Full Site widgets. That is something that we should have in the future, but for now, I would recommend using this plugin (https://wordpress.org/plugins/classic-widgets/) to disable the new editing functions until we are able to support that.

[2021-10-26 18:38] semwangajoshua commented on #580
Thanks for the reply. I'll follow the advice accordingly.

On Mon, Oct 25, 2021, 11:47 PM Brent Hardinge ***@***.***>
wrote:

[2021-11-29 20:23] toompie opened #581 "Undifined variable"
**Version of ALPS for Wordpress**
v3

**Describe the bug**
After installing the theme on the preview I get a few error massages:

Warning: Undefined variable $headerBackgroundImage in D:\xampp\apps\wordpress\htdocs\wp-content\uploads\tmp\sage-cache\338239e81ed566a9b4aeb8e1a461a21b52172d18.php on line 30

Warning: Undefined variable $headerBackgroundImage in D:\xampp\apps\wordpress\htdocs\wp-conten

[2021-12-14 22:16] jkchant opened #582 "Statements for Multi-Lingual Sites"
It would be nice when using WPML to be able to enter the ALPS template options (such as Site and Global branding statements, post options, Footer content, copyright statement, etc) in different languages so that each language on the site can have its own version.  Currently this works for the site logo but not the statements in the template options.

[2022-01-25 14:39] YauheniKapliarchuk opened #583 "Support migration"
- [ ] Add Need templates from patternLab

---------------------------------------------

- [ ] Bug Fixing

[2022-02-10 03:39] hans-olson opened #584 "Localize Google Fonts within Template"
We recently became aware that calling Google Fonts to our template via URLs is a problem.

Here is an article: https://www.theregister.com/2022/01/31/website_fine_google_fonts_gdpr/

Looking at our code (see below) we are doing this:

![signal-2022-02-09-114745_001.jpeg](https://images.zenhubusercontent.com/61f025ec3fa7176b9a631d4e/b10b9e2c-1e51-4db5-8ae1-3d47fa3dc512)

Therefore we need to embed

[2022-02-11 10:51] YauheniKapliarchuk commented on #584
@hans-olson

I am going to investigate this!

Thanks!

[2022-03-31 14:41] georggee14 opened #586 "Default Post Template Error"
**Version of ALPS for Wordpress**
v3

**Describe the bug**
After updating wordpress when I create a new post, and I publish it with the ALPS v3 theme, Wordpress send me an error.
But if I change the template and I use the "Full Width Page Template" it don't send me any kind of issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Install and use the ALPS theme without any kind of variation,

[2022-04-12 14:07] #584 closed, assigned to nobody

[2022-04-27 02:19] hans-olson opened #590 "Dot In Corner of Featured Images"
**Version of ALPS for Wordpress**
v3

**Describe the bug**
Blue dots are showing up in the upper left corner of featured product images on the [BRI website](https://www.adventistbiblicalresearch.org/)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
<img width="612" alt="Screen Shot 2022-04-26 at 10 15 45 PM" src="https://user-images.githubuse

[2022-04-27 21:08] YauheniKapliarchuk commented on #590
Hi @hans-olson, @designerbrent

I see this issue. I think it happens that our styles on this page are broken. I can't find where we include these styles on the theme.

@designerbrent May be you know or remember about it?

Thanks!

[2022-04-28 21:04] YauheniKapliarchuk commented on #590
HI @hans-olson

Unfortunately, my options for the site are limited. I found the problem, it's related to the **_Woocommerce_** plugin, but I can't simulate the problem on my local environment.

I suggest we call and see which plugin is installed and which version, so that I can reproduce this problem locally for sure?

Thanks!

[2022-05-05 18:10] YauheniKapliarchuk commented on #590
Hi @hans-olson, @designerbrent, @johnrbeckett

in [this PR](https://github.com/adventistchurch/alps-wordpress/pull/592) I did fix for current issue.

It was fixed on the book shop page
![Screenshot 2022-05-05 at 21 09 43](https://user-images.githubusercontent.com/62330234/166986220-4f1a4a25-42c0-4274-a312-a9918418fdbf.png)

and for this widget section.
![Screenshot 2022-05-05 at 21 09 15](https://

[2022-05-05 18:11] YauheniKapliarchuk commented on #590
@designerbrent  @johnrbeckett

Could you review this PR and create new release?
Could you setup last version on this site - https://www.adventistbiblicalresearch.org?

Thank you!

[2022-05-16 15:30] YauheniKapliarchuk commented on #576
Hi everyone,

this first PR for supporting php 8 - https://github.com/adventistchurch/alps-wordpress/pull/594

Thanks!

[2022-05-31 12:24] YauheniKapliarchuk commented on #576
Latest version of the current supporting is 3.11.0 just for php 8.0

[2022-05-31 12:24] #576 closed, assigned to YauheniKapliarchuk

[2022-05-31 12:25] YauheniKapliarchuk opened #595 "Support for PHP 8.1 RELEASE: 3.12.0"
Support theme v3 php 8.1 **RELEASE: 3.12.0**

[2022-06-08 22:57] cdbieling commented on #247
@designerbrent is there an update on this topic?

[2022-06-08 23:02] cdbieling commented on #530
@designerbrent I am waiting now 3 years, until the issues are fixed. I am resigned about the slow progress. Calendar Support is not yet there and the homepage is since few years still in alpha / beta.

I could not imagine that a project could be so long in unfinished testing period. Do you have a timeline, when ALPS version 3.0 will be official available? Our Union is using ALPS Version 2. Now aft

[2022-06-08 23:43] designerbrent commented on #247
I wish I could say there was. Unfortunately, I don't have any news and I am no longer working on this project and management has moved on to @johnrbeckett.

[2022-06-08 23:46] designerbrent commented on #530
@dbieling I know it's been a long time and I'm sorry. Other tasks and tickets took priority and I was not able to get this portion finished while I was still working for the General Conference. However, contrary to what you imply, this project is NOT dead and is actively being used on hundreds of sites, including Adventist.org. I know this is something that would be useful, but we have not had tim

[2022-06-14 09:18] Alfrick opened #596 "Setting a hero style of 6 images produces an error"
**Version of ALPS for Wordpress**
v3.11.0

**Describe the bug**
If I set the following here style on a page, I get an error: "Half screen image gallery with text overlay (Max Images: 6)".
However, setting the other styles with a lesser number of images does not produce the error.

**To Reproduce**
Steps to reproduce the behavior:
1.  Create a new page
2.  Select the hero configuration of "Half scr

[2022-06-28 18:12] YauheniKapliarchuk commented on #595
**[BRANCH FOR THIS ISSUE](https://github.com/adventistchurch/alps-wordpress/tree/595-support-php_8.1_release-3.12.0)**

Migration status:
✅ update new Sage version ;
✅ setup all libraries;
✅ setup carbon fields 3.3.4;
✅ configure admin panel (ALPS Theme Settings);
✅ Filters (filters.php)

✅ 404 page;
✅ Post Page (remove default page);
✅ Search (search.blade.php);
✅ Single Page (single.blade.php);

[2022-07-03 20:38] YauheniKapliarchuk commented on #595
Migration status:
✅ ALPS Theme settings:

- ✅ [GLOBAL]
   - ✅ Theme switching;
   - ✅ Logo switching;
   - ✅ Dark Theme;
   - ✅ Grid Lines;
   - ✅ ALPS Core Files;
   - ✅ Site Branding Statement; **TBD**
   - ✅ Global Branding Statement; **TBD**
- ✅ [Posts]
   - ✅ Home Page Title;
   - ✅ Hide SideBar;
   - ✅ Hide Related Stories Image;
   - ✅ Archives Page Title;
   - ✅ Hide the SideBar (Archive p

[2022-07-06 15:58] YauheniKapliarchuk commented on #595
✅ Guthenberg plugin:
   - ✅ Componetns;
   - ✅ Media;
   - ✅ Design;
✅ WPML plugin;

[2022-07-07 22:44] YauheniKapliarchuk commented on #595
✅ Update languages configuration:
- ✅ De;
- ✅ Es;
- ✅ ko_Kr;
- ✅ Ru;

[2022-07-25 21:52] heredialf opened #598 "I get an error loading the list of blogs"
**Version of ALPS for Wordpress**
v3 /

**Describe the bug**
I get an error when loading the blog posts section.

**To Reproduce**
Steps to reproduce the behavior:
1. I load the blog page.
2. Immediately the error appears.
3. Also, when opening some publication the date does not appear.

**Expected behavior**
Two things are required to fix.
1. Remove bug on post blog loading
2. Date display when o

[2022-07-29 16:23] Alfrick commented on #596
@johnrbeckett
@YauheniKapliarchuk
Is there an update to this issue?
Thanks.

[2022-09-11 18:10] AdrianSh opened #602 "Polylang plugin causes a critical error"
I got the following on the page:

[code]

Then disabling the $logoFields causes then:
[code]

I finally had to disable Polylang to get it work.

May our Lord bless you and His angels collaborate with you!

[2022-09-12 05:45] leeian23 opened #603 "ALPS Gutenberg Blocks: Download failed cURL 7 error"
![image](https://user-images.githubusercontent.com/113330324/189581737-4a4347b0-e1b1-4519-beab-2cbc004b2e6d.png)
When I install this plug-in this error pops up. What should I do?

[2022-09-13 14:36] hans-olson opened #604 "CSS Update"

[2022-09-13 14:37] hans-olson opened #605 "CSS"

[2022-09-13 14:37] hans-olson opened #606 "css"

[2022-09-13 14:37] #209 closed

[2022-09-13 14:37] #253 closed

[2022-09-13 14:39] #335 closed, assigned to nobody

[2022-09-13 14:39] hans-olson opened #607 "Releases CSS 3.11.6"

[2022-09-13 14:41] #606 closed, assigned to nobody

[2022-09-13 14:41] #605 closed, assigned to nobody

[2022-09-13 14:41] #604 closed, assigned to nobody

[2022-09-13 14:56] #577 closed, assigned to nobody

[2022-09-13 14:59] #181 closed

[2022-09-13 14:59] #115 closed

[2022-09-13 15:00] #1 closed

[2022-09-13 15:00] #132 closed

[2022-09-13 15:00] #277 closed, assigned to nobody

[2022-09-13 15:01] #389 closed, assigned to nobody

[2022-09-13 15:05] #583 closed, assigned to YauheniKapliarchuk

[2022-09-27 05:38] YauheniKapliarchuk opened #608 "Prepare new release of CSS - 3.11.6"

[2022-09-27 06:11] YauheniKapliarchuk commented on #608
- Under bullet was fixed for Chrome browser;
- Search and Menu icons was set in center;
- Search button is not responsive; - [ALPS 570](https://app.zenhub.com/workspaces/alps---core-and-wp-583365a5f9e6361b5cc5f5f6/issues/adventistchurch/alps/570)

[2022-09-27 07:55] YauheniKapliarchuk commented on #608
**BEFORE**

Menu Section -
![Screenshot 2022-09-27 at 11.49.34.png](https://images.zenhubusercontent.com/5fad62a4ad9b1d5fdb82c9f8/4e7ef4dd-6410-4cb2-b811-f6effc8599be)
![Screenshot 2022-09-27 at 11.49.56.png](https://images.zenhubusercontent.com/5fad62a4ad9b1d5fdb82c9f8/812d8a75-0d7e-47c2-8aa6-c155eafd80a7)

Under Bullet -
![Screenshot 2022-09-27 at 11.57.23.png](https://images.zenhubusercontent.c

[2022-09-27 10:10] #607 closed, assigned to nobody

[2022-09-27 10:38] YauheniKapliarchuk commented on #573
Hi @designerbrent I need more details regarding this issue.
Can we contact asap?

Thanks,
Best Regards!

[2022-09-28 17:13] cdbieling commented on #549
Thank you so much for this hint. I had now time to translate the file. I give you the files via link.

https://cloud.cdbieling.de/index.php/s/CpTpNPYF66JFRTN

[2022-10-03 10:36] daniel-eesti opened #609 "Footer localisation | Copyright statement"

[2022-10-03 10:37] daniel-eesti opened #610 "Footer localisation | Address"

[2022-10-03 10:39] daniel-eesti commented on #609
**Description**
Make footer content localizable. This task includes localization of the "Copyright Statement".

Localization could be implemented the same way as logo localization is implemented (ALPS Theme Settings).

![image.png](https://images.zenhubusercontent.com/6202899afa52985a8d095480/05273009-392c-4eed-ad21-1fc286213a78)

[2022-10-03 10:40] daniel-eesti commented on #610
**Description**
Make footer content localizable. This task includes localization of the "Address".

Localization could be implemented the same way as logo localization is implemented (ALPS Theme Settings).

![image.png](https://images.zenhubusercontent.com/6202899afa52985a8d095480/afc09465-c267-49df-adc4-63a767b31081)

[2022-10-04 09:08] cdbieling commented on #530
Thank you for your comment. Can anyone give a clue, how to load the header and footer-part from blade into the php-file. Modern Tribe Calendar is very friendly for developer. But I have no clue and experience with blade, how to import the header and footer of ALPS into a php-file. If anyone can give me this instruction, I could try to fix the problem on my home church site for myself.

[2022-10-05 15:10] johnrbeckett commented on #608
Please get this on the test environment we set up so that we can test it.

[2022-10-05 15:11] johnrbeckett commented on #608
https://alps-demo.adventist.io/

[2022-10-07 03:41] hans-olson opened #611 "Resizing of images"
Images are not sizing well when uploaded to Wordpress using ALPSv3.

[2022-10-07 18:21] augustin-colesnic opened #612 "Carbon Fields library encountered errors in WordPress v6"
**Version of ALPS for Wordpress**
v3

**Describe the bug**
Message in WP admin Panel is:

**Screenshots**

<img width="691" alt="image" src="https://user-images.githubusercontent.com/592416/194624012-78598812-3c09-43b1-976c-fce3b22cd494.png">

[2022-10-18 06:51] YauheniKapliarchuk commented on #608
Hi everyone,

I am going to prepare fix for the next release.
It need for fix menu for another languages.

ALPS Wordpress  - https://github.com/adventistchurch/alps-wordpress/pull/613
ALPS Styles - https://github.com/adventistchurch/alps/pull/574

**!!! Before merge need to discuss about version, my propose 3.11.7 and add to repo need files for release.**

Thanks,
Best Regards!

CC: @johnrbeckett

[2022-10-26 18:29] dbieling commented on #584
I got notified of our union website administrator, that we have to remove the google fonts from the ALPS urgently. How can I deactivate in ALPS the google apis fetch?

[2022-10-26 19:07] hans-olson commented on #584
Google Fonts are part of the template. There is no way to remove them quickly. What is the concern?

Thank you,

Hans

-
Hans Olson, PMP, (ISC)² Candidate
Email: ***@***.******@***.***>
Voice/Text/Signal: +1-909-929-5300
Fax: +1-202-204-5739
Zoom ID: https://adventist.zoom.us/my/hansolson

From: Daniel Bieling ***@***.***>
Date: Wednesday, October 26, 2022 at 2:29 PM
To: adventistchurch/alps-wordp

[2022-10-26 19:18] cdbieling commented on #584
Dear Hans,
thank you for your very fast reply. I thought it is a issue with plugins and youtube. But as discussed in the github-issue with the link of [website_fine_google_fonts_gdpr/](https://www.theregister.com/2022/01/31/website_fine_google_fonts_gdpr/). It is for german websites not allowed to use google fonts direct from google server. But if I investigate into the developer console, the prob

[2022-10-26 19:20] hans-olson commented on #584
Hello Daniel,

The fonts are localized, so they are not being served by Google. Which website is of concern?

Thank you,

Hans

-[Text  Description automatically generated]
Hans Olson, PMP, (ISC)² Candidate
Email: ***@***.******@***.***>
Voice/Text/Signal: +1-909-929-5300
Fax: +1-202-204-5739
Zoom ID: https://adventist.zoom.us/my/hansolson

From: Daniel Bieling ***@***.***>
Date: Wednesday, Octobe

[2022-10-26 19:24] cdbieling commented on #584
I am struggling with: https://adventgemeinde-lahr.de

[2022-10-26 19:41] hans-olson commented on #584
The font is showing localized for me. Is there another issue?

-Hans

-
Hans Olson, PMP, (ISC)² Candidate
Email: ***@***.******@***.***>
Voice/Text/Signal: +1-909-929-5300
Fax: +1-202-204-5739
Zoom ID: https://adventist.zoom.us/my/hansolson

From: Daniel Bieling ***@***.***>
Date: Wednesday, October 26, 2022 at 3:24 PM
To: adventistchurch/alps-wordpress ***@***.***>
Cc: Hans Olson ***@***.***>, Me

[2022-10-26 20:43] hans-olson opened #615 "ALPS CSS 3.11.7 Causing Secondary Menu Error"
**Version of ALPS for Wordpress**
Version: 3.13.1
CSS 3.11.7
Wordpress: 6.0.3
PHP: 8.0.x

**Describe the bug**
"Secondary Menu" items are mashed together.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://staging.adventistbiblicalresearch.org/'
2. Look at the top right corner
3. See the "Secondary Menu" items that are mashed together.

**Expected behavior**
To see it correctly,

[2022-10-26 20:46] hans-olson commented on #615
@johnrbeckett

[2022-10-26 20:46] hans-olson commented on #615
@johnrbeckett You might want to look at this ticket.

[2022-10-26 21:08] hans-olson commented on #615
Here's another site where it is happening...https://www.adventistvisa.org/

[2022-10-26 21:48] cdbieling commented on #584
Thank you for your assistance. Google recaptcha was causing the trouble....
Only issues are the already opened issues on github. #530

[2022-10-27 02:27] hans-olson commented on #615
Here's one more...https://www.adventist.org/

[2022-10-31 15:42] YauheniKapliarchuk commented on #615
@designerbrent @hans-olson

Hi,

I think we can close it.

Thanks,
Best Regards!

[2022-11-01 00:34] #615 closed, assigned to YauheniKapliarchuk

[2022-11-01 01:59] claytonk commented on #615
Still seeing this problem on my MODX sites using CSS 3.11.8. Were there markup changes as well? Here are a couple examples:

[https://creationsabbath.net/](url)
[https://women.adventist.org/](url)

Rolling back to 3.11.6 fixes the issue. Please advise if I need to make markup changes since my sites don't use the WP theme.

[2022-11-01 06:24] YauheniKapliarchuk commented on #615
Hi @claytonk

In this release, not only the styles have been updated, but also the components of the theme. What I mean.

Updating the styles was required, since some languages have rather long names in the menu and therefore it turns out about the same picture as you have on the site. Therefore, it was decided to update the components in me, or rather to remove some styles.

On your website I see

[2022-11-01 13:09] claytonk commented on #615
Thanks for the clarification, I'll make these changes. No, I'm not currently using a library because many of these sites includes customized/altered elements.

[2022-11-01 13:12] YauheniKapliarchuk commented on #615
@claytonk thank you for your answer.
If you have a questions - you are welcome!

Thanks,
Best Regards!

[2022-11-01 14:02] #608 closed, assigned to YauheniKapliarchuk

[2022-11-09 21:36] hans-olson opened #617 "Structured Data Issues Detected Events"
Google Search Console has identified that your site is affected by 7 Events structured data issue(s). The following issues were found on your site.

Top non-critical issues**

- Missing field "eventAttendanceMode"
- Missing field "performer"
- Missing field "offers"
- Missing field "image"
- Missing field "organizer"

**Non-critical issues are suggestions for improvement, but do not prevent the pa

[2022-11-16 11:49] daniel-eesti opened #619 "CSS issues on production"
There are issues with styles on every www.adventist.org page which has side bar.
1. H1 tag isn't bold anymore
2. Sidebar | "Our believes" shifted
3. Sidebar | Navigation menu broken style

**Environment**: production
**Browser**: every (tested on Chrome, Safari, both desktop and mobile)

![thumbnail_image001.jpeg](https://images.zenhubusercontent.com/6202899afa52985a8d095480/5052e31f-a7e8-4b72-8b2

[2022-11-23 02:40] hans-olson commented on #619
Updated the two folders and the issue still exists

- https://dev-www.adventist.org/using-the-psalms-to-pray/
- https://www.adventist.org/using-the-psalms-to-pray/

[2022-11-30 05:38] #619 closed, assigned to nobody